< [GMIT Data Analytics](https://web.archive.org/web/20201029063153/https://www.gmit.ie/computer-science-and-applied-physics/higher-diploma-science-computing-data-analytics-ict) | [Table of Contents](https://github.com/E6985) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) >

![GMIT](https://github.com/E6985/pda-numpy-random/blob/main/img/gmit.png?raw=true)

## Programming for Data Analysis - Project 2020
## Due: last commit on or before January 6th, 2021
***

<a id="top"></a>
< [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [References](#references) >

## Problem statement
For this project you must create a dataset by simulating a real-world phenomenon of your choosing. You may pick any phenomenon you wish – you might pick one that is of interest to you in your personal or professional life. Then, rather than collect data related to the phenomenon, you should model and synthesise such data using Python. We suggest you use the ``numpy.random`` package for this purpose.

Specifically, in this project you should:

[Task 1](#task-1). Choose a Real-world Phenomenon.

> Real-world phenomenon that can be measured and for which you could collect at least one-hundred data points across at least four different variables.

[Task 2](#task-2). Types of Variables - Distributions - Relationships.

> Investigate the types of variables involved, their likely distributions, and their relationships with each other.

[Task 3](#task-3). Synthesise/Simulate a Dataset.

> Synthesise/simulate a dataset as closely matching their properties as possible.

[Task 4](#task-4). Implement Simulation.

> Implement the simulation in a Jupyter notebook – the dataset itself can simply be displayed in an output cell within the notebook.

Note that this project is about simulation – you must synthesise a data set. Some students may already have some real-world datasets in their own files. It is okay to base your synthesised dataset on these should you wish (please reference it if you do), but the main task in this project is to create a synthesised dataset. The next section gives an example project idea.

## END

## Conventions Used in This Jupyter Notebook
***

**bold** indicates variables of interest

&#x26AA; indicate code commentary

## END

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Task 1](#task-1) | [Task 2](#task-2) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >
<a id="project-plan"></a>
## Project Plan
### Living document updated throughout the lifecycle of the Project.
***

- summarising the project throughout its lifecycle in conjunction with git commit history [1]

<!--
[1] No Reference.
-->

###### Date Representation
***

- ISO 8601 standard provides for an unambiguous calendar-and-clock format that is internationally understood [1] and provides the example ``1985-04-12/06-25`` for a time interval starting at 12 April 1985 and ending on 25 June 1985 [2] 


- notebook will use the ISO 8601 standard wrapping the time period within either a closed interval in which all limit points are included [2] - $[{1985}-{04}-{12} / {06}-{25}]$ - or a half-closed interval in which one endpoint is included but not the other [4] - $[{1985}-{04}-{12} / {06}-{25})$ - $({1985}-{04}-{12} / {06}-{25}]$ - presented before further analysis of the time period [5]

<!--
[1] International Standards Organisation, "ISO 8601 Date and time format," [iso](https://web.archive.org/web/20201218180141/https://www.iso.org/iso-8601-date-and-time-format.html), n.d.

[2] H. Malmedal, "Range of Dates (1999-01 — 2012-12)?," [tex.stackexchange](https://web.archive.org/web/20201214104244/https://tex.stackexchange.com/questions/54859/range-of-dates-1999-01-2012-12?noredirect=1&lq=1), May 2012.

[3] Wolfram "Closed Interval," [mathworld.wolfram](https://web.archive.org/web/20201214104047/https://mathworld.wolfram.com/ClosedInterval.html), n.d.

[4] Wolfram, "Half-Closed Interval," [mathworld.wolfram](https://web.archive.org/web/20201106190646/https://mathworld.wolfram.com/Half-ClosedInterval.html), Ootober 2020.

[5] No Reference.
-->

## END

## Packages
***

In [1]:
# b_T_hird_P_arty-imports
import pandas as pd
import numpy as np

## Functions
***

In [2]:
# define function - fCovid19
def fCovid19(nRowCldIntervalS,nRowCldIntervalE,nColVarInterest,nArrPercent):
    global nCases,nHospital,nICU,nDeaths    
    nPopulate=0
    if nColVarInterest=="cases":
        nPopulate=nCases
    elif nColVarInterest=="hospital":
        nPopulate=nHospital
    elif nColVarInterest=="icu":
        nPopulate=nICU
    elif nColVarInterest=="deaths":
        nPopulate=nDeaths
    print("================== RUN UP TO 23:59 (GMT) {} ===================".format(
        nRowCldIntervalE))
    for nDate in range(len(dfCovid19.loc[:nRowCldIntervalS]),
                       len(dfCovid19.loc[:nRowCldIntervalE])):
        nPopulate+=nPopulate*(nArrPercent[nDate-len(dfCovid19.loc[:nFrom])]/100)
        dfCovid19[nColVarInterest].values[nDate]=round(nPopulate)
        # package pandas - subpackage core - subpackage tools - module datetimes
        nRowCldIntervalE=pd.to_datetime(nRowCldIntervalE) # convert to datetime
        # package pandas - subpackage _libs - subpackage tslibs - moduie timedeltas
        nRowCldIntervalE+=pd.Timedelta(1,unit="d") # duration initially x1 day
    print("   <array element(s) (percent growth - rounded) applied to each day>")
    print(nArrPercent)
    return round(nPopulate)

nTo,nFrom="2020-02-28","2020-02-27"

# define function - fEpidemicDay
def fEpidemicDay(nParDF,nParTo=nTo):
    global nFrom
    print("<epidemic day> : {:>3} is {} ({}/{}] = {:>3} day(s)".format(
        len(nParDF.loc[:nParTo]),nParTo,nFrom,nParTo,
        len(nParDF.loc[:nParTo])-len(nParDF.loc[:nFrom])))
    print("="*71)

# define function - fStatus
def fStatus(nParDF,nParFrom=nFrom,nParTo=nTo):
    if nParFrom=="2020-02-27":
        nParDF["C_DIFF"]="..."
        nParDF["C_PCGR"]="..."
        nParDF["H_DIFF"]="..."
        nParDF["H_PCGR"]="..."
        nParDF["I_DIFF"]="..."
        nParDF["I_PCGR"]="..."
        nParDF["D_DIFF"]="..."
        nParDF["D_PCGR"]="..."
    else:
        for nDate in range(len(nParDF.loc[:nParFrom]),len(nParDF.loc[:nParTo])):
            nParDF["C_DIFF"].values[nDate]=nParDF.iloc[nDate][0]-nParDF.iloc[nDate-1][0]
            nParDF["C_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][0]-nParDF.iloc[nDate-1][0])/nParDF.iloc[nDate][0])*100)
            nParDF["H_DIFF"].values[nDate]=nParDF.iloc[nDate][3]-nParDF.iloc[nDate-1][3]
            nParDF["H_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][3]-nParDF.iloc[nDate-1][3])/nParDF.iloc[nDate][3])*100)
            nParDF["I_DIFF"].values[nDate]=nParDF.iloc[nDate][6]-nParDF.iloc[nDate-1][6]
            nParDF["I_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][6]-nParDF.iloc[nDate-1][6])/nParDF.iloc[nDate][6])*100)
            nParDF["D_DIFF"].values[nDate]=nParDF.iloc[nDate][9]-nParDF.iloc[nDate-1][9]
            nParDF["D_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][9]-nParDF.iloc[nDate-1][9])/nParDF.iloc[nDate][9])*100)
    return nParDF[nParFrom:nParTo]

## END

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 2](#task-2) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >
<a id="task-1"></a>
***
## Task 1
### Choose a Real-world phenomenon.
***

- $[{2020}-{02}-{28} / {07}-{03}]$ - real-world phenomenon under investigation is the Republic of Ireland - Coronavirus - SARS-CoV-2 (Covid-19) Pandemic from day zero on 28th February, 2020 [1] - ``nZeroDay`` - to the lowest 14-day incidence rate recorded on July 3th, 2020 when the national 14-day incidence rate was 2.98 cases per 100,000 population [2] - ``n14DLowInc``

<!--
[1] Department of Health, "Statement from the National Public Health Emergency Team - Saturday 29 February," [gov](http://web.archive.org/web/20201207174242/https://www.gov.ie/en/press-release/2f75fd-statement-from-the-national-public-health-emergency-team-sat-29-feb), February 2020.

[2] Department of Health, "Statement from the National Public Health Emergency Team - Thursday 22 October," [gov](https://web.archive.org/web/20201211153653/https://www.gov.ie/en/press-release/6eb15-statement-from-the-national-public-health-emergency-team-thursday-22-october), October 2020.
-->

In [3]:
nZeroDay,nCases=nTo,1
nZeroDay

'2020-02-28'

In [4]:
n14DLowInc="2020-07-03"
n14DLowInc

'2020-07-03'

&#x00A9; creating fixed frequency array - ``nEpidemic`` - object - ``DatetimeIndex`` [1]

<!--
[1] Anaconda (date_range), "pandas.core.indexes.datetimes," Docstring, June 2020.
-->

In [5]:
# package pandas - subpackage core - subpackage indexes - module datetimes
nEpidemic=pd.date_range(start=nZeroDay,end=n14DLowInc,closed=None) # (2020−02−27/07−03]

&#x00A9; creating empty data structure - ``dfCovid19`` - index set to - ``nEpidemic`` - adding columns - variables of interest - **cases** - **hospital** - **icu** - **deaths** - temporary columns with underscore suffix **\_DIFF** and **\_PCGR** will be permanently dropped when the dataset is synthesised [1]

> **_DIFF** - represents addition variable of interest each day

> **_PCGR** - represents percentage variable of interest growth rate each day

<!--
[1] Anaconda (DataFrame), "pandas.core.frame," Docstring, June 2020.
-->

In [6]:
# package pandas - subpackage core - module frame
dfCovid19=pd.DataFrame(index=nEpidemic,columns=["cases","C_DIFF","C_PCGR",
                                                "hospital","H_DIFF","H_PCGR",
                                                "icu","I_DIFF","I_PCGR",
                                                "deaths","D_DIFF","D_PCGR",])

In [7]:
# package pandas - subpackage _config - module config
pd.set_option("display.max_rows",len(dfCovid19)) # modify notebook settings

In [8]:
# package pandas - subpackage core - module generic
dfCovid19.head()

,cases,C_DIFF,C_PCGR,hospital,H_DIFF,H_PCGR,icu,I_DIFF,I_PCGR,deaths,D_DIFF,D_PCGR
2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
fEpidemicDay(dfCovid19,n14DLowInc)

<epidemic day> : 127 is 2020-07-03 (2020-02-27/2020-07-03] = 127 day(s)
=======================================================================

In [10]:
# package pandas - subpackage core - module generic
dfCovid19.tail()

,cases,C_DIFF,C_PCGR,hospital,H_DIFF,H_PCGR,icu,I_DIFF,I_PCGR,deaths,D_DIFF,D_PCGR
2020-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Coronavirus
***

- coronaviruses are a large family of viruses causing illnesses which range from the common cold to much more severe respiratory illnesses such as Severe Acute Respiratory Syndrome (SARS) [1]

<!--
[1] Government of Ireland, "Ireland's National Action Plan in response to COVID-19 (Coronavirus)," [emergencyplanning](http://web.archive.org/web/20201207192548/https://www.emergencyplanning.ie/en), p. 1, March 2020.
-->

### Covid-19
***

[<img style="float:right;" src="img/covid-19.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/covid-19.png)

- Covid-19 is a new disease caused by a strain of coronavirus not seen in humans before December 2019 - as a result there is no immunity in the population which means that everyone is susceptible to infection - people can catch Covid-19 from others who have the virus through inhaling small droplets from coughing or sneezing or touching contaminated surfaces and then touching their face [1]

<!--
[1] Government of Ireland, "Ireland's National Action Plan in response to COVID-19 (Coronavirus)," [emergencyplanning](http://web.archive.org/web/20201207192548/https://www.emergencyplanning.ie/en), p. 1, March 2020.
-->

***(Image) A. Eckert, D. Higgins, "Disease caused by the novel coronavirus officially has a name: Covid-19," [statnews](http://web.archive.org/web/20201207194606/https://www.statnews.com/2020/02/11/disease-caused-by-the-novel-coronavirus-has-name-covid-19) February 2020.***

### Epidemic Investigation
***

[<img style="float:right;" src="img/flatten-curve.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/flatten-curve.png)

- the early stage of an epidemic if uncontrolled results in very rapid growth in the number of new infections ``cases`` - exponential growth - the Irish Epidemiological Modelling Advisory Group (IEMAG) - forecasted what an unmitigated epidemic might look like if uncontrolled predicting as many as 15,000 cases in Ireland by the end of March - this was the driving force behind flattening the curve campaign early in the emergency [1]

<!--
[1] P. Nolan (IEMAG), "Live update on new coronavirus cases confirmed in Ireland (30/03/2020)," [VirginMediaNews](https://web.archive.org/web/20201207122857if_/https://www.facebook.com/VirginMediaNews/videos/203845624391502), March 2020.
-->

***(Image) Department of Health, "Lower & Delay the Epidemic Peak," [twitter](https://web.archive.org/web/20201127023317/https://twitter.com/CMOIreland/status/1239554134279360517/photo/1) March 2020.***

### Zero Day
***

- $[{2020}-{02}-{28} / {02}-{29})$ - day zero of the epidemic was the 28th February, 2020 - notified the following day - confirmed case was a male patient in the eastern part of the country - ``nCases`` [1]

<!--
[1] Department of Health, "Statement from the National Public Health Emergency Team - Saturday 29 February," [gov](http://web.archive.org/web/20201207174242/https://www.gov.ie/en/press-release/2f75fd-statement-from-the-national-public-health-emergency-team-sat-29-feb), February 2020.
-->

### Testing Backlog
***

- $[{2020}-{04}-{10} / {04}-{19}]$ - in April reporting of cumulative total cases appeared to show an increase in the number of people contracting the disease - this was due to a backlog of cases including results coming from German laboratories being included in the figures - previous testing constraints such as the shortage of reagents and long turnaround times for test results had led to underreporting [1][2][3][4][5][6][7][8][9][10][11]

<!--
[1] F. Kelly, J. Power, "Harris challenges HSE to speed up turnaround time for Covid-19 test results," [irishtimes](https://web.archive.org/web/20201211160620/https://www.irishtimes.com/news/health/coronavirus/harris-challenges-hse-to-speed-up-turnaround-time-for-covid-19-test-results-1.4228062), April 2020.

[2] Department of Health, "Statement from the National Public Health Emergency Team - Friday 10 April," [gov](https://web.archive.org/web/20201211152829/https://www.gov.ie/en/press-release/895657-statement-from-the-national-public-health-emergency-team-friday-10-a), April 2020.

[3] Department of Health, "Statement from the National Public Health Emergency Team - Saturday 11 April," [gov](https://web.archive.org/web/20201211152726/https://www.gov.ie/en/press-release/28cb70-statement-from-the-national-public-health-emergency-team-saturday-11), April 2020.

[4] Department of Health, "Statement from the National Public Health Emergency Team - Sunday 12 April," [gov](https://web.archive.org/web/20200815205120/https://www.gov.ie/en/press-release/ecbc11-statement-from-the-national-public-health-emergency-team-sunday-12-a), April 2020.

[5] Department of Health, "Statement from the National Public Health Emergency Team - Monday 13 April," [gov](https://web.archive.org/web/20201211152442/https://www.gov.ie/en/press-release/466968-statement-from-the-national-public-health-emergency-team-monday-13-a), April 2020.

[6] Department of Health, "Statement from the National Public Health Emergency Team - Tuesday 14 April," [gov](https://web.archive.org/web/20201211152331/https://www.gov.ie/en/press-release/17f5cb-statement-from-the-national-public-health-emergency-team-tuesday-14-), April 2020.

[7] Department of Health, "Statement from the National Public Health Emergency Team - Wednesday 15 April," [gov](https://web.archive.org/web/20201211152121/https://www.gov.ie/en/press-release/e2be7b-statement-from-the-national-public-health-emergency-team-wednesday-1), April 2020.

[8] Department of Health, "Statement from the National Public Health Emergency Team - Thursday 16 April," [gov](https://web.archive.org/web/20201211152034/https://www.gov.ie/en/press-release/0906df-statement-from-the-national-public-health-emergency-team-thursday-16), April 2020.

[9] Department of Health, "Statement from the National Public Health Emergency Team - Friday 17 April," [gov](https://web.archive.org/web/20201211151911/https://www.gov.ie/en/press-release/78ca7b-statement-from-the-national-public-health-emergency-team-friday-17-a), April 2020.

[10] Department of Health, "Statement from the National Public Health Emergency Team - Saturday 18 April," [gov](https://web.archive.org/web/20201211151747/https://www.gov.ie/en/press-release/03791b-statement-from-the-national-public-health-emergency-team-saturday-18), April 2020.

[11] Department of Health, "Statement from the National Public Health Emergency Team - Sunday 19 April," [gov](https://web.archive.org/web/20201211151409/https://www.gov.ie/en/press-release/2ebc1a-statement-from-the-national-public-health-emergency-team-sunday-19-a), April 2020.
-->

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >
<a id="task-2"></a>
***
## Task 2
### Types of Variables - Distributions - Relationships.

### Table of Contents

* [Parameters](#parameters)
    * [cases](#cases)
    * [hospital](#hospital)
    * [icu](#icu)
    * [deaths](#deaths)
***

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >

<a id="parameters"></a>
###  Parameters
***

< [Table of Contents](#task-2) | [cases](#cases) | [hospital](#hospital) | [icu](#icu) | [deaths](#deaths) >

- variables of interest - Covid-19 related - i) cumulative daily number of infections - **cases** - ii) cumulative daily number of admissions to hospital - **hospital** - iii) cumulative daily number of admissions to intensive care units - **icu** - cumulative daily number of deaths - **deaths** [1]

<!--
[1] No Reference.
-->

<a id="cases"></a>
< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >

###  Parameter - cases
***

< [Table of Contents](#task-2) | [hospital](#hospital) | [icu](#icu) | [deaths](#deaths) >

In [11]:
nColumn="cases"
nCases

1

&#x26AA; populate DataFrame ``dfCovid19`` - initialise first case of Covid-19 [1]

<!--
[1] Department of Health, "Statement from the National Public Health Emergency Team - Saturday 29 February," [gov](http://web.archive.org/web/20201207174242/https://www.gov.ie/en/press-release/2f75fd-statement-from-the-national-public-health-emergency-team-sat-29-feb), February 2020.
-->

In [12]:
fCovid19(nFrom,nTo,nColumn,[nCases])
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-02-28 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1]
<epidemic day> :   1 is 2020-02-28 (2020-02-27/2020-02-28] =   1 day(s)
=======================================================================

           cases C_DIFF C_PCGR
2020-02-28     1    ...    ...

(1) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.***

[<img style="float:right;" src="img/log-linear.png" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png)

- $[{2020}-{02}-{29} / {04}-{16}]$ [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows the cumulative - **cases** - **hospital** - **icu** - **deaths** [9]


- $[{2020}-{02}-{29} / {04}-{16}]$ log-linear plots are used to show epidemic tends (exponential growth as a straight line) with the effect that any subtle changes in the growth rate of an epidemic will be evident on these plots [8][9] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))


- $[{2020}-{02}-{03} / {03}-{16}]$ with most of the external tests results from the German laboratories backdated [1][2][3][4][5][6][7] the log-linear plot shows a positive increase on the vertical (y-axis) from the beginning of the epidemic - rapid growth evident [8][9] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))

<!--
[1] Department of Health, "Statement from the National Public Health Emergency Team - Friday 10 April," [gov](https://web.archive.org/web/20201211152829/https://www.gov.ie/en/press-release/895657-statement-from-the-national-public-health-emergency-team-friday-10-a), April 2020.

[2] Department of Health, "Statement from the National Public Health Emergency Team - Saturday 11 April," [gov](https://web.archive.org/web/20201211152726/https://www.gov.ie/en/press-release/28cb70-statement-from-the-national-public-health-emergency-team-saturday-11), April 2020.

[3] Department of Health, "Statement from the National Public Health Emergency Team - Sunday 12 April," [gov](https://web.archive.org/web/20200815205120/https://www.gov.ie/en/press-release/ecbc11-statement-from-the-national-public-health-emergency-team-sunday-12-a), April 2020.

[4] Department of Health, "Statement from the National Public Health Emergency Team - Monday 13 April," [gov](https://web.archive.org/web/20201211152442/https://www.gov.ie/en/press-release/466968-statement-from-the-national-public-health-emergency-team-monday-13-a), April 2020.

[5] Department of Health, "Statement from the National Public Health Emergency Team - Tuesday 14 April," [gov](https://web.archive.org/web/20201211152331/https://www.gov.ie/en/press-release/17f5cb-statement-from-the-national-public-health-emergency-team-tuesday-14-), April 2020.

[6] Department of Health, "Statement from the National Public Health Emergency Team - Wednesday 15 April," [gov](https://web.archive.org/web/20201211152121/https://www.gov.ie/en/press-release/e2be7b-statement-from-the-national-public-health-emergency-team-wednesday-1), April 2020.

[7] Department of Health, "Statement from the National Public Health Emergency Team - Thursday 16 April," [gov](https://web.archive.org/web/20201211152034/https://www.gov.ie/en/press-release/0906df-statement-from-the-national-public-health-emergency-team-thursday-16), April 2020.

[8] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

[9] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.
-->

&#x26AA; populate DataFrame ``dfCovid19`` - initialise zero cases in the run up to 3rd March [1] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png)) - interval reported no new cases [2][3][4]

<!--
[1] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.

[2] Department of Health, "Statement from the National Public Health Emergency Team - Saturday 29 February," [gov](http://web.archive.org/web/20201207174242/https://www.gov.ie/en/press-release/2f75fd-statement-from-the-national-public-health-emergency-team-sat-29-feb), February 2020.

[3] Department of Health, "Statement from the National Public Health Emergency Team - Sunday 1 March," [gov](https://web.archive.org/web/20201115152802/https://www.gov.ie/en/press-release/9771d5-statement-from-the-national-public-health-emergency-team), March 2020.

[4] Department of Health, "Statement from the National Public Health Emergency Team - Monday 2 March," [gov](https://web.archive.org/web/20201229114816/https://www.gov.ie/en/press-release/6b8e25-statement-from-the-national-public-health-emergency-team-monday-2-ma), March 2020.
-->

In [13]:
nFrom,nTo="2020-02-28","2020-03-02"
fCovid19(nFrom,nTo,nColumn,[nCases,nCases,nCases])
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-02 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1, 1, 1]
<epidemic day> :   4 is 2020-03-02 (2020-02-28/2020-03-02] =   3 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-02-28     1    ...     ...
2020-02-29     1      0  00.000
2020-03-01     1      0  00.000
2020-03-02     1      0  00.000

- $[{2020}-{03}-{03} / {03}-{12}]$ there was a steady increase in the run up to the 13th March before the first set of moderate social distancing measures were introduced at 6 p.m. on the 12th March - closing schools/universities (pubs later) [1][2] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))

<!--
[1] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

[2] P. Leahy, P. Cullen, S. Lynch, F. Kelly, "Coronavirus: Schools, colleges and childcare facilities in Ireland to shut," [irishtimes](https://www.irishtimes.com/news/health/coronavirus-schools-colleges-and-childcare-facilities-in-ireland-to-shut-1.4200977), March 2020.
-->

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``125%`` using ``numpy.random.Generator.poisson`` in the run up to 6th March [1] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))

<!--
[1] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.

[2] Anaconda (poisson), "numpy.random.Generator," Docstring, June 2020.
-->

In [14]:
nFrom,nTo="2020-03-02","2020-03-05"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(125,size=3))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-05 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[118 120 123]
<epidemic day> :   7 is 2020-03-05 (2020-03-02/2020-03-05] =   3 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-03-02     1      0  00.000
2020-03-03     2      1  50.000
2020-03-04     5      3  60.000
2020-03-05    11      6  54.545

- [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows over ten cases on the 5th March [1][2] 

<!--
[1] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.
-->

In [15]:
fStatus(dfCovid19,nTo,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

           cases C_DIFF  C_PCGR
2020-03-05    11      6  54.545

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``30%`` using ``numpy.random.Generator.poisson`` in the run up to 15th March [1] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))

<!--
[1] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.

[2] Anaconda (poisson), "numpy.random.Generator," Docstring, June 2020.
-->

In [16]:
nFrom,nTo="2020-03-05","2020-03-14"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(30,size=9))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-14 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[25 31 20 25 32 27 32 30 25]
<epidemic day> :  16 is 2020-03-14 (2020-03-05/2020-03-14] =   9 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-03-05    11      6  54.545
2020-03-06    14      3  21.429
2020-03-07    18      4  22.222
2020-03-08    22      4  18.182
2020-03-09    27      5  18.519
2020-03-10    36      9  25.000
2020-03-11    45      9  20.000
2020-03-12    60     15  25.000
2020-03-13    78     18  23.077
2020-03-14    97     19  19.588

- [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows over one-hundred cases on the 14th March [1][2] 

<!--
[1] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.
-->

In [17]:
fStatus(dfCovid19,nTo,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

           cases C_DIFF  C_PCGR
2020-03-14    97     19  19.588

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``33%`` using ``numpy.random.Generator.poisson`` in the run up to 24th March [1][2][3] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))

<!--
[1] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.

[3] Anaconda (poisson), "numpy.random.Generator," Docstring, June 2020.
-->

In [18]:
nFrom,nTo="2020-03-14","2020-03-23"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(33,size=9))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-23 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[30 29 26 28 30 35 32 25 37]
<epidemic day> :  25 is 2020-03-23 (2020-03-14/2020-03-23] =   9 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-03-14    97     19  19.588
2020-03-15   126     29  23.016
2020-03-16   163     37  22.699
2020-03-17   205     42  20.488
2020-03-18   262     57  21.756
2020-03-19   341     79  23.167
2020-03-20   460    119  25.870
2020-03-21   608    148  24.342
2020-03-22   760    152  20.000
2020-03-23  1041    281  26.993

- [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows over one-hundred cases on the 23rd March [1][2]

<!--
[1] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.
-->

In [19]:
fStatus(dfCovid19,nTo,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

           cases C_DIFF  C_PCGR
2020-03-23  1041    281  26.993

***
(2) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.***

[<img style="float:right;" src="img/number-cases-hospital-icu.png" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/number-cases-hospital-icu.png)

- $[{2020}-{02}-{29} / {04}-{30}]$ [Img. (2)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/number-cases-hospital-icu.png) shows the five day cumulative average - **cases** - **hospital** - **icu** [1]


- $[{2020}-{03}-{12} (18:00) / {03}-{29})$ despite the moderate social distancing measures introduced at 6 p.m. on the 12th March in the run up to the end of March the number of new cases detected per day rose sharply [1][2] ([Img. (2)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/number-cases-hospital-icu.png))


- $({2020}-{03}-{27} / {04}-{30}]$ the much stronger social distancing measures - stay at home order - introduced midnight 27th of March [1] - resulted in the cases detected per day after clearly choked off transmission of the disease very promptly - within a few days the number of confirmed cases plateaued and had remained stable in the range four-hundred to six-hundred new cases per day [2][3] ([Img. (2)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/number-cases-hospital-icu.png))


- $[{2020}-{03}-{25} / {03}-{29}]$ by the 30th March the average of the preceding five days had a day on day 15% growth rate of new cases which was a huge decrease in the rate of exponential growth [2][4] ([Img. (2)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/number-cases-hospital-icu.png))

<!--
[1] Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.

[2] P. Nolan (IEMAG), "LIVE: Daily coronavirus update from the Department of Health (30/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207140237if_/https://www.facebook.com/VirginMediaNews/videos/184315165952881), April 2020.

[3] Citizens Information, "New measures to combat COVID-19 from midnight on 27 March 2020," [citizensinformation](http://web.archive.org/web/20201215124651/https://whatsnew.citizensinformation.ie/2020/03/27/new-measures-to-combat-covid-19-from-midnight-on-27-march-2020), March 2020.

[4] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.
-->

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``15%`` using ``numpy.random.Generator.poisson`` in the run up to 30th March [1][2] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily coronavirus update from the Department of Health (30/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207140237if_/https://www.facebook.com/VirginMediaNews/videos/184315165952881), April 2020.

[2] Anaconda (poisson), "numpy.random.Generator," Docstring, June 2020.
-->

In [20]:
nFrom,nTo="2020-03-23","2020-03-29"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(15,size=6))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-29 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[17 19 19 14 12 14]
<epidemic day> :  31 is 2020-03-29 (2020-03-23/2020-03-29] =   6 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-03-23  1041    281  26.993
2020-03-24  1218    177  14.532
2020-03-25  1449    231  15.942
2020-03-26  1725    276  16.000
2020-03-27  1966    241  12.258
2020-03-28  2202    236  10.718
2020-03-29  2510    308  12.271

***
(3) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.***

[<img style="float:right;" src="img/cases-growth-rate-cumulative-5-day-avg-04072020-04162020.png" target="_blank" width=100/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-cumulative-5-day-avg-04072020-04162020.png)

- $[{2020}-{03}-{14} / {04}-{16}]$ [Img. (3)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-cumulative-5-day-avg-04072020-04162020.png) shows the cumulative percentage growth rate each day averaged over five days - **cases** [1][2]

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``10%`` using ``numpy.random.Generator.poisson`` in the run up to 8th March [1][2] ([Img. (3)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-cumulative-5-day-avg-04072020-04162020.png))

<!--
[1] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.

[3] Anaconda (poisson), "numpy.random.Generator," Docstring, June 2020.
-->

In [21]:
nFrom,nTo="2020-03-29","2020-04-07"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(10,size=9))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-07 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[ 8  8 10 11 10 16 10  7 10]
<epidemic day> :  40 is 2020-04-07 (2020-03-29/2020-04-07] =   9 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-03-29  2510    308  12.271
2020-03-30  2711    201  07.414
2020-03-31  2928    217  07.411
2020-04-01  3220    292  09.068
2020-04-02  3575    355  09.930
2020-04-03  3932    357  09.079
2020-04-04  4561    629  13.791
2020-04-05  5017    456  09.089
2020-04-06  5369    352  06.556
2020-04-07  5906    537  09.092

- $[{2020}-{04}-{07} / {04}-{16}]$ cumulative number of cases for each day averaged over five days was stable at approximately 5% [1][2] ([Img. (3)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-cumulative-5-day-avg-04072020-04162020.png)) 

<!--
[1] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.
-->

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``5%`` using ``numpy.random.Generator.poisson`` in the run up to 17th March [1][2] ([Img. (3)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-cumulative-5-day-avg-04072020-04162020.png))

<!--
[1] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

[2] Anaconda (poisson), "numpy.random.Generator," Docstring, June 2020.
-->

In [22]:
nFrom,nTo="2020-04-07","2020-04-16"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(5,size=9)+0.1)
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-16 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1.1 8.1 5.1 5.1 6.1 6.1 9.1 2.1 7.1]
<epidemic day> :  49 is 2020-04-16 (2020-04-07/2020-04-16] =   9 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-04-07  5906    537  09.092
2020-04-08  5971     65  01.089
2020-04-09  6455    484  07.498
2020-04-10  6784    329  04.850
2020-04-11  7130    346  04.853
2020-04-12  7565    435  05.750
2020-04-13  8026    461  05.744
2020-04-14  8757    731  08.348
2020-04-15  8940    183  02.047
2020-04-16  9575    635  06.632

(4) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 23 April 2020," [gov](https://web.archive.org/web/20201020115335/https://www.gov.ie/en/publication/a950be-covid-19-modelling-data-thursday-23-april-2020), April 2020.***

[<img style="float:right;" src="img/04232020-cases-hospital-icu.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png) 

- $[{2020}-{02}-{29} / {04}-{22}]$ [Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png) shows the five day cumulative average - **cases** - **hospital** - **icu** - plus hospital admissions [1][2]


- external tests results from the German laboratories backdated to the date if had been processed in a timely manner in Ireland resulting in many of the tests actually belonged to cases in the later part of March or very early part of April [1][2][3][4][5] - the Health Service Executive (HSE) in its weekly briefing confirmed the backlog of testing had been elminated [8] [Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png)


- plot downturn - can see a reduction in the number of cases being detected per day although it was expected to subsequently increase because of the emphasis in testing long term residential care facilties [6][7] [Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png)

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily briefing on coronavirus in Ireland (23/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207120754if_/https://www.facebook.com/VirginMediaNews/videos/877654396048507), April 2020.

[2] Department of Health, "Statement from the National Public Health Emergency Team - Friday 17 April," [gov](https://web.archive.org/web/20201211151911/https://www.gov.ie/en/press-release/78ca7b-statement-from-the-national-public-health-emergency-team-friday-17-a), April 2020.

[3] Department of Health, "Statement from the National Public Health Emergency Team - Saturday 18 April," [gov](https://web.archive.org/web/20201211151747/https://www.gov.ie/en/press-release/03791b-statement-from-the-national-public-health-emergency-team-saturday-18), April 2020.

[4] Department of Health, "Statement from the National Public Health Emergency Team - Sunday 19 April," [gov](https://web.archive.org/web/20201211151409/https://www.gov.ie/en/press-release/2ebc1a-statement-from-the-national-public-health-emergency-team-sunday-19-a), April 2020.

[5] Department of Health, "COVID-19 modelling data - Thursday 23 April 2020," [gov](https://web.archive.org/web/20201020115335/https://www.gov.ie/en/publication/a950be-covid-19-modelling-data-thursday-23-april-2020), April 2020.

[6] A. Conneely, [rte](https://web.archive.org/web/20201214152703/https://www.rte.ie/news/2020/0423/1134474-nursing-homes-staffing), "Nursing homes fear staff shortages after recent testing blitz," April 2020.

[7] Department of Health, "COVID-19 modelling data - Thursday 23 April 2020," [gov](https://web.archive.org/web/20201020115335/https://www.gov.ie/en/publication/a950be-covid-19-modelling-data-thursday-23-april-2020), April 2020.

[8] D. O'Donnell (RTE), "HSE says 'zero backlog' in Covid-19 testing," [rte](https://web.archive.org/web/20201018110138/https://www.rte.ie/news/2020/0419/1132402-nursing-home-mortality-census-virus), April 2020.
-->

(5) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.*** 

[<img style="float:right;" src="img/04232020-cumulative-cases.png" target="_blank" width=150/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cumulative-cases.png) 

- $[{2020}-{04}-{17} / {04}-{23}]$ [Img. (5)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cumulative-cases.png) show that since early April the growth rate of new cases had been effectively zero - growth rate trending towards zero given there was a large number of cases (circa 1.5k on 22nd/23rd April) announced in the days prior [1][2][3][4]

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily briefing on coronavirus in Ireland (23/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207120754if_/https://www.facebook.com/VirginMediaNews/videos/877654396048507), April 2020.

[2] Department of Health, "Statement from the National Public Health Emergency Team - Wednesday 22 April," [gov](https://web.archive.org/web/20201214163201/https://www.gov.ie/en/press-release/d7aa52-statement-from-the-national-public-health-emergency-team-wednesday-2), April 2020.

[3] Department of Health, "Statement from the National Public Health Emergency Team - Thursday 23 April," [gov](https://web.archive.org/web/20201214163155/https://www.gov.ie/en/press-release/f4ad12-statement-from-the-national-public-health-emergency-team-thursday-23), April 2020.

[4] Department of Health, "COVID-19 modelling data - Thursday 23 April 2020," [gov](https://web.archive.org/web/20201020115335/https://www.gov.ie/en/publication/a950be-covid-19-modelling-data-thursday-23-april-2020), April 2020.
-->

(6) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.***

[<img style="float:right;" src="img/cases-growth-rate-new-not-cumulative-5-day-avg-03182020-04302020.png" target="_blank" width=150/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-new-not-cumulative-5-day-avg-03182020-04302020.png)

- $[{2020}-{04}-{24} / {04}-{30}]$ [Img. (6)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-new-not-cumulative-5-day-avg-03182020-04302020.png) shows the growth rate of new cases continued to be effectively zero - can be attributed to the very strong social distancing measures taken at the end of March [1][2]

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily coronavirus update from the Department of Health (30/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207140237if_/https://www.facebook.com/VirginMediaNews/videos/184315165952881), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.
-->

(7) ***(Screenshot) P. Nolan (IEMAG), "LIVE at the daily coronavirus briefing as health officials give an update (07/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124157if_/https://www.facebook.com/VirginMediaNews/videos/646196552888811), May 2020.***

[<img style="float:right;" src="img/cases-growth-05072020.png" target="_blank" width=150/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-05072020.png)

- $[{2020}-{05}-{01} / {05}-{07}]$ [Img. (7)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-05072020.png) shows the low growth rate of new cases continueing into the first week of May - on average observing a similar number of cases each day to the preceding day - now in a period where the number of new cases per day was declining - the number of new cases notified on the 7th May was low since mid-March - now in a period where new cases per day on average was declining close to 10% per day - all indications are that the suppression measures introduced midnight the 27th March had been very effective in suppressing the spread of the virus within the population [1][2]

<!--
[1] P. Nolan (IEMAG), "LIVE at the daily coronavirus briefing as health officials give an update (07/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124157if_/https://www.facebook.com/VirginMediaNews/videos/646196552888811), May 2020.

[2] Department of Health, [Statement from the National Public Health Emergency Team - Thursday 7 May](https://web.archive.org/web/20201115150414/https://www.gov.ie/en/press-release/fe4551-statement-from-the-national-public-emergency-team-7-may), May 2020.
-->

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``[2,1.5,1]%`` with probability ``[0.25,0.5,0.25]`` using ``numpy.random.Generator.choice`` in the run up to 8th May [1][2][3] ([Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png))

<!--
[1] P. Nolan (IEMAG), "LIVE at the daily coronavirus briefing as health officials give an update (07/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124157if_/https://www.facebook.com/VirginMediaNews/videos/646196552888811), May 2020.

[2] Department of Health, [Statement from the National Public Health Emergency Team - Thursday 7 May](https://web.archive.org/web/20201115150414/https://www.gov.ie/en/press-release/fe4551-statement-from-the-national-public-emergency-team-7-may), May 2020.

[3] Anaconda (choice), "numpy.random.Generator," Docstring, June 2020.
-->

In [23]:
nFrom,nTo="2020-04-16","2020-05-07"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[2,1.5,1],
                                                                 p=[0.25,0.5,0.25],size=21))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-07 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1.  1.5 1.5 1.5 1.5 1.5 1.5 1.5 1.  1.5 2.  1.5 1.5 1.  1.5 1.5 1.5 2.
 1.5 2.  1.5]
<epidemic day> :  70 is 2020-05-07 (2020-04-16/2020-05-07] =  21 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-04-16   9575    635  06.632
2020-04-17   9671     96  00.993
2020-04-18   9816    145  01.477
2020-04-19   9963    147  01.475
2020-04-20  10112    149  01.473
2020-04-21  10264    152  01.481
2020-04-22  10418    154  01.478
2020-04-23  10574    156  01.475
2020-04-24  10733    159  01.481
2020-04-25  10840    107  00.987
2020-04-26  11003    163  01.481
2020-04-27  11223    220  01.960
2020-04-28  11391    168  01.475
2020-04-29  11562    171  01.479
2020-04-30  11678    116  00.993
2020-05-01  11853    175  01.476
2020-05-02  12031    178  01.480
2020-05-03  12211    180  01.474
2020-05-04  12456    245  01.967
2020-05-05  12642    186  01.471
2020-05-06  12895    253  01.962
2020-05-07  13089    194  01.482

(8) ***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

[<img style="float:right;" src="img/06042020-metrics-06032020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png)

- $[{2020}-{04}-{11} / {06}-{02}]$ [Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png) shows the five day average looking back from the preceding Wednesday - all metrics indicate declining trend - **cases** - **hospital** - **icu** - **deaths** [1][4]


- $[{2020}-{04}-{11} / {05}-{13}]$ mid-April there was on average close to six-hundred true** new cases per days [1][4]([Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png))

** $[{2020}-{05}-{14} / {05}-{15})$ over half the cases notified - ``223`` - included historical cases notified to the Department of Health for the first time [2][3]

<!--
[1] P. Nolan (IEMAG), "LIVE: Latest coronavirus cases and deaths announced (14/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124525if_/https://www.facebook.com/VirginMediaNews/videos/663783837807950), May 2020.

[2] RTE, "Investigation over bulk reporting of virus cases at Mater Hospital," [RTE](https://web.archive.org/web/20201221071817/https://www.rte.ie/news/coronavirus/2020/0515/1138612-covid19-coronavirus-tests), May 2020.

[3] Department of Health, "Statement from the National Public Health Emergency Team - Thursday 14 May," [gov](https://web.archive.org/web/20201221053711/https://www.gov.ie/en/press-release/d65820-statement-from-the-national-public-health-emergency-team-thursday-14), May 2020.

[4] RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.
-->

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``[1.5,1]%`` with probability ``[0.2,0.8]`` using ``numpy.random.Generator.choice`` in the run up to 14th May [1][2][3][4] ([Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png))

<!--
[1] P. Nolan (IEMAG), "LIVE: Latest coronavirus cases and deaths announced (14/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124525if_/https://www.facebook.com/VirginMediaNews/videos/663783837807950), May 2020.

[3] Department of Health, "Statement from the National Public Health Emergency Team - Thursday 14 May," [gov](https://web.archive.org/web/20201221053711/https://www.gov.ie/en/press-release/d65820-statement-from-the-national-public-health-emergency-team-thursday-14), May 2020.

[3] RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.

[4] Anaconda (choice), "numpy.random.Generator," Docstring, June 2020.
-->

In [24]:
nFrom,nTo="2020-05-07","2020-05-13"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1.5,1],
                                                                 p=[0.2,0.8],size=6))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-13 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1. 1. 1. 1. 1. 1.]
<epidemic day> :  76 is 2020-05-13 (2020-05-07/2020-05-13] =   6 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-05-07  13089    194  01.482
2020-05-08  13220    131  00.991
2020-05-09  13352    132  00.989
2020-05-10  13486    134  00.994
2020-05-11  13620    134  00.984
2020-05-12  13757    137  00.996
2020-05-13  13894    137  00.986

(9) ***(Image) P. Nolan (IEMAG), "Twitter Post (No Title) - 21st May," [twitter](https://web.archive.org/web/20201221121700/https://twitter.com/President_MU/status/1263547672369278983/photo/1), May 2020.***

[<img style="float:right;" src="img/hospital-new-cases-icu-05212020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/hospital-new-cases-icu-05212020.png)

- $[{2020}-{03}-{12} / {03}-{27}]$ [Img. (9)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/hospital-new-cases-icu-05212020.png) shows the grey vertical lines to indicate the application of the various measures up to the 28th March - the first set of moderate social distancing measures were introduced on the 12th March (18:00) - **cases** - **hospital** - **icu** [1][2] ([Img. (9)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/hospital-new-cases-icu-05212020.png))


- $[{2020}-{03}-{28} / {05}-{18})$ grey area is the period of very restrictive stay at home order in the run up to the 18th May when easing of restrictions was introduced [4] ([Img. (9)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/hospital-new-cases-icu-05212020.png))

<!--
[1] P. Leahy, P. Cullen, S. Lynch, F. Kelly, "Coronavirus: Schools, colleges and childcare facilities in Ireland to shut," [irishtimes](https://www.irishtimes.com/news/health/coronavirus-schools-colleges-and-childcare-facilities-in-ireland-to-shut-1.4200977), March 2020.

[2] P. Nolan (IEMAG), "We’re LIVE as health officials give an update on coronavirus in Ireland (28/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124952if_/https://www.facebook.com/VirginMediaNews/videos/2472265849750287), May 2020.

[3] Citizens Information, "New measures to combat COVID-19 from midnight on 27 March 2020," [citizensinformation](http://web.archive.org/web/20201215124651/https://whatsnew.citizensinformation.ie/2020/03/27/new-measures-to-combat-covid-19-from-midnight-on-27-march-2020), March 2020.

[4] Department of the Taoiseach, "Government publishes roadmap to ease COVID-19 restrictions and reopen Ireland’s society and economy," [gov](https://web.archive.org/web/20201222150326/https://www.gov.ie/en/press-release/e5e599-government-publishes-roadmap-to-ease-covid-19-restrictions-and-reope/#phase-1-18-may), May 2020.
-->

- $[{2020}-{05}-{16} / {05}-{21})$ the average of the five days leading up to Wednesday the 20th May indicated a very significant decrease in the number of new cases reported per day [1][2] ([Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png))

<!--
[1] P. Nolan (IEMAG), "LIVE: Update on coronavirus in Ireland (21/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207135558/https://www.facebook.com/VirginMediaNews/videos/286447475729598), May 2020.
-->

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``[0.75,0.5]%`` with probability ``[0.2,0.8]`` using ``numpy.random.Generator.choice`` in the run up to 21st May [1][2] ([Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png))

<!--
[1] P. Nolan (IEMAG), "LIVE: Update on coronavirus in Ireland (21/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207135558/https://www.facebook.com/VirginMediaNews/videos/286447475729598), May 2020.

[2] Anaconda (choice), "numpy.random.Generator," Docstring, June 2020.
-->

In [25]:
nFrom,nTo="2020-05-13","2020-05-20"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.75,0.5],
                                                                 p=[0.2,0.8],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-20 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.5  0.5  0.75 0.5  0.5  0.5  0.5 ]
<epidemic day> :  83 is 2020-05-20 (2020-05-13/2020-05-20] =   7 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-05-13  13894    137  00.986
2020-05-14  13963     69  00.494
2020-05-15  14033     70  00.499
2020-05-16  14139    106  00.750
2020-05-17  14209     70  00.493
2020-05-18  14280     71  00.497
2020-05-19  14352     72  00.502
2020-05-20  14423     71  00.492

(10) ***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

[<img style="float:right;" src="img/06042020-new-cases-detected-per-day.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-new-cases-detected-per-day.png)

- $[{2020}-{05}-{18} / {05}-{31})$ [Img. (10)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-new-cases-detected-per-day.png) shows the number of new cases detected on the day the testing swab was taken was at unprecedented low levels even though transmission of the disease in isolated cases such as households within families was at a very low number in the order of a dozen to twenty new cases per day emerging in both contexts - slow decline at very low levels - indicates infections was continuing to decline - considered stable [1][2][3]

<!--
[1] P. Nolan (IEMAG), "We’re LIVE as health officials give an update on coronavirus in Ireland (28/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124952if_/https://www.facebook.com/VirginMediaNews/videos/2472265849750287), May 2020.

[2] Department of the Taoiseach, "Government publishes roadmap to ease COVID-19 restrictions and reopen Ireland’s society and economy," [gov](https://web.archive.org/web/20201222150326/https://www.gov.ie/en/press-release/e5e599-government-publishes-roadmap-to-ease-covid-19-restrictions-and-reope/#phase-1-18-may), May 2020.

[3] P. Nolan (IEMAG), "LIVE: Daily coronavirus briefing – latest cases, deaths & trends (04/06/2020)," [VirginMediaNews](https://web.archive.org/web/20201207125225if_/https://www.facebook.com/VirginMediaNews/videos/366570967651659), June 2020.
-->

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``[0.65,0.35]%`` with probability ``[0.2,0.8]`` using ``numpy.random.Generator.choice`` in the run up to 28th May [1][2] ([Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png))

<!--
[1] P. Nolan (IEMAG), "We’re LIVE as health officials give an update on coronavirus in Ireland (28/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124952if_/https://www.facebook.com/VirginMediaNews/videos/2472265849750287), May 2020.

[2] Anaconda (choice), "numpy.random.Generator," Docstring, June 2020.
-->

In [26]:
nFrom,nTo="2020-05-20","2020-05-27"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.65,0.35],
                                                                 p=[0.2,0.8],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-27 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.35 0.65 0.35 0.35 0.35 0.35 0.35]
<epidemic day> :  90 is 2020-05-27 (2020-05-20/2020-05-27] =   7 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-05-20  14423     71  00.492
2020-05-21  14473     50  00.345
2020-05-22  14568     95  00.652
2020-05-23  14619     51  00.349
2020-05-24  14670     51  00.348
2020-05-25  14721     51  00.346
2020-05-26  14773     52  00.352
2020-05-27  14824     51  00.344

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``[0.7,0.3]%`` with probability ``[0.1,0.9]`` using ``numpy.random.Generator.choice`` in the run up to 4th June [1][2] ([Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png))

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily coronavirus briefing – latest cases, deaths & trends (04/06/2020)," [VirginMediaNews](https://web.archive.org/web/20201207125225if_/https://www.facebook.com/VirginMediaNews/videos/366570967651659), June 2020.

[2] Anaconda (choice), "numpy.random.Generator," Docstring, June 2020.
-->

In [27]:
nFrom,nTo="2020-05-27","2020-06-03"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.7,0.3],
                                                                 p=[0.1,0.9],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-06-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.3 0.3 0.3 0.3 0.3 0.3 0.3]
<epidemic day> :  97 is 2020-06-03 (2020-05-27/2020-06-03] =   7 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-05-27  14824     51  00.344
2020-05-28  14868     44  00.296
2020-05-29  14913     45  00.302
2020-05-30  14958     45  00.301
2020-05-31  15003     45  00.300
2020-06-01  15048     45  00.299
2020-06-02  15093     45  00.298
2020-06-03  15138     45  00.297

(11) ***(Image) P. Nolan (IEMAG), "Twitter Post (No Title) - 8th Oct," [twitter](https://twitter.com/President_MU/status/1314271848717324290), October 2020.***

- $[{2020}-{04}-{10} / {06}-{23}]$ [Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png) shows the seven day average looking back to the 15th April - all metrics continued to indicate declining trend - **cases** - **hospital** - **icu** - **deaths** [1][2][3][4]

[<img style="float:right;" src="img/metrics-run-up-to-23062020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png)

- $[{2020}-{06}-{04} / {07}-{03}]$ by the end of the first wave of the epidemic the amount of testing being done was far outstripping the prevalence of the disease with very few new cases being reported [1][2][3][4] ([Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png))


- while there was significant gains from the number of restrictions imposed over the previous months the notion of the absolute elimination of the virus was considered not practical given that it was considered there was almost zero cases occurring day by day and that Ireland was following "an effective strategy" [1][2][3][4] ([Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png))

<!--
[1] P. Nolan (IEMAG), "Department of Health briefing on Covid-19 (06/11/2020)," [rte](https://www.youtube.com/watch?v=ykT6gPC4XAU), June 2020.

[2] P. Nolan (IEMAG), "LIVE: COVID-19 briefing as health officials confirm latest cases, deaths & trends (18/06/2020)," [VirginMediaNews](https://web.archive.org/web/20201207130443if_/https://www.facebook.com/VirginMediaNews/videos/3366215196746021), June 2020.

[3] P. Nolan (IEMAG), "LIVE: Coronavirus press briefing as latest cases, deaths & trends are confirmed (02/07/2020)," [VirginMediaNews](https://web.archive.org/web/20201207131030if_/https://www.facebook.com/VirginMediaNews/videos/327752801951242), July 2020.

[4] P. Nolan (IEMAG), "Watch LIVE as the latest coronavirus cases, deaths and trends are announced (23/07/2020)," [VirginMediaNews](https://web.archive.org/web/20201207131431if_/https://www.facebook.com/VirginMediaNews/videos/905971223258186), July 2020.
-->

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``[0.1,0.05]%`` with probability ``[0.1,0.9]`` using ``numpy.random.Generator.choice`` in the run up to 4th July [1][2][3][4] ([Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png))

<!--
[1] P. Nolan (IEMAG), "Department of Health briefing on Covid-19 (06/11/2020)," [rte](https://www.youtube.com/watch?v=ykT6gPC4XAU), June 2020.

[2] P. Nolan (IEMAG), "LIVE: COVID-19 briefing as health officials confirm latest cases, deaths & trends (18/06/2020)," [VirginMediaNews](https://web.archive.org/web/20201207130443if_/https://www.facebook.com/VirginMediaNews/videos/3366215196746021), June 2020.

[3] P. Nolan (IEMAG), "LIVE: Coronavirus press briefing as latest cases, deaths & trends are confirmed (02/07/2020)," [VirginMediaNews](https://web.archive.org/web/20201207131030if_/https://www.facebook.com/VirginMediaNews/videos/327752801951242), July 2020.

[4] P. Nolan (IEMAG), "Watch LIVE as the latest coronavirus cases, deaths and trends are announced (23/07/2020)," [VirginMediaNews](https://web.archive.org/web/20201207131431if_/https://www.facebook.com/VirginMediaNews/videos/905971223258186), July 2020.

[5] Anaconda (choice), "numpy.random.Generator," Docstring, June 2020.
-->

In [28]:
nFrom,nTo="2020-06-03","2020-07-03"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.1,0.05],
                                                                 p=[0.1,0.9],size=30))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-07-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.05 0.05 0.05 0.05 0.1  0.05 0.1  0.05 0.1  0.05 0.05 0.05 0.05 0.05
 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.1  0.05 0.05 0.05 0.05 0.05
 0.05 0.05]
<epidemic day> : 127 is 2020-07-03 (2020-06-03/2020-07-03] =  30 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-06-03  15138     45  00.297
2020-06-04  15146      8  00.053
2020-06-05  15153      7  00.046
2020-06-06  15161      8  00.053
2020-06-07  15168      7  00.046
2020-06-08  15183     15  00.099
2020-06-09  15191      8  00.053
2020-06-10  15206     15  00.099
2020-06-11  15214      8  00.053
2020-06-12  15229     15  00.098
2020-06-13  15237      8  00.053
2020-06-14  15244      7  00.046
2020-06-15  15252      8  00.052
2020-06-16  15260      8  00.052
2020-06-17  15267      7  00.046
2020-06-18  15275      8  00.052
2020-06-19  15282      7  00.046
2020-06-20  15290      8  00.052
2020-06-21  15298      8  00.052
2020-06-22  15305      7  00.046
2020-06-23  15313      8  00.052
2020-06-24  15321      8  00.052
2020-06-25  15328      7  00.046
2020-06-26  15344     16  00.104
2020-06-27  15351      7  00.046
2020-06-28  15359      8  00.052
2020-06-29  15367      8  00.052
2020-06-30  15374      7  00.046
2020-07-01  15382      8  00.052
2020-07-02  15390      8  00.052
2020-07-03  15397      7  00.045

## END

<a id="hospital"></a>
< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >

###  Parameter - hospital
***

< [Table of Contents](#task-2) | [cases](#cases) | [icu](#icu) | [deaths](#deaths) >

- as reported the first confirmed Covid-19 case was on 28th February, 2020 despite the Irish Medical Journal reporting that a male was presented to Cork University Hospital on the 25th February with a headache/incidental cough and unfortunately later requiring intensive care treatment [1]


- the male had no epidemiological link to an area of high prevalence or to a known case and given the atypical presentation and failure to identify a cause then suspicion was raised for SARS-CoV-2 - subsequently testing positive and maybe the first community transmission case documented [1]

<!--
[1] E. Faller, "The Presentation and Diagnosis of the First Known Community-Transmitted Case of SARS-CoV-2 in the Republic of Ireland," [imj](https://web.archive.org/web/20201222144135/http://www.imj.ie/wp-content/uploads/2020/07/The-Presentation-Diagnosis-of-The-First-Known-Community-Transmitted-Case-of-SARS-CoV-2-in-the-Republic-of-Ireland.pdf), 
-->

In [29]:
nHospital,nICU,nColumn=1,1,"hospital"

- $[{2020}-{03}-{18} / {04}-{16}]$ [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows that hospitalisations was growing slowly [1][2]

<!--
[1] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.
-->

&#x26AA; populate DataFrame ``dfCovid19`` - initialise first hospitalisation and growing admissions in the run up to 19th March [1][2] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png)

<!--
[1] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.
-->

In [30]:
nTo,nFrom="2020-02-28","2020-02-27"
fCovid19(nFrom,nTo,nColumn,[nHospital])
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-02-28 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1]
<epidemic day> :   1 is 2020-02-28 (2020-02-27/2020-02-28] =   1 day(s)
=======================================================================

           hospital H_DIFF H_PCGR
2020-02-28        1    ...    ...

- $[{2020}-{03}-{10} / {03}-{28}]$ [Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png) shows the five day average with approximately 40 people in hospital on the 11th March and by the end of March the number of people in hospital rose very sharply to around the same as the ``cases`` parameter five day average at four-hundred-fifty [1][2][3]

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily coronavirus update from the Department of Health (30/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207140237if_/https://www.facebook.com/VirginMediaNews/videos/184315165952881), April 2020.

[2] P. Leahy, P. Cullen, S. Lynch, F. Kelly, "Coronavirus: Schools, colleges and childcare facilities in Ireland to shut," [irishtimes](https://www.irishtimes.com/news/health/coronavirus-schools-colleges-and-childcare-facilities-in-ireland-to-shut-1.4200977), March 2020.

[3] Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.
-->

In [31]:
nFrom,nTo="2020-02-28","2020-03-11"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(35,size=12))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-11 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[33 34 31 32 42 34 29 38 39 30 45 36]
<epidemic day> :  13 is 2020-03-11 (2020-02-28/2020-03-11] =  12 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-02-28        1    ...     ...
2020-02-29        1      0  00.000
2020-03-01        2      1  50.000
2020-03-02        2      0  00.000
2020-03-03        3      1  33.333
2020-03-04        4      1  25.000
2020-03-05        6      2  33.333
2020-03-06        8      2  25.000
2020-03-07       10      2  20.000
2020-03-08       15      5  33.333
2020-03-09       19      4  21.053
2020-03-10       27      8  29.630
2020-03-11       37     10  27.027

In [32]:
nFrom,nTo="2020-03-11","2020-03-28"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(18,size=17))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-28 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[17 18 22 20 16 17 19 21 17 11 19 20 18 17 19 19 19]
<epidemic day> :  30 is 2020-03-28 (2020-03-11/2020-03-28] =  17 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-03-11       37     10  27.027
2020-03-12       43      6  13.953
2020-03-13       51      8  15.686
2020-03-14       62     11  17.742
2020-03-15       75     13  17.333
2020-03-16       87     12  13.793
2020-03-17      101     14  13.861
2020-03-18      121     20  16.529
2020-03-19      146     25  17.123
2020-03-20      171     25  14.620
2020-03-21      190     19  10.000
2020-03-22      226     36  15.929
2020-03-23      271     45  16.605
2020-03-24      320     49  15.313
2020-03-25      374     54  14.439
2020-03-26      445     71  15.955
2020-03-27      530     85  16.038
2020-03-28      631    101  16.006

- $[{2020}-{04}-{13} / {04}-{22}]$ [Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png) shows the five day moving average - peaking 90 admissions per day and declining over the last 10 days - people been discharged from hospital at a faster rate than being admitted [1][2]

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily briefing on coronavirus in Ireland (23/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207120754if_/https://www.facebook.com/VirginMediaNews/videos/877654396048507), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 23 April 2020," [gov](https://web.archive.org/web/20201020115335/https://www.gov.ie/en/publication/a950be-covid-19-modelling-data-thursday-23-april-2020), April 2020.
-->

(12) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.***

[<img style="float:right;" src="img/cases-confirmHosp-newAddmissions-earlyMarch-04302020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-confirmHosp-newAddmissions-earlyMarch-04302020.png)

- $[{2020}-{03}-{28} / {04}-{30}]$ [Img. (12)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-confirmHosp-newAddmissions-earlyMarch-04302020.png) shows that despite the much stronger social distancing measures - stay at home order - introduced introduced midnight 27th of March [1] - unlike the number of ``cases`` detected per day choked off transmission of the disease the same was not true for hospitalisations - number of people in hospital had continued to rise quite sharply - peak at almost nine-hundred people in mid April and still very high at approximately seven-hundred-thirty - the number of admissions per day peaking close to 100 admissions per day at the peak of the outbreak - now down to below 40 [1][2][3]

<!--
[1] Citizens Information, "New measures to combat COVID-19 from midnight on 27 March 2020," [citizensinformation](http://web.archive.org/web/20201215124651/https://whatsnew.citizensinformation.ie/2020/03/27/new-measures-to-combat-covid-19-from-midnight-on-27-march-2020), March 2020.

[2] P. Nolan (IEMAG), "LIVE: Daily coronavirus update from the Department of Health (30/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207140237if_/https://www.facebook.com/VirginMediaNews/videos/184315165952881), April 2020.

[3] Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.
-->

In [33]:
nFrom,nTo="2020-03-28","2020-04-22"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[6,5,4],
                                                                    p=[0.3,0.3,0.4],size=25))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-22 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[4 5 6 4 4 6 4 4 5 6 4 5 5 6 4 5 5 4 4 6 6 5 6 6 6]
<epidemic day> :  55 is 2020-04-22 (2020-03-28/2020-04-22] =  25 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-03-28      631    101  16.006
2020-03-29      656     25  03.811
2020-03-30      689     33  04.790
2020-03-31      730     41  05.616
2020-04-01      760     30  03.947
2020-04-02      790     30  03.797
2020-04-03      837     47  05.615
2020-04-04      871     34  03.904
2020-04-05      906     35  03.863
2020-04-06      951     45  04.732
2020-04-07     1008     57  05.655
2020-04-08     1048     40  03.817
2020-04-09     1101     53  04.814
2020-04-10     1156     55  04.758
2020-04-11     1225     69  05.633
2020-04-12     1274     49  03.846
2020-04-13     1338     64  04.783
2020-04-14     1405     67  04.769
2020-04-15     1461     56  03.833
2020-04-16     1519     58  03.818
2020-04-17     1611     92  05.711
2020-04-18     1707     96  05.624
2020-04-19     1793     86  04.796
2020-04-20     1900    107  05.632
2020-04-21     2014    114  05.660
2020-04-22     2135    121  05.667

In [34]:
nFrom,nTo="2020-04-22","2020-04-30"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[4,2,1],
                                                                    p=[0.3,0.3,0.4],size=8))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-30 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1 2 1 4 4 4 1 1]
<epidemic day> :  63 is 2020-04-30 (2020-04-22/2020-04-30] =   8 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-04-22     2135    121  05.667
2020-04-23     2156     21  00.974
2020-04-24     2199     43  01.955
2020-04-25     2221     22  00.991
2020-04-26     2310     89  03.853
2020-04-27     2403     93  03.870
2020-04-28     2499     96  03.842
2020-04-29     2524     25  00.990
2020-04-30     2549     25  00.981

- $[{2020}-{04}-{30} / {05}-{07}]$ - significant reduction in the number of people in hospital and in terms of hospital admissions - previous week had over 700 people in hospital - typically an average of 40 admissions per day or more - morning of the 7th May there were 614 people on HSE acute sites and somewhat fewer in the afternoon - over the last week typically looking at 20 or fewer new admissions per day [1][2] [Img. (12)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-confirmHosp-newAddmissions-earlyMarch-04302020.png)

<!--
[1] P. Nolan (IEMAG), "LIVE at the daily coronavirus briefing as health officials give an update (07/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124157if_/https://www.facebook.com/VirginMediaNews/videos/646196552888811), May 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.
-->

In [35]:
nFrom,nTo="2020-04-30","2020-05-07"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.4,0.5],
                                                                    p=[0.4,0.6],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-07 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.4 0.4 0.5 0.5 0.5 0.5 0.4]
<epidemic day> :  70 is 2020-05-07 (2020-04-30/2020-05-07] =   7 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-04-30     2549     25  00.981
2020-05-01     2559     10  00.391
2020-05-02     2569     10  00.389
2020-05-03     2582     13  00.503
2020-05-04     2595     13  00.501
2020-05-05     2608     13  00.498
2020-05-06     2621     13  00.496
2020-05-07     2632     11  00.418

##### Metrics - 13th May (inclusive)
***

[<img style="float:right;" src="img/05142020-metrics-04162020-05062020-05132020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05142020-metrics-04162020-05062020-05132020.png)

- $[{2020}-{04}-{11} / {05}-{13}]$ - [Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png) shows hospital admissions per day was very high in mid-april - between 50 and 60 people admitted each day - looking back on the two preceding Wednesdays and comparing with mid-April the average over the preceding five days indicated the ``hospital`` parameter metric was declining [1][2][3]


- $[{2020}-{04}-{11} / {04}-{16})$ - ``54`` - cumulative ``865``


- $[{2020}-{05}-{02} / {05}-{06}]$ - ``22`` - cumulative ``680``


- $[{2020}-{05}-{09} / {05}-{13}]$ - ``17`` - cumulative ``526``


- $[{2020}-{05}-{14} / {05}-{15})$ - cumulative in-patients - ``459``

<!--
[1] P. Nolan (IEMAG), "LIVE: Latest coronavirus cases and deaths announced (14/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124525if_/https://www.facebook.com/VirginMediaNews/videos/663783837807950), May 2020.

[2] Department of Health, "Statement from the National Public Health Emergency Team - Thursday 14 May," [gov](https://web.archive.org/web/20201221053711/https://www.gov.ie/en/press-release/d65820-statement-from-the-national-public-health-emergency-team-thursday-14), May 2020.

[3] RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.
-->

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [36]:
nFrom,nTo="2020-05-07","2020-05-13"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1,0.5],
                                                                    p=[0.4,0.6],size=6))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-13 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1.  1.  0.5 0.5 0.5 0.5]
<epidemic day> :  76 is 2020-05-13 (2020-05-07/2020-05-13] =   6 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-05-07     2632     11  00.418
2020-05-08     2658     26  00.978
2020-05-09     2685     27  01.006
2020-05-10     2698     13  00.482
2020-05-11     2712     14  00.516
2020-05-12     2725     13  00.477
2020-05-13     2739     14  00.511

##### Metrics - 20th May (inclusive)
***

[<img style="float:right;" src="img/05212020-metrics-05202020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05212020-metrics-05202020.png)

- $[{2020}-{04}-{24} / {05}-{21}]$ - number of people in hospital per day taken as a five day average and looking back each day had declined steadily week on week [1][2]


- $[{2020}-{05}-{16} / {05}-{21})$ - the average of the five days leading up to Wednesday the 20th May had on average 18 new addmissions per day with cumulative 380 people in hospital - indications are stable [1][2] 

<!--
[1] P. Nolan (IEMAG), "LIVE: Update on coronavirus in Ireland (21/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207135558/https://www.facebook.com/VirginMediaNews/videos/286447475729598), May 2020.

[2] P. Nolan (IEMAG), "Twitter Post (No Title) - 21st May," [twitter](https://web.archive.org/web/20201221121700/https://twitter.com/President_MU/status/1263547672369278983/photo/1), May 2020.
-->

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [37]:
nFrom,nTo="2020-05-13","2020-05-20"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.9,0.3],
                                                                    p=[0.4,0.6],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-20 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.9 0.9 0.3 0.3 0.9 0.3 0.9]
<epidemic day> :  83 is 2020-05-20 (2020-05-13/2020-05-20] =   7 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-05-13     2739     14  00.511
2020-05-14     2764     25  00.904
2020-05-15     2789     25  00.896
2020-05-16     2797      8  00.286
2020-05-17     2805      8  00.285
2020-05-18     2831     26  00.918
2020-05-19     2839      8  00.282
2020-05-20     2865     26  00.908

##### Metrics - 27th May (inclusive)
***

[<img style="float:right;" src="img/05282020-metrics-05272020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05282020-metrics-05272020.png)

- $[{2020}-{05}-{21} / {05}-{28})$ - the average of the five days leading up to Wednesday the 27th May - average under 300 inpatients with hospital admissions halving from close to 20 to now 10 per day [2] 

<!--
[1] P. Leahy, P. Cullen, S. Lynch, F. Kelly, "Coronavirus: Schools, colleges and childcare facilities in Ireland to shut," [irishtimes](https://www.irishtimes.com/news/health/coronavirus-schools-colleges-and-childcare-facilities-in-ireland-to-shut-1.4200977), March 2020.

[2] P. Nolan (IEMAG), "We’re LIVE as health officials give an update on coronavirus in Ireland (28/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124952if_/https://www.facebook.com/VirginMediaNews/videos/2472265849750287), May 2020.
-->

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [38]:
nFrom,nTo="2020-05-20","2020-05-27"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.5,0.4],
                                                                    p=[0.3,0.7],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-27 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.4 0.5 0.4 0.4 0.4 0.4 0.4]
<epidemic day> :  90 is 2020-05-27 (2020-05-20/2020-05-27] =   7 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-05-20     2865     26  00.908
2020-05-21     2876     11  00.382
2020-05-22     2891     15  00.519
2020-05-23     2902     11  00.379
2020-05-24     2914     12  00.412
2020-05-25     2926     12  00.410
2020-05-26     2937     11  00.375
2020-05-27     2949     12  00.407

##### Metrics - 3rd June (inclusive)
***

[<img style="float:right;" src="img/06042020-metrics-06032020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png)

- $[{2020}-{05}-{30} / {06}-{04})$ - the average of the five days leading up to Wednesday the 3rd June - average ``178`` people in hospital - now ``114`` - with fewer than ``10`` admissions per day - now ``5`` [1]

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily coronavirus briefing – latest cases, deaths & trends (04/06/2020)," [VirginMediaNews](https://web.archive.org/web/20201207125225if_/https://www.facebook.com/VirginMediaNews/videos/366570967651659), June 2020.
-->

In [39]:
nFrom,nTo="2020-05-27","2020-06-03"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.3,0.2],
                                                                    p=[0.3,0.7],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-06-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.2 0.3 0.2 0.2 0.2 0.2 0.2]
<epidemic day> :  97 is 2020-06-03 (2020-05-27/2020-06-03] =   7 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-05-27     2949     12  00.407
2020-05-28     2955      6  00.203
2020-05-29     2964      9  00.304
2020-05-30     2970      6  00.202
2020-05-31     2976      6  00.202
2020-06-01     2982      6  00.201
2020-06-02     2988      6  00.201
2020-06-03     2994      6  00.200

- $[{2020}-{04}-{10} / {06}-{23}]$ [Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png) shows the seven day average looking back to the 15th April - **hospital** - continued to indicate declining trend [1][2][3][4]

<!--
[1] P. Nolan (IEMAG), "Department of Health briefing on Covid-19 (06/11/2020)," [rte](https://www.youtube.com/watch?v=ykT6gPC4XAU), June 2020.

[2] P. Nolan (IEMAG), "LIVE: COVID-19 briefing as health officials confirm latest cases, deaths & trends (18/06/2020)," [VirginMediaNews](https://web.archive.org/web/20201207130443if_/https://www.facebook.com/VirginMediaNews/videos/3366215196746021), June 2020.

[3] P. Nolan (IEMAG), "LIVE: Coronavirus press briefing as latest cases, deaths & trends are confirmed (02/07/2020)," [VirginMediaNews](https://web.archive.org/web/20201207131030if_/https://www.facebook.com/VirginMediaNews/videos/327752801951242), July 2020.

[4] P. Nolan (IEMAG), "Watch LIVE as the latest coronavirus cases, deaths and trends are announced (23/07/2020)," [VirginMediaNews](https://web.archive.org/web/20201207131431if_/https://www.facebook.com/VirginMediaNews/videos/905971223258186), July 2020.
-->

In [40]:
nFrom,nTo="2020-06-03","2020-07-03"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.01,0.05],
                                                                    p=[0.3,0.7],size=30))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-07-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.01 0.05 0.05 0.01
 0.01 0.01 0.05 0.05 0.05 0.01 0.01 0.05 0.05 0.05 0.05 0.05 0.05 0.05
 0.05 0.05]
<epidemic day> : 127 is 2020-07-03 (2020-06-03/2020-07-03] =  30 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-06-03     2994      6  00.200
2020-06-04     2995      1  00.033
2020-06-05     2997      2  00.067
2020-06-06     2998      1  00.033
2020-06-07     3000      2  00.067
2020-06-08     3001      1  00.033
2020-06-09     3003      2  00.067
2020-06-10     3004      1  00.033
2020-06-11     3006      2  00.067
2020-06-12     3007      1  00.033
2020-06-13     3009      2  00.066
2020-06-14     3009      0  00.000
2020-06-15     3011      2  00.066
2020-06-16     3012      1  00.033
2020-06-17     3013      1  00.033
2020-06-18     3013      0  00.000
2020-06-19     3013      0  00.000
2020-06-20     3015      2  00.066
2020-06-21     3016      1  00.033
2020-06-22     3018      2  00.066
2020-06-23     3018      0  00.000
2020-06-24     3018      0  00.000
2020-06-25     3020      2  00.066
2020-06-26     3021      1  00.033
2020-06-27     3023      2  00.066
2020-06-28     3024      1  00.033
2020-06-29     3026      2  00.066
2020-06-30     3027      1  00.033
2020-07-01     3029      2  00.066
2020-07-02     3030      1  00.033
2020-07-03     3032      2  00.066

## END

<a id="icu"></a>
< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >

## Parameter - icu
***

< [Table of Contents](#task-2) | [hospital](#hospital) | [icu](#icu) | [deaths](#deaths) >

In [41]:
nColumn="icu"
nICU

1

In [42]:
nTo,nFrom="2020-02-28","2020-02-27"
fCovid19(nFrom,nTo,nColumn,[nICU])
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-02-28 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1]
<epidemic day> :   1 is 2020-02-28 (2020-02-27/2020-02-28] =   1 day(s)
=======================================================================

           icu I_DIFF I_PCGR
2020-02-28   1    ...    ...

- $[{2020}-{02}-{29} / {03}-{20}]$ [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows cumulative number of people in intensive care - less than five [1]

<!--
[1] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.
-->

In [43]:
nFrom,nTo="2020-02-28","2020-03-20"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(5,size=21))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-20 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[3 9 4 9 6 6 7 5 6 6 9 7 4 3 6 3 7 5 7 8 3]
<epidemic day> :  22 is 2020-03-20 (2020-02-28/2020-03-20] =  21 day(s)
=======================================================================

           icu I_DIFF  I_PCGR
2020-02-28   1    ...     ...
2020-02-29   1      0  00.000
2020-03-01   1      0  00.000
2020-03-02   1      0  00.000
2020-03-03   1      0  00.000
2020-03-04   1      0  00.000
2020-03-05   1      0  00.000
2020-03-06   2      1  50.000
2020-03-07   2      0  00.000
2020-03-08   2      0  00.000
2020-03-09   2      0  00.000
2020-03-10   2      0  00.000
2020-03-11   2      0  00.000
2020-03-12   2      0  00.000
2020-03-13   2      0  00.000
2020-03-14   2      0  00.000
2020-03-15   2      0  00.000
2020-03-16   3      1  33.333
2020-03-17   3      0  00.000
2020-03-18   3      0  00.000
2020-03-19   3      0  00.000
2020-03-20   3      0  00.000

- $[{2020}-{03}-{21} / {03}-{27}]$ [Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png) shows the period just after St. Patrick's Day when there was a very sharp increase in the number of people in intensive care - in the five day period up to and including the 27th March (when the decision was made to implement very strong social distancing measures given the disease was clearly spreading very rapid) the country had from one-hundred-fifty to six-hundred new cases a day - to over four-hundred people in hospital - from fifty to eighty people in intensive care [3][4]

<!--
[1] Department of Health, "New measures to combat COVID-19 from midnight on 27 March 2020," [gov](https://web.archive.org/web/20201215124651/https://whatsnew.citizensinformation.ie/2020/03/27/new-measures-to-combat-covid-19-from-midnight-on-27-march-2020), March 2020.

[2] P. Nolan (IEMAG), "LIVE: Daily coronavirus update from the Department of Health (30/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207140237if_/https://www.facebook.com/VirginMediaNews/videos/184315165952881), April 2020.

[3] Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.
-->

In [44]:
nFrom,nTo="2020-03-20","2020-03-27"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(55,size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-27 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[51 49 44 39 51 57 61]
<epidemic day> :  29 is 2020-03-27 (2020-03-20/2020-03-27] =   7 day(s)
=======================================================================

           icu I_DIFF  I_PCGR
2020-03-20   3      0  00.000
2020-03-21   5      2  40.000
2020-03-22   7      2  28.571
2020-03-23  10      3  30.000
2020-03-24  14      4  28.571
2020-03-25  20      6  30.000
2020-03-26  32     12  37.500
2020-03-27  52     20  38.462

[<img style="float:right;" src="img/icu-03182020-04162020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/icu-03182020-04162020.png)

- $[{2020}-{03}-{26} / {04}-{11}]$ after the 28th March the number of people in intensive care continued to rise - the 10 day period - had fifty to one-hundred-forty people in intensive care - $[{2020}-{04}-{09} / {04}-{11}]$ - peaking close to one-hundred-sixty within a week [1][2]

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily coronavirus update from the Department of Health (30/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207140237if_/https://www.facebook.com/VirginMediaNews/videos/184315165952881), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.
-->

***(Image) Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.***

In [45]:
nFrom,nTo="2020-03-27","2020-04-11"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(10,size=15))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-11 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[13  6  5 11  6 13  9 12  9 14 10  9  8 14 10]
<epidemic day> :  44 is 2020-04-11 (2020-03-27/2020-04-11] =  15 day(s)
=======================================================================

            icu I_DIFF  I_PCGR
2020-03-27   52     20  38.462
2020-03-28   59      7  11.864
2020-03-29   62      3  04.839
2020-03-30   65      3  04.615
2020-03-31   73      8  10.959
2020-04-01   77      4  05.195
2020-04-02   87     10  11.494
2020-04-03   95      8  08.421
2020-04-04  106     11  10.377
2020-04-05  116     10  08.621
2020-04-06  132     16  12.121
2020-04-07  145     13  08.966
2020-04-08  158     13  08.228
2020-04-09  171     13  07.602
2020-04-10  195     24  12.308
2020-04-11  214     19  08.879

[<img style="float:right;" src="img/daily-icu-addmission-5-day-avg-03182020-04302020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/daily-icu-addmission-5-day-avg-03182020-04302020.png)

- $[{2020}-{04}-{17} / {04}-{30}]$ up to the end of April occupancy was a little bit over 100 - number of admissions peaking at approximately fourteen per day - down closer to four [1][2]

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily coronavirus update from the Department of Health (30/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207140237if_/https://www.facebook.com/VirginMediaNews/videos/184315165952881), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.
-->

***(Image) Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.***

In [46]:
nFrom,nTo="2020-04-11","2020-04-30"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(2,size=19))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-30 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1 2 0 2 3 0 1 1 1 3 0 1 1 2 2 3 0 2 2]
<epidemic day> :  63 is 2020-04-30 (2020-04-11/2020-04-30] =  19 day(s)
=======================================================================

            icu I_DIFF  I_PCGR
2020-04-11  214     19  08.879
2020-04-12  216      2  00.926
2020-04-13  220      4  01.818
2020-04-14  220      0  00.000
2020-04-15  225      5  02.222
2020-04-16  232      7  03.017
2020-04-17  232      0  00.000
2020-04-18  234      2  00.855
2020-04-19  236      2  00.847
2020-04-20  239      3  01.255
2020-04-21  246      7  02.846
2020-04-22  246      0  00.000
2020-04-23  248      2  00.806
2020-04-24  251      3  01.195
2020-04-25  256      5  01.953
2020-04-26  261      5  01.916
2020-04-27  269      8  02.974
2020-04-28  269      0  00.000
2020-04-29  274      5  01.825
2020-04-30  280      6  02.143

[<img style="float:right;" src="img/twitter-icu-occupancy-admissions-05052020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/twitter-icu-occupancy-admissions-05052020.png)

- $[{2020}-{05}-{01} / {05}-{07}]$ (blue) up to the 7th May the average number of people in intensive care units each day - average of the preceding week (five day look back) against the left hand axis falling from a peak of 140 or above - at the height of this disease - was a little bit over 100 people in intensive care the last week - 76 as of 7th May [1][2]


- (red) the average number of people admitted to intensive care over the preceding five days - previous week that was in the region of four to six people per day (every day) - now fewer than two each day which is a a very significant reduction in the number of people whose disease is sufficiently severe for them to require hospitalisation or intensive care admission [1][2]

<!--
[1] P. Nolan (IEMAG), "LIVE at the daily coronavirus briefing as health officials give an update (07/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124157if_/https://www.facebook.com/VirginMediaNews/videos/646196552888811), May 2020.

[2] P. Nolan (IEMAG), "Twitter Post (No Title)," [twitter](https://web.archive.org/web/20201217084554/https://twitter.com/President_MU/status/1257729864993562624/photo/1), May 2020.
-->

***(Image) P. Nolan (IEMAG), "Twitter Post (No Title)," [twitter](https://web.archive.org/web/20201217084554/https://twitter.com/President_MU/status/1257729864993562624/photo/1), May 2020.***

In [47]:
nFrom,nTo="2020-04-30","2020-05-07"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1],
                                                               p=[0.3,0.7],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-07 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.1 0.1 0.1 0.1 0.1 0.1 0.1]
<epidemic day> :  70 is 2020-05-07 (2020-04-30/2020-05-07] =   7 day(s)
=======================================================================

            icu I_DIFF  I_PCGR
2020-04-30  280      6  02.143
2020-05-01  280      0  00.000
2020-05-02  281      1  00.356
2020-05-03  281      0  00.000
2020-05-04  281      0  00.000
2020-05-05  281      0  00.000
2020-05-06  282      1  00.355
2020-05-07  282      0  00.000

##### Metrics - 13th May (inclusive)
***

[<img style="float:right;" src="img/05142020-metrics-04162020-05062020-05132020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05142020-metrics-04162020-05062020-05132020.png)

- $[{2020}-{04}-{11} / {05}-{13}]$ icu admissions per day was very high in mid-april - between 8 and 10 people admitted each day - looking back on the two preceding Wednesdays and comparing with mid-April the average over the preceding five days indicates the ``icu`` parameter metric was declining [1][2]


- $[{2020}-{04}-{11} / {04}-{16})$ - ``8`` - cumulative ``144``


- $[{2020}-{05}-{02} / {05}-{06}]$ - ``3`` cumulative ``92``


- $[{2020}-{05}-{09} / {05}-{13}]$ - ``1`` - cumulative ``69``


- $[{2020}-{05}-{14} / {05}-{15})$ - cumulative in-patients - ``58``

<!--
[1] P. Nolan (IEMAG), "LIVE: Latest coronavirus cases and deaths announced (14/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124525if_/https://www.facebook.com/VirginMediaNews/videos/663783837807950), May 2020.

[2] Department of Health, "Statement from the National Public Health Emergency Team - Thursday 14 May," [gov](https://web.archive.org/web/20201221053711/https://www.gov.ie/en/press-release/d65820-statement-from-the-national-public-health-emergency-team-thursday-14), May 2020.
-->

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

##### Metrics - 20th May (inclusive)
***

[<img style="float:right;" src="img/05212020-metrics-05202020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05212020-metrics-05202020.png)

- $[{2020}-{05}-{16} / {05}-{21})$ - the average of the five days leading up to Wednesday the 20th May had on average 1 new addmission per day with cumulative 52 people in icu - indications are stable [1][2] 


- $[{2020}-{05}-{21} / {05}-{22})$ - cumulative in-patients - ``52``

<!--
[1] P. Nolan (IEMAG), "LIVE: Update on coronavirus in Ireland (21/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207135558/https://www.facebook.com/VirginMediaNews/videos/286447475729598), May 2020.

[2] P. Nolan (IEMAG), "Twitter Post (No Title) - 21st May," [twitter](https://web.archive.org/web/20201221121700/https://twitter.com/President_MU/status/1263547672369278983/photo/1), May 2020.
-->

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

[<img style="float:right;" src="img/hospital-new-cases-icu-05212020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/hospital-new-cases-icu-05212020.png)

- $[{2020}-{04}-{12} / {05}-{21}]$ - number of people in icu per day taken as a five day average and looking back each day was declining since the peak in the second week of April [1][2]

<!--
[1] P. Nolan (IEMAG), "LIVE: Update on coronavirus in Ireland (21/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207135558/https://www.facebook.com/VirginMediaNews/videos/286447475729598), May 2020.

[2] P. Nolan (IEMAG), "Twitter Post (No Title) - 21st May," [twitter](https://web.archive.org/web/20201221121700/https://twitter.com/President_MU/status/1263547672369278983/photo/1), May 2020.
-->

***(Image) P. Nolan (IEMAG), "Twitter Post (No Title) - 21st May," [twitter](https://web.archive.org/web/20201221121700/https://twitter.com/President_MU/status/1263547672369278983/photo/1), May 2020.***

##### Metrics - 27th May (inclusive)
***

[<img style="float:right;" src="img/05282020-metrics-05272020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05282020-metrics-05272020.png)

- $[{2020}-{05}-{18} / {05}-{28})$ - the numbers of people in intensive care remained at around 50 with 47 in-patients on the 28th May - indicates the ``icu`` parameter metric was slower to decline - people requiring longer periods of time in intensive care - the numbers of admissions to intensive care remain very low at one to two per day with the exception of the 27th May when there was five admissions - metric considered stable and low [2][4]

<!--
[2] P. Nolan (IEMAG), "We’re LIVE as health officials give an update on coronavirus in Ireland (28/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124952if_/https://www.facebook.com/VirginMediaNews/videos/2472265849750287), May 2020.

[4] Department of the Taoiseach, "Government publishes roadmap to ease COVID-19 restrictions and reopen Ireland’s society and economy," [gov](https://web.archive.org/web/20201222150326/https://www.gov.ie/en/press-release/e5e599-government-publishes-roadmap-to-ease-covid-19-restrictions-and-reope/#phase-1-18-may), May 2020.
-->

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

##### Metrics - 3rd June (inclusive)
***

[<img style="float:right;" src="img/06042020-metrics-06032020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png)

- $[{2020}-{05}-{30} / {06}-{04})$ - the average of the five days leading up to Wednesday the 3rd June had ``1`` admission per day and in-patients was slower to decline at ``37`` this week [1] 

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily coronavirus briefing – latest cases, deaths & trends (04/06/2020)," [VirginMediaNews](https://web.archive.org/web/20201207125225if_/https://www.facebook.com/VirginMediaNews/videos/366570967651659), June 2020.
-->

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [48]:
nFrom,nTo="2020-05-07","2020-06-03"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1],
                                                               p=[0.3,0.7],size=27))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-06-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.2 0.1 0.1 0.1 0.1 0.2 0.2 0.1 0.1 0.2 0.1 0.1 0.1 0.1 0.2 0.1 0.2 0.1
 0.2 0.1 0.1 0.2 0.1 0.1 0.1 0.1 0.1]
<epidemic day> :  97 is 2020-06-03 (2020-05-07/2020-06-03] =  27 day(s)
=======================================================================

            icu I_DIFF  I_PCGR
2020-05-07  282      0  00.000
2020-05-08  283      1  00.353
2020-05-09  283      0  00.000
2020-05-10  283      0  00.000
2020-05-11  283      0  00.000
2020-05-12  284      1  00.352
2020-05-13  284      0  00.000
2020-05-14  285      1  00.351
2020-05-15  285      0  00.000
2020-05-16  285      0  00.000
2020-05-17  286      1  00.350
2020-05-18  286      0  00.000
2020-05-19  287      1  00.348
2020-05-20  287      0  00.000
2020-05-21  287      0  00.000
2020-05-22  288      1  00.347
2020-05-23  288      0  00.000
2020-05-24  289      1  00.346
2020-05-25  289      0  00.000
2020-05-26  289      0  00.000
2020-05-27  290      1  00.345
2020-05-28  290      0  00.000
2020-05-29  291      1  00.344
2020-05-30  291      0  00.000
2020-05-31  291      0  00.000
2020-06-01  291      0  00.000
2020-06-02  292      1  00.342
2020-06-03  292      0  00.000

- $[{2020}-{04}-{10} / {06}-{23}]$ [Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png) shows the seven day average looking back to the 15th April - **icu** - continued stable trend [1][2][3][4]

<!--
[1] P. Nolan (IEMAG), "Department of Health briefing on Covid-19 (06/11/2020)," [rte](https://www.youtube.com/watch?v=ykT6gPC4XAU), June 2020.

[2] P. Nolan (IEMAG), "LIVE: COVID-19 briefing as health officials confirm latest cases, deaths & trends (18/06/2020)," [VirginMediaNews](https://web.archive.org/web/20201207130443if_/https://www.facebook.com/VirginMediaNews/videos/3366215196746021), June 2020.

[3] P. Nolan (IEMAG), "LIVE: Coronavirus press briefing as latest cases, deaths & trends are confirmed (02/07/2020)," [VirginMediaNews](https://web.archive.org/web/20201207131030if_/https://www.facebook.com/VirginMediaNews/videos/327752801951242), July 2020.

[4] P. Nolan (IEMAG), "Watch LIVE as the latest coronavirus cases, deaths and trends are announced (23/07/2020)," [VirginMediaNews](https://web.archive.org/web/20201207131431if_/https://www.facebook.com/VirginMediaNews/videos/905971223258186), July 2020.
-->

In [49]:
nFrom,nTo="2020-06-03","2020-07-03"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1],
                                                               p=[0.3,0.7],size=30))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-07-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.2 0.1 0.1 0.1 0.1 0.2 0.2 0.1
 0.2 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.2 0.1 0.2 0.2]
<epidemic day> : 127 is 2020-07-03 (2020-06-03/2020-07-03] =  30 day(s)
=======================================================================

            icu I_DIFF  I_PCGR
2020-06-03  292      0  00.000
2020-06-04  292      0  00.000
2020-06-05  293      1  00.341
2020-06-06  293      0  00.000
2020-06-07  293      0  00.000
2020-06-08  293      0  00.000
2020-06-09  294      1  00.340
2020-06-10  294      0  00.000
2020-06-11  294      0  00.000
2020-06-12  295      1  00.339
2020-06-13  295      0  00.000
2020-06-14  296      1  00.338
2020-06-15  296      0  00.000
2020-06-16  296      0  00.000
2020-06-17  296      0  00.000
2020-06-18  297      1  00.337
2020-06-19  297      0  00.000
2020-06-20  298      1  00.336
2020-06-21  298      0  00.000
2020-06-22  299      1  00.334
2020-06-23  299      0  00.000
2020-06-24  299      0  00.000
2020-06-25  300      1  00.333
2020-06-26  300      0  00.000
2020-06-27  300      0  00.000
2020-06-28  301      1  00.332
2020-06-29  301      0  00.000
2020-06-30  301      0  00.000
2020-07-01  302      1  00.331
2020-07-02  302      0  00.000
2020-07-03  303      1  00.330

## END

<a id="deaths"></a>
< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >

## Parameter - deaths
***

< [Table of Contents](#task-2) | [hospital](#hospital) | [icu](#icu) | [deaths](#deaths) >

<!--
april 20 - plot - deaths reported 77
https://twitter.com/CMOIreland/status/1252344273938219011
-->

- the first recorded death of a patient diagnosed with Covid-19 in Ireland was reported on 11th March, 2020 [1]

<!--
Department of Health, "Statement from the National Public Health Emergency Team - Wednesday 11 March,"[gov](https://web.archive.org/web/20201115152507/https://www.gov.ie/en/press-release/451b35-statement-from-the-national-public-health-emergency-team-wednesday-1), March 2020.
-->

In [50]:
nDeaths,nColumn=0,"deaths"

In [51]:
nTo,nFrom="2020-03-10","2020-02-27"
fCovid19(nFrom,nTo,nColumn,[nDeaths]*12)
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-10 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
<epidemic day> :  12 is 2020-03-10 (2020-02-27/2020-03-10] =  12 day(s)
=======================================================================

           deaths D_DIFF D_PCGR
2020-02-28      0    ...    ...
2020-02-29      0    ...    ...
2020-03-01      0    ...    ...
2020-03-02      0    ...    ...
2020-03-03      0    ...    ...
2020-03-04      0    ...    ...
2020-03-05      0    ...    ...
2020-03-06      0    ...    ...
2020-03-07      0    ...    ...
2020-03-08      0    ...    ...
2020-03-09      0    ...    ...
2020-03-10      0    ...    ...

In [52]:
nDeaths=1
nFrom,nTo="2020-03-10","2020-03-11"
fCovid19(nFrom,nTo,nColumn,[nDeaths])
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-11 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1]
<epidemic day> :  13 is 2020-03-11 (2020-03-10/2020-03-11] =   1 day(s)
=======================================================================

           deaths D_DIFF   D_PCGR
2020-03-10      0    ...      ...
2020-03-11      1      1  100.000

- $[{2020}-{02}-{29} / {03}-{29}]$ [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows the cumulative number of people deaths - less than one-hundred [1]

<!--
[1] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.
-->

In [53]:
nFrom,nTo="2020-03-11","2020-03-29"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(27,size=18))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-29 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[24 30 25 37 16 33 20 19 34 27 25 35 31 33 30 24 26 32]
<epidemic day> :  31 is 2020-03-29 (2020-03-11/2020-03-29] =  18 day(s)
=======================================================================

           deaths D_DIFF   D_PCGR
2020-03-11      1      1  100.000
2020-03-12      1      0   00.000
2020-03-13      2      1   50.000
2020-03-14      2      0   00.000
2020-03-15      3      1   33.333
2020-03-16      3      0   00.000
2020-03-17      4      1   25.000
2020-03-18      5      1   20.000
2020-03-19      6      1   16.667
2020-03-20      8      2   25.000
2020-03-21     10      2   20.000
2020-03-22     13      3   23.077
2020-03-23     17      4   23.529
2020-03-24     23      6   26.087
2020-03-25     30      7   23.333
2020-03-26     40     10   25.000
2020-03-27     49      9   18.367
2020-03-28     62     13   20.968
2020-03-29     82     20   24.390

- $[{2020}-{03}-{30} / {04}-{16}]$ [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows unfortunately the number of people dying continued to increase - similar to each of the variables of interest - ``cases`` - ``hospital`` - ``icu`` - rate of growth was decreasing - it was evident there was a considerable slowing in the growth of the epidemic at this stage [1][2]

<!--
[1] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.
-->

[<img style="float:right;" src="img/04232020-deaths.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-deaths.png) 

- $[{2020}-{04}-{08} / {04}-{16}]$ - ``deaths`` parameter - obviously changes latest in an epidemic - pale grey bins are the number of deaths per day on the date that they occurred - not on the date that they were reported - most recent data is faded out because there would have sadly some people who passed away in the week prior and not notified - number of deaths per day was relatively stable since the end of the first week in April [1][2]

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily briefing on coronavirus in Ireland (23/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207120754if_/https://www.facebook.com/VirginMediaNews/videos/877654396048507), April 2020.

[2] Department of Health, "COVID-19 modelling data - Thursday 23 April 2020," [gov](https://web.archive.org/web/20201020115335/https://www.gov.ie/en/publication/a950be-covid-19-modelling-data-thursday-23-april-2020), April 2020.
-->

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [54]:
nFrom,nTo="2020-03-29","2020-04-16"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(10,size=18))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-16 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[16  7  7 10  5  9  9 17 13 13  8  8 11 11 10 11  7 12]
<epidemic day> :  49 is 2020-04-16 (2020-03-29/2020-04-16] =  18 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-03-29     82     20  24.390
2020-03-30     95     13  13.684
2020-03-31    102      7  06.863
2020-04-01    109      7  06.422
2020-04-02    120     11  09.167
2020-04-03    126      6  04.762
2020-04-04    137     11  08.029
2020-04-05    149     12  08.054
2020-04-06    175     26  14.857
2020-04-07    198     23  11.616
2020-04-08    223     25  11.211
2020-04-09    241     18  07.469
2020-04-10    260     19  07.308
2020-04-11    289     29  10.035
2020-04-12    321     32  09.969
2020-04-13    353     32  09.065
2020-04-14    392     39  09.949
2020-04-15    419     27  06.444
2020-04-16    469     50  10.661

##### Metrics - 13th May (inclusive)
***

[<img style="float:right;" src="img/05142020-metrics-04162020-05062020-05132020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05142020-metrics-04162020-05062020-05132020.png)

- $[{2020}-{04}-{11} / {05}-{13}]$ - mid-April there was on average ``33`` deaths confirmed per days - looking back on the two preceding Wednesdays and comparing with mid-April the average over the preceding five days indicates the ``death`` parameter metric was declining [1]


- $[{2020}-{04}-{11} / {04}-{16})$ - ``33``


- $[{2020}-{05}-{02} / {05}-{06}]$ - ``21``


- $[{2020}-{05}-{09} / {05}-{13}]$ - ``13``

<!--
[1] P. Nolan (IEMAG), "LIVE: Latest coronavirus cases and deaths announced (14/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124525if_/https://www.facebook.com/VirginMediaNews/videos/663783837807950), May 2020.
-->

In [55]:
nFrom,nTo="2020-04-16","2020-05-06"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(5,size=20))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-06 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[5 3 4 5 4 5 4 7 3 5 5 9 8 6 3 7 4 7 4 2]
<epidemic day> :  69 is 2020-05-06 (2020-04-16/2020-05-06] =  20 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-04-16    469     50  10.661
2020-04-17    492     23  04.675
2020-04-18    507     15  02.959
2020-04-19    528     21  03.977
2020-04-20    554     26  04.693
2020-04-21    576     22  03.819
2020-04-22    605     29  04.793
2020-04-23    629     24  03.816
2020-04-24    673     44  06.538
2020-04-25    693     20  02.886
2020-04-26    728     35  04.808
2020-04-27    764     36  04.712
2020-04-28    833     69  08.283
2020-04-29    900     67  07.444
2020-04-30    954     54  05.660
2020-05-01    982     28  02.851
2020-05-02   1051     69  06.565
2020-05-03   1093     42  03.843
2020-05-04   1170     77  06.581
2020-05-05   1216     46  03.783
2020-05-06   1241     25  02.015

[<img style="float:right;" src="img/06042020-confirmed-cases-deaths-each-day-RTE-06042020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-confirmed-cases-deaths-each-day-RTE-06042020.png)


- $[{2020}-{04}-{22} / {05}-{17}]$ - number of deaths per day as a five day average and looking back each day had declined steadily week on week [1][2]

<!--
[1] P. Nolan (IEMAG), "LIVE: Update on coronavirus in Ireland (21/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207135558/https://www.facebook.com/VirginMediaNews/videos/286447475729598), May 2020.

[2] RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.
-->

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [56]:
nFrom,nTo="2020-05-06","2020-05-13"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1,0.5],
                                                                  p=[0.7,0.3],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-13 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1.  1.  0.5 0.5 1.  1.  0.5]
<epidemic day> :  76 is 2020-05-13 (2020-05-06/2020-05-13] =   7 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-05-06   1241     25  02.015
2020-05-07   1253     12  00.958
2020-05-08   1266     13  01.027
2020-05-09   1272      6  00.472
2020-05-10   1279      7  00.547
2020-05-11   1291     12  00.930
2020-05-12   1304     13  00.997
2020-05-13   1311      7  00.534

##### Metrics - 20th May (inclusive)
***

[<img style="float:right;" src="img/05212020-metrics-05202020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05212020-metrics-05202020.png)

- $[{2020}-{05}-{16} / {05}-{21})$ - the average number of deaths confirmed each day of the five days leading up to Wednesday the 20th May and not including probable or suspect continues to decline to an average of ``9`` per day [1]

<!--
[1] P. Nolan (IEMAG), "LIVE: Update on coronavirus in Ireland (21/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207135558/https://www.facebook.com/VirginMediaNews/videos/286447475729598), May 2020.

[2] P. Nolan (IEMAG), "Twitter Post (No Title) - 21st May," [twitter](https://web.archive.org/web/20201221121700/https://twitter.com/President_MU/status/1263547672369278983/photo/1), May 2020.
-->

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [57]:
nFrom,nTo="2020-05-13","2020-05-20"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.8,0.3],
                                                                  p=[0.7,0.3],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-20 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.8 0.3 0.8 0.3 0.8 0.8 0.8]
<epidemic day> :  83 is 2020-05-20 (2020-05-13/2020-05-20] =   7 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-05-13   1311      7  00.534
2020-05-14   1321     10  00.757
2020-05-15   1325      4  00.302
2020-05-16   1336     11  00.823
2020-05-17   1340      4  00.299
2020-05-18   1351     11  00.814
2020-05-19   1362     11  00.808
2020-05-20   1372     10  00.729

##### Metrics - 27th May (inclusive)
***

[<img style="float:right;" src="img/05282020-metrics-05272020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05282020-metrics-05272020.png)

- $[{2020}-{05}-{23} / {05}-{28})$ - the average of the five days leading up to Wednesday the 27th May - average ``8`` new deaths per day indicating the number of new deaths was stable [1]

<!--
[1] P. Nolan (IEMAG), "We’re LIVE as health officials give an update on coronavirus in Ireland (28/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124952if_/https://www.facebook.com/VirginMediaNews/videos/2472265849750287), May 2020.
-->

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

[<img style="float:right;" src="img/05282020-deaths.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05282020-deaths.png)

- $[{2020}-{05}-{23} / {05}-{28})$ - unfortunately continued to report deaths nonetheless the number of deaths per day did remain with the majority of those deaths in long term residential care - indicates the ``deaths`` parameter metric was declining and considered stable [1]

<!--
[1] P. Nolan (IEMAG), "We’re LIVE as health officials give an update on coronavirus in Ireland (28/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124952if_/https://www.facebook.com/VirginMediaNews/videos/2472265849750287), May 2020.
-->

***(Screenshot) P. Nolan (IEMAG), "We’re LIVE as health officials give an update on coronavirus in Ireland (28/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124952if_/https://www.facebook.com/VirginMediaNews/videos/2472265849750287), May 2020.***

In [58]:
nFrom,nTo="2020-05-20","2020-05-27"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.8,0.3],
                                                                  p=[0.7,0.3],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-27 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.8 0.8 0.3 0.3 0.8 0.8 0.8]
<epidemic day> :  90 is 2020-05-27 (2020-05-20/2020-05-27] =   7 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-05-20   1372     10  00.729
2020-05-21   1383     11  00.795
2020-05-22   1394     11  00.789
2020-05-23   1398      4  00.286
2020-05-24   1402      4  00.285
2020-05-25   1414     12  00.849
2020-05-26   1425     11  00.772
2020-05-27   1436     11  00.766

##### Metrics - 3rd June (inclusive)
***

[<img style="float:right;" src="img/06042020-metrics-06032020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png)

- $[{2020}-{05}-{30} / {06}-{04})$ - the average of the five days leading up to Wednesday the 3rd June - average 3 deaths per day [1] 

<!--
[1] P. Nolan (IEMAG), "LIVE: Daily coronavirus briefing – latest cases, deaths & trends (04/06/2020)," [VirginMediaNews](https://web.archive.org/web/20201207125225if_/https://www.facebook.com/VirginMediaNews/videos/366570967651659), June 2020.
-->

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [59]:
nFrom,nTo="2020-05-27","2020-06-03"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.3,0.2],
                                                                  p=[0.5,0.5],size=8))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-06-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.3 0.3 0.2 0.2 0.2 0.3 0.2 0.3]
<epidemic day> :  97 is 2020-06-03 (2020-05-27/2020-06-03] =   7 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-05-27   1436     11  00.766
2020-05-28   1440      4  00.278
2020-05-29   1445      5  00.346
2020-05-30   1448      3  00.207
2020-05-31   1450      2  00.138
2020-06-01   1453      3  00.206
2020-06-02   1458      5  00.343
2020-06-03   1461      3  00.205

- $[{2020}-{04}-{10} / {06}-{23}]$ [Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png) shows the seven day average looking back to the 15th April - **deaths** - continued stable trend [1][2][3][4]

<!--
[1] P. Nolan (IEMAG), "Department of Health briefing on Covid-19 (06/11/2020)," [rte](https://www.youtube.com/watch?v=ykT6gPC4XAU), June 2020.

[2] P. Nolan (IEMAG), "LIVE: COVID-19 briefing as health officials confirm latest cases, deaths & trends (18/06/2020)," [VirginMediaNews](https://web.archive.org/web/20201207130443if_/https://www.facebook.com/VirginMediaNews/videos/3366215196746021), June 2020.

[3] P. Nolan (IEMAG), "LIVE: Coronavirus press briefing as latest cases, deaths & trends are confirmed (02/07/2020)," [VirginMediaNews](https://web.archive.org/web/20201207131030if_/https://www.facebook.com/VirginMediaNews/videos/327752801951242), July 2020.

[4] P. Nolan (IEMAG), "Watch LIVE as the latest coronavirus cases, deaths and trends are announced (23/07/2020)," [VirginMediaNews](https://web.archive.org/web/20201207131431if_/https://www.facebook.com/VirginMediaNews/videos/905971223258186), July 2020.
-->

In [60]:
nFrom,nTo="2020-06-03","2020-07-03"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1,0.0],
                                                                  p=[0.5,0.3,0.2],size=30))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-07-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.2 0.1 0.2 0.2 0.1 0.1 0.2 0.1 0.2 0.2 0.1 0.  0.2 0.2 0.2 0.  0.2 0.2
 0.2 0.1 0.  0.1 0.  0.2 0.1 0.2 0.  0.1 0.1 0. ]
<epidemic day> : 127 is 2020-07-03 (2020-06-03/2020-07-03] =  30 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-06-03   1461      3  00.205
2020-06-04   1464      3  00.205
2020-06-05   1465      1  00.068
2020-06-06   1468      3  00.204
2020-06-07   1471      3  00.204
2020-06-08   1473      2  00.136
2020-06-09   1474      1  00.068
2020-06-10   1477      3  00.203
2020-06-11   1479      2  00.135
2020-06-12   1482      3  00.202
2020-06-13   1485      3  00.202
2020-06-14   1486      1  00.067
2020-06-15   1486      0  00.000
2020-06-16   1489      3  00.201
2020-06-17   1492      3  00.201
2020-06-18   1495      3  00.201
2020-06-19   1495      0  00.000
2020-06-20   1498      3  00.200
2020-06-21   1501      3  00.200
2020-06-22   1504      3  00.199
2020-06-23   1505      1  00.066
2020-06-24   1505      0  00.000
2020-06-25   1507      2  00.133
2020-06-26   1507      0  00.000
2020-06-27   1510      3  00.199
2020-06-28   1511      1  00.066
2020-06-29   1515      4  00.264
2020-06-30   1515      0  00.000
2020-07-01   1516      1  00.066
2020-07-02   1518      2  00.132
2020-07-03   1518      0  00.000

## END

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 2](#task-2) | [Task 4](#task-4) | [References](#references) >
<a id="task-3"></a>
***
## Task 3
### Synthesise/Simulate a Dataset.
***

In [61]:
# b_T_hird_P_arty-imports
import pandas as pd
import numpy as np

# define function - fCovid19
def fCovid19(nRowCldIntervalS,nRowCldIntervalE,nColVarInterest,nArrPercent):
    global nCases,nHospital,nICU,nDeaths    
    nPopulate=0
    if nColVarInterest=="cases":
        nPopulate=nCases
    elif nColVarInterest=="hospital":
        nPopulate=nHospital
    elif nColVarInterest=="icu":
        nPopulate=nICU
    elif nColVarInterest=="deaths":
        nPopulate=nDeaths
#    print("================== RUN UP TO 23:59 (GMT) {} ===================".format(nRowCldIntervalE))
    for nDate in range(len(dfCovid19.loc[:nRowCldIntervalS]),
                       len(dfCovid19.loc[:nRowCldIntervalE])):
        nPopulate+=nPopulate*(nArrPercent[nDate-len(dfCovid19.loc[:nFrom])]/100)
        dfCovid19[nColVarInterest].values[nDate]=round(nPopulate)
        # package pandas - subpackage core - subpackage tools - module datetimes
        nRowCldIntervalE=pd.to_datetime(nRowCldIntervalE) # convert to datetime
        # package pandas - subpackage _libs - subpackage tslibs - moduie timedeltas
        nRowCldIntervalE+=pd.Timedelta(1,unit="d") # duration initially x1 day
#    print("   <array element(s) (percent growth - rounded) applied to each day>")
#    print(nArrPercent)
    return round(nPopulate)

nTo,nFrom="2020-02-28","2020-02-27"

# define function - fEpidemicDay
def fEpidemicDay(nParDF,nParTo=nTo):
    global nFrom
    print("<epidemic day> : {:>3} is {} ({}/{}] = {:>3} day(s)".format(
        len(nParDF.loc[:nParTo]),nParTo,nFrom,nParTo,
        len(nParDF.loc[:nParTo])-len(nParDF.loc[:nFrom])))
    print("="*71)

# define function - fStatus
def fStatus(nParDF,nParFrom=nFrom,nParTo=nTo):
    if nParFrom=="2020-02-27":
        nParDF["C_DIFF"]="..."
        nParDF["C_PCGR"]="..."
        nParDF["H_DIFF"]="..."
        nParDF["H_PCGR"]="..."
        nParDF["I_DIFF"]="..."
        nParDF["I_PCGR"]="..."
        nParDF["D_DIFF"]="..."
        nParDF["D_PCGR"]="..."
    else:
        for nDate in range(len(nParDF.loc[:nParFrom]),len(nParDF.loc[:nParTo])):
            nParDF["C_DIFF"].values[nDate]=nParDF.iloc[nDate][0]-nParDF.iloc[nDate-1][0]
            nParDF["C_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][0]-nParDF.iloc[nDate-1][0])/nParDF.iloc[nDate][0])*100)
            nParDF["H_DIFF"].values[nDate]=nParDF.iloc[nDate][3]-nParDF.iloc[nDate-1][3]
            nParDF["H_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][3]-nParDF.iloc[nDate-1][3])/nParDF.iloc[nDate][3])*100)
            nParDF["I_DIFF"].values[nDate]=nParDF.iloc[nDate][6]-nParDF.iloc[nDate-1][6]
            nParDF["I_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][6]-nParDF.iloc[nDate-1][6])/nParDF.iloc[nDate][6])*100)
            nParDF["D_DIFF"].values[nDate]=nParDF.iloc[nDate][9]-nParDF.iloc[nDate-1][9]
            nParDF["D_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][9]-nParDF.iloc[nDate-1][9])/nParDF.iloc[nDate][9])*100)
    return nParDF[nParFrom:nParTo]

nZeroDay=nTo

n14DLowInc="2020-07-03"

# package pandas - subpackage core - subpackage indexes - module datetimes
nEpidemic=pd.date_range(start=nZeroDay,end=n14DLowInc,closed=None) # (2020−02−27/07−03]

# package pandas - subpackage core - module frame
dfCovid19=pd.DataFrame(index=nEpidemic,columns=["cases","C_DIFF","C_PCGR",
                                                "hospital","H_DIFF","H_PCGR",
                                                "icu","I_DIFF","I_PCGR",
                                                "deaths","D_DIFF","D_PCGR",])

# package pandas - subpackage _config - module config
pd.set_option("display.max_rows",len(dfCovid19))

# ================================
# - Generate Synthetic Dataset - =
# ------- Column - cases ------- =
# ================================

nCases,nColumn=1,"cases"

fCovid19(nFrom,nTo,nColumn,[nCases])

nFrom,nTo="2020-02-28","2020-03-02"
fCovid19(nFrom,nTo,nColumn,[nCases,nCases,nCases])

nFrom,nTo="2020-03-02","2020-03-05"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(125,size=3))

nFrom,nTo="2020-03-05","2020-03-14"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(30,size=9))

nFrom,nTo="2020-03-14","2020-03-23"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(33,size=9))

nFrom,nTo="2020-03-23","2020-03-29"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(15,size=6))

nFrom,nTo="2020-03-29","2020-04-07"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(10,size=9))

nFrom,nTo="2020-04-07","2020-04-16"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(5,size=9)+0.1)

nFrom,nTo="2020-04-16","2020-05-07"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[2,1.5,1],
                                                                 p=[0.25,0.5,0.25],size=21))

nFrom,nTo="2020-05-07","2020-05-13"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1.5,1],
                                                                 p=[0.2,0.8],size=6))

nFrom,nTo="2020-05-13","2020-05-20"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.75,0.5],
                                                                 p=[0.2,0.8],size=7))

nFrom,nTo="2020-05-20","2020-05-27"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.65,0.35],
                                                                 p=[0.2,0.8],size=7))

nFrom,nTo="2020-05-27","2020-06-03"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.7,0.3],
                                                                 p=[0.1,0.9],size=7))

nFrom,nTo="2020-06-03","2020-07-03"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.1,0.05],
                                                                 p=[0.1,0.9],size=30))

# ================================
# - Generate Synthetic Dataset - =
# ------ Column - hospital ----- =
# ================================

nHospital,nICU,nColumn=1,1,"hospital"

nTo,nFrom="2020-02-28","2020-02-27"
fCovid19(nFrom,nTo,nColumn,[nHospital])

nFrom,nTo="2020-02-28","2020-03-11"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(35,size=12))

nFrom,nTo="2020-03-11","2020-03-28"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(18,size=17))

nFrom,nTo="2020-03-28","2020-04-22"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[6,5,4],
                                                                    p=[0.3,0.3,0.4],size=25))

nFrom,nTo="2020-04-22","2020-04-30"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[4,2,1],
                                                                    p=[0.3,0.3,0.4],size=8))

nFrom,nTo="2020-04-30","2020-05-07"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1,0.5],
                                                                    p=[0.4,0.6],size=7))

nFrom,nTo="2020-05-07","2020-05-13"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1,0.5],
                                                                    p=[0.4,0.6],size=6))

nFrom,nTo="2020-05-13","2020-05-20"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.9,0.3],
                                                                    p=[0.4,0.6],size=7))

nFrom,nTo="2020-05-20","2020-05-27"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.5,0.4],
                                                                    p=[0.3,0.7],size=7))

nFrom,nTo="2020-05-27","2020-06-03"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.3,0.2],
                                                                    p=[0.3,0.7],size=7))

nFrom,nTo="2020-06-03","2020-07-03"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.01,0.05],
                                                                    p=[0.3,0.7],size=30))

# ================================
# - Generate Synthetic Dataset - =
# -------- Column - icu -------- =
# ================================

nColumn="icu"

nTo,nFrom="2020-02-28","2020-02-27"
fCovid19(nFrom,nTo,nColumn,[nICU])

nFrom,nTo="2020-02-28","2020-03-20"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(5,size=21))

nFrom,nTo="2020-03-20","2020-03-27"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(55,size=7))

nFrom,nTo="2020-03-27","2020-04-11"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(10,size=15))

nFrom,nTo="2020-04-11","2020-04-30"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(2,size=19))

nFrom,nTo="2020-04-30","2020-05-07"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1],p=[0.3,0.7],size=7))

nFrom,nTo="2020-05-07","2020-06-03"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1],p=[0.3,0.7],size=27))

nFrom,nTo="2020-06-03","2020-07-03"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1],p=[0.3,0.7],size=30))

# ================================
# - Generate Synthetic Dataset - =
# ------- Column - deaths ------ =
# ================================

nDeaths,nColumn=0,"deaths"

nTo,nFrom="2020-03-10","2020-02-27"
fCovid19(nFrom,nTo,nColumn,[nDeaths]*12)

nDeaths=1
nFrom,nTo="2020-03-10","2020-03-11"
fCovid19(nFrom,nTo,nColumn,[nDeaths])

nFrom,nTo="2020-03-11","2020-03-29"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(27,size=18))

nFrom,nTo="2020-03-29","2020-04-16"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(10,size=18))

nFrom,nTo="2020-04-16","2020-05-06"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(5,size=20))

nFrom,nTo="2020-05-06","2020-05-13"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1,0.5],p=[0.7,0.3],size=7))

nFrom,nTo="2020-05-13","2020-05-20"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.8,0.3],p=[0.7,0.3],size=7))

nFrom,nTo="2020-05-20","2020-05-27"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.8,0.3],p=[0.7,0.3],size=7))

nFrom,nTo="2020-05-27","2020-06-03"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.3,0.2],p=[0.5,0.5],size=8))

nFrom,nTo="2020-06-03","2020-07-03"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1,0.0],p=[0.5,0.3,0.2],size=30))

# permanently remove temporary columns
dfCovid19.drop("C_DIFF",axis=1,inplace=True)
dfCovid19.drop("C_PCGR",axis=1,inplace=True)
dfCovid19.drop("H_DIFF",axis=1,inplace=True)
dfCovid19.drop("H_PCGR",axis=1,inplace=True)
dfCovid19.drop("I_DIFF",axis=1,inplace=True)
dfCovid19.drop("I_PCGR",axis=1,inplace=True)
dfCovid19.drop("D_DIFF",axis=1,inplace=True)
dfCovid19.drop("D_PCGR",axis=1,inplace=True)

## END

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 2](#task-2) | [Task 3](#task-3) | [References](#references) >
<a id="task-4"></a>
***
## Task 4
### Implement Simulation.
***

In [62]:
dfCovid19

            cases hospital  icu deaths
2020-02-28      1        1    1      0
2020-02-29      1        1    1      0
2020-03-01      1        2    1      0
2020-03-02      1        2    1      0
2020-03-03      2        3    1      0
2020-03-04      5        4    1      0
2020-03-05     11        5    1      0
2020-03-06     15        6    1      0
2020-03-07     20        9    2      0
2020-03-08     24       13    2      0
2020-03-09     30       18    2      0
2020-03-10     38       24    2      0
2020-03-11     54       32    2      1
2020-03-12     73       39    2      1
2020-03-13     92       48    2      2
2020-03-14    127       57    2      2
2020-03-15    168       69    2      3
2020-03-16    233       86    2      4
2020-03-17    296       99    2      5
2020-03-18    400      115    3      6
2020-03-19    503      143    3      8
2020-03-20    664      183    3      9
2020-03-21    890      212    5     11
2020-03-22   1140      251    8     14
2020-03-23   1561      283   13     18
2020-03-24   1780      348   19     23
2020-03-25   2064      442   30     27
2020-03-26   2333      518   44     37
2020-03-27   2519      632   67     49
2020-03-28   2721      733   74     62
2020-03-29   3074      777   86     77
2020-03-30   3412      816   95     83
2020-03-31   3583      865  102     95
2020-04-01   3869      908  109    100
2020-04-02   4102      962  118    113
2020-04-03   4635     1011  131    118
2020-04-04   5006     1061  147    128
2020-04-05   5606     1104  168    140
2020-04-06   6391     1170  183    154
2020-04-07   6902     1228  205    170
2020-04-08   6978     1277  219    187
2020-04-09   7194     1341  243    211
2020-04-10   7273     1408  268    236
2020-04-11   7499     1493  292    279
2020-04-12   7806     1568  298    315
2020-04-13   8361     1646  310    356
2020-04-14   9038     1728  322    396
2020-04-15   9499     1797  322    451
2020-04-16  10078     1905  329    519
2020-04-17  10280     2000  342    566
2020-04-18  10434     2120  355    577
2020-04-19  10590     2205  359    612
2020-04-20  10749     2316  373    636
2020-04-21  10910     2454  381    668
2020-04-22  11129     2577  392    695
2020-04-23  11295     2680  400    715
2020-04-24  11408     2787  416    751
2020-04-25  11580     2815  424    819
2020-04-26  11753     2843  429    827
2020-04-27  11871     2957  437    852
2020-04-28  12049     3016  446    903
2020-04-29  12290     3137  446    930
2020-04-30  12536     3200  455   1004
2020-05-01  12724     3232  455   1055
2020-05-02  12851     3248  456   1097
2020-05-03  13044     3264  457   1141
2020-05-04  13239     3281  458   1164
2020-05-05  13438     3297  458   1233
2020-05-06  13707     3314  459   1295
2020-05-07  13912     3330  459   1301
2020-05-08  14051     3347  459   1308
2020-05-09  14192     3363  460   1315
2020-05-10  14334     3380  460   1328
2020-05-11  14477     3397  461   1334
2020-05-12  14694     3431  462   1348
2020-05-13  14841     3465  463   1361
2020-05-14  14915     3475  463   1372
2020-05-15  14990     3507  464   1376
2020-05-16  15102     3517  465   1380
2020-05-17  15215     3528  465   1391
2020-05-18  15292     3559  466   1402
2020-05-19  15406     3592  467   1414
2020-05-20  15483     3624  467   1418
2020-05-21  15537     3638  468   1429
2020-05-22  15592     3653  469   1441
2020-05-23  15646     3668  470   1452
2020-05-24  15701     3682  471   1464
2020-05-25  15756     3697  471   1468
2020-05-26  15811     3716  472   1480
2020-05-27  15914     3730  472   1492
2020-05-28  15962     3737  472   1496
2020-05-29  16010     3749  473   1501
2020-05-30  16058     3756  474   1504
2020-05-31  16106     3767  475   1507
2020-06-01  16154     3775  475   1510
2020-06-02  16203     3783  476   1513
2020-06-03  16251     3794  476   1516
2020-06-04  16259     3794  476   1519
2020-06-05  16267     3795  477   1521
2020-06-06  16275     3797  478   1521
2020-06-07  16284     3797  478   1524
2020-06-08  16292     3799  479   1525
2020-06-09  16300     3801  479   1527
2020-06-10  16308     3803  480   1528
2020-06-11  16316     3805  480   1531
2020-06-12  16324     3805  481   1534
2020-06-13  16332     3805  481   1534
2020-06-14  16341     3807  482   1536
2020-06-15  16349     3809  483   1539
2020-06-16  16357     3811  483   1540
2020-06-17  16365     3811  484   1544
2020-06-18  16373     3813  484   1544
2020-06-19  16381     3814  485   1547
2020-06-20  16390     3816  486   1548
2020-06-21  16398     3818  487   1548
2020-06-22  16406     3819  488   1550
2020-06-23  16414     3821  488   1550
2020-06-24  16422     3822  489   1553
2020-06-25  16431     3824  489   1553
2020-06-26  16439     3826  490   1553
2020-06-27  16447     3828  490   1553
2020-06-28  16455     3828  490   1553
2020-06-29  16464     3828  491   1556
2020-06-30  16472     3829  491   1556
2020-07-01  16480     3829  492   1559
2020-07-02  16488     3831  492   1559
2020-07-03  16497     3833  493   1562

## END

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 2](#task-2) | [Task 3](#task-3) | [Task 4](#task-4) >
<a id="references"></a>
***
## References
***
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[1] authorNames, referenceTitle, locationWebsiteBookVideo, dateMonthYear.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[10]

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[100]

&nbsp;&nbsp;&nbsp;[1000]
***

## END

# END JUPYTER NOTEBOOK