< [GMIT Data Analytics](https://web.archive.org/web/20201029063153/https://www.gmit.ie/computer-science-and-applied-physics/higher-diploma-science-computing-data-analytics-ict) | [Table of Contents](https://github.com/E6985) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) >

![GMIT](https://github.com/E6985/pda-numpy-random/blob/main/img/gmit.png?raw=true)

## Programming for Data Analysis - Project 2020
## Due: last commit on or before January 6th, 2021
***

<a id="top"></a>
< [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [References](#references) >

## Problem statement
For this project you must create a dataset by simulating a real-world phenomenon of your choosing. You may pick any phenomenon you wish – you might pick one that is of interest to you in your personal or professional life. Then, rather than collect data related to the phenomenon, you should model and synthesise such data using Python. We suggest you use the ``numpy.random`` package for this purpose.

Specifically, in this project you should:

[Task 1](#task-1). Choose a Real-world Phenomenon.

> Real-world phenomenon that can be measured and for which you could collect at least one-hundred data points across at least four different variables.

[Task 2](#task-2). Types of Variables - Distributions - Relationships.

> Investigate the types of variables involved, their likely distributions, and their relationships with each other.

[Task 3](#task-3). Synthesise/Simulate a Dataset.

> Synthesise/simulate a dataset as closely matching their properties as possible.

[Task 4](#task-4). Implement Simulation.

> Implement the simulation in a Jupyter notebook – the dataset itself can simply be displayed in an output cell within the notebook.

Note that this project is about simulation – you must synthesise a data set. Some students may already have some real-world datasets in their own files. It is okay to base your synthesised dataset on these should you wish (please reference it if you do), but the main task in this project is to create a synthesised dataset. The next section gives an example project idea.

## END

## Conventions Used in This Jupyter Notebook
***

**bold** indicates variables of interest

&#x26AA; indicate code commentary

## END

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Task 1](#task-1) | [Task 2](#task-2) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >
<a id="project-plan"></a>
## Project Plan
### Living document updated throughout the lifecycle of the Project.
***

- summarising the project throughout its lifecycle in conjunction with git commit history

###### Date Representation
***

- ISO 8601 standard provides for an unambiguous calendar-and-clock format that is internationally understood [1] and provides the example ``1985-04-12/06-25`` for a time interval starting at 12 April 1985 and ending on 25 June 1985 [2] 


- notebook will use the ISO 8601 standard wrapping the time period within either a closed interval in which all limit points are included [3] - $[{1985}-{04}-{12} / {06}-{25}]$ - or a half-closed interval in which one endpoint is included but not the other - $[{1985}-{04}-{12} / {06}-{25})$ - $({1985}-{04}-{12} / {06}-{25}]$ - presented before further analysis of the time period [4]

## END

## Packages
***

In [1]:
# b_T_hird_P_arty-imports
import pandas as pd
import numpy as np

## Functions
***

In [2]:
# define function - fCovid19
def fCovid19(nRowCldIntervalS,nRowCldIntervalE,nColVarInterest,nArrPercent):
    global nCases,nHospital,nICU,nDeaths    
    nPopulate=0
    if nColVarInterest=="cases":
        nPopulate=nCases
    elif nColVarInterest=="hospital":
        nPopulate=nHospital
    elif nColVarInterest=="icu":
        nPopulate=nICU
    elif nColVarInterest=="deaths":
        nPopulate=nDeaths
    print("================== RUN UP TO 23:59 (GMT) {} ===================".format(
        nRowCldIntervalE))
    for nDate in range(len(dfCovid19.loc[:nRowCldIntervalS]),
                       len(dfCovid19.loc[:nRowCldIntervalE])):
        nPopulate+=nPopulate*(nArrPercent[nDate-len(dfCovid19.loc[:nFrom])]/100)
        dfCovid19[nColVarInterest].values[nDate]=round(nPopulate)
        # package pandas - subpackage core - subpackage tools - module datetimes
        nRowCldIntervalE=pd.to_datetime(nRowCldIntervalE) # convert to datetime
        # package pandas - subpackage _libs - subpackage tslibs - moduie timedeltas
        nRowCldIntervalE+=pd.Timedelta(1,unit="d") # duration initially x1 day
    print("   <array element(s) (percent growth - rounded) applied to each day>")
    print(nArrPercent)
    return round(nPopulate)

nTo,nFrom="2020-02-28","2020-02-27"

# define function - fEpidemicDay
def fEpidemicDay(nParDF,nParTo=nTo):
    global nFrom
    print("<epidemic day> : {:>3} is {} ({}/{}] = {:>3} day(s)".format(
        len(nParDF.loc[:nParTo]),nParTo,nFrom,nParTo,
        len(nParDF.loc[:nParTo])-len(nParDF.loc[:nFrom])))
    print("="*71)

# define function - fStatus
def fStatus(nParDF,nParFrom=nFrom,nParTo=nTo):
    if nParFrom=="2020-02-27":
        nParDF["C_DIFF"]="..."
        nParDF["C_PCGR"]="..."
        nParDF["H_DIFF"]="..."
        nParDF["H_PCGR"]="..."
        nParDF["I_DIFF"]="..."
        nParDF["I_PCGR"]="..."
        nParDF["D_DIFF"]="..."
        nParDF["D_PCGR"]="..."
    else:
        for nDate in range(len(nParDF.loc[:nParFrom]),len(nParDF.loc[:nParTo])):
            nParDF["C_DIFF"].values[nDate]=nParDF.iloc[nDate][0]-nParDF.iloc[nDate-1][0]
            nParDF["C_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][0]-nParDF.iloc[nDate-1][0])/nParDF.iloc[nDate][0])*100)
            nParDF["H_DIFF"].values[nDate]=nParDF.iloc[nDate][3]-nParDF.iloc[nDate-1][3]
            nParDF["H_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][3]-nParDF.iloc[nDate-1][3])/nParDF.iloc[nDate][3])*100)
            nParDF["I_DIFF"].values[nDate]=nParDF.iloc[nDate][6]-nParDF.iloc[nDate-1][6]
            nParDF["I_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][6]-nParDF.iloc[nDate-1][6])/nParDF.iloc[nDate][6])*100)
            nParDF["D_DIFF"].values[nDate]=nParDF.iloc[nDate][9]-nParDF.iloc[nDate-1][9]
            nParDF["D_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][9]-nParDF.iloc[nDate-1][9])/nParDF.iloc[nDate][9])*100)
    return nParDF[nParFrom:nParTo]

## END

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 2](#task-2) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >
<a id="task-1"></a>
***
## Task 1
### Choose a Real-world phenomenon.
***

- $[{2020}-{02}-{28} / {07}-{03}]$ - real-world phenomenon under investigation is the Republic of Ireland - Coronavirus - SARS-CoV-2 (Covid-19) Pandemic from day zero on 28th February, 2020 [5] - ``nZeroDay`` - to the lowest 14-day incidence rate recorded on July 3th, 2020 when the national 14-day incidence rate was 2.98 cases per 100,000 population [6] - ``n14DLowInc``

In [3]:
nZeroDay,nCases=nTo,1
nZeroDay

'2020-02-28'

In [4]:
n14DLowInc="2020-07-03"
n14DLowInc

'2020-07-03'

&#x00A9; creating fixed frequency array - ``nEpidemic`` - object - ``DatetimeIndex`` [7]

In [5]:
# package pandas - subpackage core - subpackage indexes - module datetimes
nEpidemic=pd.date_range(start=nZeroDay,end=n14DLowInc,closed=None) # (2020−02−27/07−03]

&#x00A9; creating empty data structure - ``dfCovid19`` - index set to - ``nEpidemic`` - adding columns - variables of interest - **cases** - **hospital** - **icu** - **deaths** - temporary columns with underscore suffix **\_DIFF** and **\_PCGR** will be permanently dropped when the dataset is synthesised [8]

> **_DIFF** - represents addition variable of interest each day

> **_PCGR** - represents percentage variable of interest growth rate each day

In [6]:
# package pandas - subpackage core - module frame
dfCovid19=pd.DataFrame(index=nEpidemic,columns=["cases","C_DIFF","C_PCGR",
                                                "hospital","H_DIFF","H_PCGR",
                                                "icu","I_DIFF","I_PCGR",
                                                "deaths","D_DIFF","D_PCGR",])

In [7]:
# package pandas - subpackage _config - module config
pd.set_option("display.max_rows",len(dfCovid19)) # modify notebook settings

In [8]:
# package pandas - subpackage core - module generic
dfCovid19.head()

,cases,C_DIFF,C_PCGR,hospital,H_DIFF,H_PCGR,icu,I_DIFF,I_PCGR,deaths,D_DIFF,D_PCGR
2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
fEpidemicDay(dfCovid19,n14DLowInc)

<epidemic day> : 127 is 2020-07-03 (2020-02-27/2020-07-03] = 127 day(s)
=======================================================================

In [10]:
# package pandas - subpackage core - module generic
dfCovid19.tail()

,cases,C_DIFF,C_PCGR,hospital,H_DIFF,H_PCGR,icu,I_DIFF,I_PCGR,deaths,D_DIFF,D_PCGR
2020-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Coronavirus
***

- coronaviruses are a large family of viruses causing illnesses which range from the common cold to much more severe respiratory illnesses such as Severe Acute Respiratory Syndrome (SARS) [9]

### Covid-19
***

[<img style="float:right;" src="img/covid-19.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/covid-19.png)

- Covid-19 is a new disease caused by a strain of coronavirus not seen in humans before December 2019 - as a result there is no immunity in the population which means that everyone is susceptible to infection - people can catch Covid-19 from others who have the virus through inhaling small droplets from coughing or sneezing or touching contaminated surfaces and then touching their face [9]

***(Image) A. Eckert, D. Higgins, "Disease caused by the novel coronavirus officially has a name: Covid-19," [statnews](http://web.archive.org/web/20201207194606/https://www.statnews.com/2020/02/11/disease-caused-by-the-novel-coronavirus-has-name-covid-19) February 2020.***

### Epidemic Investigation
***

[<img style="float:right;" src="img/flatten-curve.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/flatten-curve.png)

- the early stage of an epidemic if uncontrolled results in very rapid growth in the number of new infections ``cases`` - exponential growth - the Irish Epidemiological Modelling Advisory Group (IEMAG) - forecasted what an unmitigated epidemic might look like if uncontrolled predicting as many as 15,000 cases in Ireland by the end of March - this was the driving force behind flattening the curve campaign early in the emergency [10]

***(Image) Department of Health, "Lower & Delay the Epidemic Peak," [twitter](https://web.archive.org/web/20201127023317/https://twitter.com/CMOIreland/status/1239554134279360517/photo/1) March 2020.***

### Zero Day
***

- $[{2020}-{02}-{28} / {02}-{29})$ day zero of the epidemic was the 28th February, 2020 - notified the following day - confirmed case was a male patient in the eastern part of the country - ``nCases`` [5]

### Testing Backlog
***

- $[{2020}-{04}-{10} / {04}-{19}]$ in April reporting of cumulative total cases appeared to show an increase in the number of people contracting the disease - this was due to a backlog of cases including results coming from German laboratories being included in the figures - previous testing constraints such as the shortage of reagents and long turnaround times for test results had led to underreporting [11][12][13][14][15][16][17][18][19][20][21]

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >
<a id="task-2"></a>
***
## Task 2
### Types of Variables - Distributions - Relationships.

### Table of Contents

* [Parameters](#parameters)
    * [cases](#cases)
    * [hospital](#hospital)
    * [icu](#icu)
    * [deaths](#deaths)
***

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >

<a id="parameters"></a>
###  Parameters
***

< [Table of Contents](#task-2) | [cases](#cases) | [hospital](#hospital) | [icu](#icu) | [deaths](#deaths) >

- variables of interest - Covid-19 related - i) cumulative daily number of infections - **cases** - ii) cumulative daily number of admissions to hospital - **hospital** - iii) cumulative daily number of admissions to intensive care units - **icu** - cumulative daily number of deaths - **deaths**

<a id="cases"></a>
< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >

###  Parameter - cases
***

< [Table of Contents](#task-2) | [hospital](#hospital) | [icu](#icu) | [deaths](#deaths) >

In [11]:
nColumn="cases"
nCases

1

&#x26AA; populate DataFrame ``dfCovid19`` - initialise first case of Covid-19 [5]

In [12]:
fCovid19(nFrom,nTo,nColumn,[nCases])
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-02-28 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1]
<epidemic day> :   1 is 2020-02-28 (2020-02-27/2020-02-28] =   1 day(s)
=======================================================================

           cases C_DIFF C_PCGR
2020-02-28     1    ...    ...

(1) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.***

[<img style="float:right;" src="img/log-linear.png" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png)

- $[{2020}-{02}-{29} / {04}-{16}]$ [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows the cumulative - **cases** - **hospital** - **icu** - **deaths** [23]


- $[{2020}-{02}-{29} / {04}-{16}]$ log-linear plots are used to show epidemic tends (exponential growth as a straight line) with the effect that any subtle changes in the growth rate of an epidemic will be evident on these plots [22][23] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))


- $[{2020}-{02}-{03} / {03}-{16}]$ with most of the external tests results from the German laboratories backdated [12][13][14][15][16][17][18] the log-linear plot shows a positive increase on the vertical (y-axis) from the beginning of the epidemic - rapid growth evident [22][23] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))

&#x26AA; populate DataFrame ``dfCovid19`` - initialise zero cases in the run up to 3rd March [23] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png)) - interval reported no new cases [5][24][25]

In [13]:
nFrom,nTo="2020-02-28","2020-03-02"
fCovid19(nFrom,nTo,nColumn,[nCases,nCases,nCases])
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-02 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1, 1, 1]
<epidemic day> :   4 is 2020-03-02 (2020-02-28/2020-03-02] =   3 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-02-28     1    ...     ...
2020-02-29     1      0  00.000
2020-03-01     1      0  00.000
2020-03-02     1      0  00.000

- $[{2020}-{03}-{03} / {03}-{12}]$ there was a steady increase in the run up to the 13th March before the first set of moderate social distancing measures were introduced at 6 p.m. on the 12th March - closing schools/universities (pubs later) [22][26] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``125%`` using ``numpy.random.Generator.poisson`` in the run up to 6th March [23][27] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))

In [14]:
nFrom,nTo="2020-03-02","2020-03-05"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(125,size=3))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-05 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[113 134 109]
<epidemic day> :   7 is 2020-03-05 (2020-03-02/2020-03-05] =   3 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-03-02     1      0  00.000
2020-03-03     2      1  50.000
2020-03-04     5      3  60.000
2020-03-05    10      5  50.000

- [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows over ten cases on the 5th March [22][23]

In [15]:
fStatus(dfCovid19,nTo,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

           cases C_DIFF  C_PCGR
2020-03-05    10      5  50.000

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``30%`` using ``numpy.random.Generator.poisson`` in the run up to 15th March [23][27] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))

In [16]:
nFrom,nTo="2020-03-05","2020-03-14"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(30,size=9))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-14 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[26 40 33 39 28 30 27 23 37]
<epidemic day> :  16 is 2020-03-14 (2020-03-05/2020-03-14] =   9 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-03-05    10      5  50.000
2020-03-06    13      3  23.077
2020-03-07    18      5  27.778
2020-03-08    23      5  21.739
2020-03-09    33     10  30.303
2020-03-10    42      9  21.429
2020-03-11    54     12  22.222
2020-03-12    69     15  21.739
2020-03-13    85     16  18.824
2020-03-14   116     31  26.724

- [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows over one-hundred cases on the 14th March [22][23]

In [17]:
fStatus(dfCovid19,nTo,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

           cases C_DIFF  C_PCGR
2020-03-14   116     31  26.724

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``33%`` using ``numpy.random.Generator.poisson`` in the run up to 24th March [22][23][27] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))

In [18]:
nFrom,nTo="2020-03-14","2020-03-23"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(33,size=9))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-23 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[18 41 25 34 31 22 36 35 34]
<epidemic day> :  25 is 2020-03-23 (2020-03-14/2020-03-23] =   9 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-03-14   116     31  26.724
2020-03-15   137     21  15.328
2020-03-16   193     56  29.016
2020-03-17   241     48  19.917
2020-03-18   323     82  25.387
2020-03-19   423    100  23.641
2020-03-20   517     94  18.182
2020-03-21   703    186  26.458
2020-03-22   949    246  25.922
2020-03-23  1271    322  25.334

- [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows over one-hundred cases on the 23rd March [22][23]

In [19]:
fStatus(dfCovid19,nTo,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

           cases C_DIFF  C_PCGR
2020-03-23  1271    322  25.334

***
(2) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.***

[<img style="float:right;" src="img/number-cases-hospital-icu.png" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/number-cases-hospital-icu.png)

- $[{2020}-{02}-{29} / {04}-{30}]$ [Img. (2)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/number-cases-hospital-icu.png) shows the five day cumulative average - **cases** - **hospital** - **icu** [23]


- $[{2020}-{03}-{12} (18:00) / {03}-{29})$ despite the moderate social distancing measures introduced at 6 p.m. on the 12th March in the run up to the end of March the number of new cases detected per day rose sharply [23][28][29] ([Img. (2)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/number-cases-hospital-icu.png))


- $({2020}-{03}-{27} / {04}-{30}]$ the much stronger social distancing measures - stay at home order - introduced midnight 27th of March [30] - resulted in the cases detected per day after clearly choked off transmission of the disease very promptly - within a few days the number of confirmed cases plateaued and had remained stable in the range four-hundred to six-hundred new cases per day [23][28][29][30] ([Img. (2)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/number-cases-hospital-icu.png))


- $[{2020}-{03}-{25} / {03}-{29}]$ by the 30th March the average of the preceding five days had a day on day 15% growth rate of new cases which was a huge decrease in the rate of exponential growth [23][28[29] ([Img. (2)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/number-cases-hospital-icu.png))

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``15%`` using ``numpy.random.Generator.poisson`` in the run up to 30th March [27][29] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png))

In [20]:
nFrom,nTo="2020-03-23","2020-03-29"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(15,size=6))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-29 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[14 15 13 13  7 18]
<epidemic day> :  31 is 2020-03-29 (2020-03-23/2020-03-29] =   6 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-03-23  1271    322  25.334
2020-03-24  1449    178  12.284
2020-03-25  1666    217  13.025
2020-03-26  1883    217  11.524
2020-03-27  2128    245  11.513
2020-03-28  2277    149  06.544
2020-03-29  2686    409  15.227

***
(3) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.***

[<img style="float:right;" src="img/cases-growth-rate-cumulative-5-day-avg-04072020-04162020.png" target="_blank" width=100/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-cumulative-5-day-avg-04072020-04162020.png)

- $[{2020}-{03}-{14} / {04}-{16}]$ [Img. (3)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-cumulative-5-day-avg-04072020-04162020.png) shows the cumulative percentage growth rate each day averaged over five days - **cases** [23][22]

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``10%`` using ``numpy.random.Generator.poisson`` in the run up to 8th March [23][27] ([Img. (3)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-cumulative-5-day-avg-04072020-04162020.png))

In [21]:
nFrom,nTo="2020-03-29","2020-04-07"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(10,size=9))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-07 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[11 12  6 17 13  7  8  9 13]
<epidemic day> :  40 is 2020-04-07 (2020-03-29/2020-04-07] =   9 day(s)
=======================================================================

           cases C_DIFF  C_PCGR
2020-03-29  2686    409  15.227
2020-03-30  2981    295  09.896
2020-03-31  3339    358  10.722
2020-04-01  3540    201  05.678
2020-04-02  4141    601  14.513
2020-04-03  4680    539  11.517
2020-04-04  5007    327  06.531
2020-04-05  5408    401  07.415
2020-04-06  5895    487  08.261
2020-04-07  6661    766  11.500

- $[{2020}-{04}-{07} / {04}-{16}]$ cumulative number of cases for each day averaged over five days was stable at approximately 5% [22][23] ([Img. (3)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-cumulative-5-day-avg-04072020-04162020.png))

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``5%`` using ``numpy.random.Generator.poisson`` in the run up to 17th March [22][27] ([Img. (3)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-cumulative-5-day-avg-04072020-04162020.png))

In [22]:
nFrom,nTo="2020-04-07","2020-04-16"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(5,size=9)+0.1)
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-16 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[8.1 6.1 4.1 8.1 4.1 3.1 2.1 6.1 5.1]
<epidemic day> :  49 is 2020-04-16 (2020-04-07/2020-04-16] =   9 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-04-07   6661    766  11.500
2020-04-08   7201    540  07.499
2020-04-09   7640    439  05.746
2020-04-10   7953    313  03.936
2020-04-11   8597    644  07.491
2020-04-12   8950    353  03.944
2020-04-13   9227    277  03.002
2020-04-14   9421    194  02.059
2020-04-15   9996    575  05.752
2020-04-16  10505    509  04.845

(4) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 23 April 2020," [gov](https://web.archive.org/web/20201020115335/https://www.gov.ie/en/publication/a950be-covid-19-modelling-data-thursday-23-april-2020), April 2020.***

[<img style="float:right;" src="img/04232020-cases-hospital-icu.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png) 

- $[{2020}-{02}-{29} / {04}-{22}]$ [Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png) shows the five day cumulative average - **cases** - **hospital** - **icu** - plus hospital admissions [19]


- external tests results from the German laboratories backdated to the date if had been processed in a timely manner in Ireland resulting in many of the tests actually belonged to cases in the later part of March or very early part of April [19][20][21][31] - the Health Service Executive (HSE) in its weekly briefing confirmed the backlog of testing had been elminated [34] [Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png)


- plot downturn - can see a reduction in the number of cases being detected per day although it was expected to subsequently increase because of the emphasis in testing long term residential care facilties [31][32][33] [Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png)

(5) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.*** 

[<img style="float:right;" src="img/04232020-cumulative-cases.png" target="_blank" width=150/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cumulative-cases.png) 

- $[{2020}-{04}-{17} / {04}-{23}]$ [Img. (5)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cumulative-cases.png) show that since early April the growth rate of new cases had been effectively zero - growth rate trending towards zero given there was a large number of cases (circa 1.5k on 22nd/23rd April) announced in the days prior [31][32][35][36]

(6) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.***

[<img style="float:right;" src="img/cases-growth-rate-new-not-cumulative-5-day-avg-03182020-04302020.png" target="_blank" width=150/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-new-not-cumulative-5-day-avg-03182020-04302020.png)

- $[{2020}-{04}-{24} / {04}-{30}]$ [Img. (6)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-rate-new-not-cumulative-5-day-avg-03182020-04302020.png) shows the growth rate of new cases continued to be effectively zero - can be attributed to the very strong social distancing measures taken at the end of March [28][29]

(7) ***(Screenshot) P. Nolan (IEMAG), "LIVE at the daily coronavirus briefing as health officials give an update (07/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124157if_/https://www.facebook.com/VirginMediaNews/videos/646196552888811), May 2020.***

[<img style="float:right;" src="img/cases-growth-05072020.png" target="_blank" width=150/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-05072020.png)

- $[{2020}-{05}-{01} / {05}-{07}]$ [Img. (7)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-growth-05072020.png) shows the low growth rate of new cases continueing into the first week of May - on average observing a similar number of cases each day to the preceding day - now in a period where the number of new cases per day was declining - the number of new cases notified on the 7th May was low since mid-March - now in a period where new cases per day on average was declining close to 10% per day - all indications are that the suppression measures introduced midnight the 27th March had been very effective in suppressing the spread of the virus within the population [37][38]

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``[2,1.5,1]%`` with probability ``[0.25,0.5,0.25]`` using ``numpy.random.Generator.choice`` in the run up to 8th May [37][38][39] ([Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png))

In [23]:
nFrom,nTo="2020-04-16","2020-05-07"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[2,1.5,1],
                                                                 p=[0.25,0.5,0.25],size=21))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-07 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1.5 1.  1.  1.  1.  1.5 2.  2.  1.5 2.  2.  1.  1.  2.  1.5 1.5 1.  2.
 1.5 2.  1. ]
<epidemic day> :  70 is 2020-05-07 (2020-04-16/2020-05-07] =  21 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-04-16  10505    509  04.845
2020-04-17  10663    158  01.482
2020-04-18  10769    106  00.984
2020-04-19  10877    108  00.993
2020-04-20  10986    109  00.992
2020-04-21  11096    110  00.991
2020-04-22  11262    166  01.474
2020-04-23  11487    225  01.959
2020-04-24  11717    230  01.963
2020-04-25  11893    176  01.480
2020-04-26  12131    238  01.962
2020-04-27  12373    242  01.956
2020-04-28  12497    124  00.992
2020-04-29  12622    125  00.990
2020-04-30  12874    252  01.957
2020-05-01  13067    193  01.477
2020-05-02  13263    196  01.478
2020-05-03  13396    133  00.993
2020-05-04  13664    268  01.961
2020-05-05  13869    205  01.478
2020-05-06  14146    277  01.958
2020-05-07  14288    142  00.994

(8) ***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

[<img style="float:right;" src="img/06042020-metrics-06032020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png)

- $[{2020}-{04}-{11} / {06}-{02}]$ [Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png) shows the five day average looking back from the preceding Wednesday - all metrics indicate declining trend - **cases** - **hospital** - **icu** - **deaths** [40][42]


- $[{2020}-{04}-{11} / {05}-{13}]$ mid-April there was on average close to six-hundred true** new cases per days [43] ([Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png))

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``[1.5,1]%`` with probability ``[0.2,0.8]`` using ``numpy.random.Generator.choice`` in the run up to 14th May [39][40][42][43] ([Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png))

In [24]:
nFrom,nTo="2020-05-07","2020-05-13"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1.5,1],
                                                                 p=[0.2,0.8],size=6))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-13 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1. 1. 1. 1. 1. 1.]
<epidemic day> :  76 is 2020-05-13 (2020-05-07/2020-05-13] =   6 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-05-07  14288    142  00.994
2020-05-08  14431    143  00.991
2020-05-09  14575    144  00.988
2020-05-10  14721    146  00.992
2020-05-11  14868    147  00.989
2020-05-12  15017    149  00.992
2020-05-13  15167    150  00.989

(9) ***(Image) P. Nolan (IEMAG), "Twitter Post (No Title) - 21st May," [twitter](https://web.archive.org/web/20201221121700/https://twitter.com/President_MU/status/1263547672369278983/photo/1), May 2020.***

[<img style="float:right;" src="img/hospital-new-cases-icu-05212020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/hospital-new-cases-icu-05212020.png)

- $[{2020}-{03}-{12} / {03}-{27}]$ [Img. (9)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/hospital-new-cases-icu-05212020.png) shows the grey vertical lines to indicate the application of the various measures up to the 28th March - the first set of moderate social distancing measures were introduced on the 12th March (18:00) - **cases** - **hospital** - **icu** [26][30][44] ([Img. (9)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/hospital-new-cases-icu-05212020.png))


- $[{2020}-{03}-{28} / {05}-{18})$ grey area is the period of very restrictive stay at home order in the run up to the 18th May when easing of restrictions was introduced [30][45] ([Img. (9)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/hospital-new-cases-icu-05212020.png))

- $[{2020}-{05}-{16} / {05}-{21})$ the average of the five days leading up to Wednesday the 20th May indicated a very significant decrease in the number of new cases reported per day [46] ([Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png))

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``[0.75,0.5]%`` with probability ``[0.2,0.8]`` using ``numpy.random.Generator.choice`` in the run up to 21st May [39][46] ([Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png))

In [25]:
nFrom,nTo="2020-05-13","2020-05-20"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.75,0.5],
                                                                 p=[0.2,0.8],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-20 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.5 0.5 0.5 0.5 0.5 0.5 0.5]
<epidemic day> :  83 is 2020-05-20 (2020-05-13/2020-05-20] =   7 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-05-13  15167    150  00.989
2020-05-14  15243     76  00.499
2020-05-15  15319     76  00.496
2020-05-16  15396     77  00.500
2020-05-17  15473     77  00.498
2020-05-18  15550     77  00.495
2020-05-19  15628     78  00.499
2020-05-20  15706     78  00.497

(10) ***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

[<img style="float:right;" src="img/06042020-new-cases-detected-per-day.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-new-cases-detected-per-day.png)

- $[{2020}-{05}-{18} / {05}-{31})$ [Img. (10)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-new-cases-detected-per-day.png) shows the number of new cases detected on the day the testing swab was taken was at unprecedented low levels even though transmission of the disease in isolated cases such as households within families was at a very low number in the order of a dozen to twenty new cases per day emerging in both contexts - slow decline at very low levels - indicates infections was continuing to decline - considered stable [44][45][47]

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``[0.65,0.35]%`` with probability ``[0.2,0.8]`` using ``numpy.random.Generator.choice`` in the run up to 28th May [39][44] ([Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png))

In [26]:
nFrom,nTo="2020-05-20","2020-05-27"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.65,0.35],
                                                                 p=[0.2,0.8],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-27 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.35 0.35 0.35 0.65 0.65 0.35 0.35]
<epidemic day> :  90 is 2020-05-27 (2020-05-20/2020-05-27] =   7 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-05-20  15706     78  00.497
2020-05-21  15761     55  00.349
2020-05-22  15816     55  00.348
2020-05-23  15871     55  00.347
2020-05-24  15975    104  00.651
2020-05-25  16078    103  00.641
2020-05-26  16135     57  00.353
2020-05-27  16191     56  00.346

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``[0.7,0.3]%`` with probability ``[0.1,0.9]`` using ``numpy.random.Generator.choice`` in the run up to 4th June [39][47] ([Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png))

In [27]:
nFrom,nTo="2020-05-27","2020-06-03"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.7,0.3],
                                                                 p=[0.1,0.9],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-06-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.3 0.3 0.3 0.3 0.7 0.3 0.3]
<epidemic day> :  97 is 2020-06-03 (2020-05-27/2020-06-03] =   7 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-05-27  16191     56  00.346
2020-05-28  16240     49  00.302
2020-05-29  16288     48  00.295
2020-05-30  16337     49  00.300
2020-05-31  16386     49  00.299
2020-06-01  16501    115  00.697
2020-06-02  16550     49  00.296
2020-06-03  16600     50  00.301

(11) ***(Image) P. Nolan (IEMAG), "Twitter Post (No Title) - 8th Oct," [twitter](https://twitter.com/President_MU/status/1314271848717324290), October 2020.***

- $[{2020}-{04}-{10} / {06}-{23}]$ [Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png) shows the seven day average looking back to the 15th April - all metrics continued to indicate declining trend - **cases** - **hospital** - **icu** - **deaths** [48][49][50][51]

[<img style="float:right;" src="img/metrics-run-up-to-23062020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png)

- $[{2020}-{06}-{04} / {07}-{03}]$ by the end of the first wave of the epidemic the amount of testing being done was far outstripping the prevalence of the disease with very few new cases being reported [48][49][50][51] ([Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png))


- while there was significant gains from the number of restrictions imposed over the previous months the notion of the absolute elimination of the virus was considered not practical given that it was considered there was almost zero cases occurring day by day and that Ireland was following "an effective strategy" [48][49][50][51] ([Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png))

&#x26AA; populate DataFrame ``dfCovid19`` - initialise cumulative random percentage growth rate with either an assumed and/or known average rate ``[0.1,0.05]%`` with probability ``[0.1,0.9]`` using ``numpy.random.Generator.choice`` in the run up to 4th July [39][48][49][50][51] ([Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png))

In [28]:
nFrom,nTo="2020-06-03","2020-07-03"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.1,0.05],
                                                                 p=[0.1,0.9],size=30))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"C_DIFF","C_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-07-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.1  0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05
 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.1  0.05 0.05 0.05 0.05 0.05
 0.05 0.05]
<epidemic day> : 127 is 2020-07-03 (2020-06-03/2020-07-03] =  30 day(s)
=======================================================================

            cases C_DIFF  C_PCGR
2020-06-03  16600     50  00.301
2020-06-04  16617     17  00.102
2020-06-05  16625      8  00.048
2020-06-06  16633      8  00.048
2020-06-07  16642      9  00.054
2020-06-08  16650      8  00.048
2020-06-09  16658      8  00.048
2020-06-10  16667      9  00.054
2020-06-11  16675      8  00.048
2020-06-12  16683      8  00.048
2020-06-13  16692      9  00.054
2020-06-14  16700      8  00.048
2020-06-15  16708      8  00.048
2020-06-16  16717      9  00.054
2020-06-17  16725      8  00.048
2020-06-18  16733      8  00.048
2020-06-19  16742      9  00.054
2020-06-20  16750      8  00.048
2020-06-21  16758      8  00.048
2020-06-22  16767      9  00.054
2020-06-23  16775      8  00.048
2020-06-24  16784      9  00.054
2020-06-25  16792      8  00.048
2020-06-26  16809     17  00.101
2020-06-27  16817      8  00.048
2020-06-28  16826      9  00.053
2020-06-29  16834      8  00.048
2020-06-30  16842      8  00.048
2020-07-01  16851      9  00.053
2020-07-02  16859      8  00.047
2020-07-03  16868      9  00.053

## END

<a id="hospital"></a>
< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >

###  Parameter - hospital
***

< [Table of Contents](#task-2) | [cases](#cases) | [icu](#icu) | [deaths](#deaths) >

- as reported the first confirmed Covid-19 case was on 28th February, 2020 despite the Irish Medical Journal reporting that a male was presented to Cork University Hospital on the 25th February with a headache/incidental cough and unfortunately later requiring intensive care treatment [52]


- the male had no epidemiological link to an area of high prevalence or to a known case and given the atypical presentation and failure to identify a cause then suspicion was raised for SARS-CoV-2 - subsequently testing positive and maybe the first community transmission case documented [52]

In [29]:
nHospital,nICU,nColumn=1,1,"hospital"

- $[{2020}-{03}-{18} / {04}-{16}]$ [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows that hospitalisations was growing slowly [22][23]

&#x26AA; populate DataFrame ``dfCovid19`` - initialise first hospitalisation and growing admissions in the run up to 19th March [22][23] ([Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png)

In [30]:
nTo,nFrom="2020-02-28","2020-02-27"
fCovid19(nFrom,nTo,nColumn,[nHospital])
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-02-28 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1]
<epidemic day> :   1 is 2020-02-28 (2020-02-27/2020-02-28] =   1 day(s)
=======================================================================

           hospital H_DIFF H_PCGR
2020-02-28        1    ...    ...

- $[{2020}-{03}-{10} / {03}-{28}]$ [Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png) shows the five day average with approximately 40 people in hospital on the 11th March and by the end of March the number of people in hospital rose very sharply to around the same as the ``cases`` parameter five day average at four-hundred-fifty [26][28][29]

In [31]:
nFrom,nTo="2020-02-28","2020-03-11"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(35,size=12))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-11 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[32 44 30 33 36 37 32 37 46 42 35 37]
<epidemic day> :  13 is 2020-03-11 (2020-02-28/2020-03-11] =  12 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-02-28        1    ...     ...
2020-02-29        1      0  00.000
2020-03-01        2      1  50.000
2020-03-02        2      0  00.000
2020-03-03        3      1  33.333
2020-03-04        4      1  25.000
2020-03-05        6      2  33.333
2020-03-06        8      2  25.000
2020-03-07       11      3  27.273
2020-03-08       16      5  31.250
2020-03-09       23      7  30.435
2020-03-10       31      8  25.806
2020-03-11       42     11  26.190

In [32]:
nFrom,nTo="2020-03-11","2020-03-28"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(18,size=17))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-28 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[21 12 19 18 16 17 21 22 22 12 17 19 18 14 26 16 20]
<epidemic day> :  30 is 2020-03-28 (2020-03-11/2020-03-28] =  17 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-03-11       42     11  26.190
2020-03-12       51      9  17.647
2020-03-13       57      6  10.526
2020-03-14       68     11  16.176
2020-03-15       80     12  15.000
2020-03-16       93     13  13.978
2020-03-17      108     15  13.889
2020-03-18      131     23  17.557
2020-03-19      160     29  18.125
2020-03-20      195     35  17.949
2020-03-21      219     24  10.959
2020-03-22      256     37  14.453
2020-03-23      305     49  16.066
2020-03-24      359     54  15.042
2020-03-25      410     51  12.439
2020-03-26      516    106  20.543
2020-03-27      599     83  13.856
2020-03-28      719    120  16.690

- $[{2020}-{04}-{13} / {04}-{22}]$ [Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png) shows the five day moving average - peaking 90 admissions per day and declining over the last 10 days - people been discharged from hospital at a faster rate than being admitted [31][32]

(12) ***(Image) Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.***

[<img style="float:right;" src="img/cases-confirmHosp-newAddmissions-earlyMarch-04302020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-confirmHosp-newAddmissions-earlyMarch-04302020.png)

- $[{2020}-{03}-{28} / {04}-{30}]$ [Img. (12)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-confirmHosp-newAddmissions-earlyMarch-04302020.png) shows that despite the much stronger social distancing measures - stay at home order - introduced introduced midnight 27th of March - unlike the number of ``cases`` detected per day choked off transmission of the disease the same was not true for hospitalisations - number of people in hospital had continued to rise quite sharply - peak at almost nine-hundred people in mid April and still very high at approximately seven-hundred-thirty - the number of admissions per day peaking close to 100 admissions per day at the peak of the outbreak - now down to below 40 [28][29][30]

In [33]:
nFrom,nTo="2020-03-28","2020-04-22"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[6,5,4],
                                                                    p=[0.3,0.3,0.4],size=25))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-22 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[5 6 4 4 5 4 4 4 4 4 4 4 6 5 5 6 4 6 4 6 4 5 5 4 6]
<epidemic day> :  55 is 2020-04-22 (2020-03-28/2020-04-22] =  25 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-03-28      719    120  16.690
2020-03-29      755     36  04.768
2020-03-30      800     45  05.625
2020-03-31      832     32  03.846
2020-04-01      866     34  03.926
2020-04-02      909     43  04.730
2020-04-03      945     36  03.810
2020-04-04      983     38  03.866
2020-04-05     1022     39  03.816
2020-04-06     1063     41  03.857
2020-04-07     1106     43  03.888
2020-04-08     1150     44  03.826
2020-04-09     1196     46  03.846
2020-04-10     1268     72  05.678
2020-04-11     1331     63  04.733
2020-04-12     1398     67  04.793
2020-04-13     1482     84  05.668
2020-04-14     1541     59  03.829
2020-04-15     1633     92  05.634
2020-04-16     1699     66  03.885
2020-04-17     1800    101  05.611
2020-04-18     1872     72  03.846
2020-04-19     1966     94  04.781
2020-04-20     2064     98  04.748
2020-04-21     2147     83  03.866
2020-04-22     2276    129  05.668

In [34]:
nFrom,nTo="2020-04-22","2020-04-30"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[4,2,1],
                                                                    p=[0.3,0.3,0.4],size=8))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-30 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1 4 2 4 2 4 2 1]
<epidemic day> :  63 is 2020-04-30 (2020-04-22/2020-04-30] =   8 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-04-22     2276    129  05.668
2020-04-23     2299     23  01.000
2020-04-24     2391     92  03.848
2020-04-25     2439     48  01.968
2020-04-26     2536     97  03.825
2020-04-27     2587     51  01.971
2020-04-28     2690    103  03.829
2020-04-29     2744     54  01.968
2020-04-30     2772     28  01.010

- $[{2020}-{04}-{30} / {05}-{07}]$ - significant reduction in the number of people in hospital and in terms of hospital admissions - previous week had over 700 people in hospital - typically an average of 40 admissions per day or more - morning of the 7th May there were 614 people on HSE acute sites and somewhat fewer in the afternoon - over the last week typically looking at 20 or fewer new admissions per day [28][37] [Img. (12)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/cases-confirmHosp-newAddmissions-earlyMarch-04302020.png)

In [35]:
nFrom,nTo="2020-04-30","2020-05-07"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.4,0.5],
                                                                    p=[0.4,0.6],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-07 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.4 0.4 0.5 0.4 0.4 0.5 0.5]
<epidemic day> :  70 is 2020-05-07 (2020-04-30/2020-05-07] =   7 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-04-30     2772     28  01.010
2020-05-01     2783     11  00.395
2020-05-02     2794     11  00.394
2020-05-03     2808     14  00.499
2020-05-04     2819     11  00.390
2020-05-05     2831     12  00.424
2020-05-06     2845     14  00.492
2020-05-07     2859     14  00.490

##### Metrics - 13th May (inclusive)
***

[<img style="float:right;" src="img/05142020-metrics-04162020-05062020-05132020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05142020-metrics-04162020-05062020-05132020.png)

- $[{2020}-{04}-{11} / {05}-{13}]$ - [Img. (8)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png) shows hospital admissions per day was very high in mid-april - between 50 and 60 people admitted each day - looking back on the two preceding Wednesdays and comparing with mid-April the average over the preceding five days indicated the ``hospital`` parameter metric was declining [40][42][43]


- $[{2020}-{04}-{11} / {04}-{16})$ - ``54`` - cumulative ``865``


- $[{2020}-{05}-{02} / {05}-{06}]$ - ``22`` - cumulative ``680``


- $[{2020}-{05}-{09} / {05}-{13}]$ - ``17`` - cumulative ``526``


- $[{2020}-{05}-{14} / {05}-{15})$ - cumulative in-patients - ``459``

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [36]:
nFrom,nTo="2020-05-07","2020-05-13"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1,0.5],
                                                                    p=[0.4,0.6],size=6))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-13 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.5 1.  1.  1.  0.5 0.5]
<epidemic day> :  76 is 2020-05-13 (2020-05-07/2020-05-13] =   6 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-05-07     2859     14  00.490
2020-05-08     2873     14  00.487
2020-05-09     2902     29  00.999
2020-05-10     2931     29  00.989
2020-05-11     2960     29  00.980
2020-05-12     2975     15  00.504
2020-05-13     2990     15  00.502

##### Metrics - 20th May (inclusive)
***

[<img style="float:right;" src="img/05212020-metrics-05202020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05212020-metrics-05202020.png)

- $[{2020}-{04}-{24} / {05}-{21}]$ - number of people in hospital per day taken as a five day average and looking back each day had declined steadily week on week [46][53]


- $[{2020}-{05}-{16} / {05}-{21})$ - the average of the five days leading up to Wednesday the 20th May had on average 18 new addmissions per day with cumulative 380 people in hospital - indications are stable [46][52]

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [37]:
nFrom,nTo="2020-05-13","2020-05-20"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.9,0.3],
                                                                    p=[0.4,0.6],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-20 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.3 0.3 0.3 0.3 0.3 0.3 0.3]
<epidemic day> :  83 is 2020-05-20 (2020-05-13/2020-05-20] =   7 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-05-13     2990     15  00.502
2020-05-14     2999      9  00.300
2020-05-15     3008      9  00.299
2020-05-16     3017      9  00.298
2020-05-17     3026      9  00.297
2020-05-18     3035      9  00.297
2020-05-19     3044      9  00.296
2020-05-20     3053      9  00.295

##### Metrics - 27th May (inclusive)
***

[<img style="float:right;" src="img/05282020-metrics-05272020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05282020-metrics-05272020.png)

- $[{2020}-{05}-{21} / {05}-{28})$ - the average of the five days leading up to Wednesday the 27th May - average under 300 inpatients with hospital admissions halving from close to 20 to now 10 per day [44]

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [38]:
nFrom,nTo="2020-05-20","2020-05-27"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.5,0.4],
                                                                    p=[0.3,0.7],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-27 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.4 0.4 0.5 0.4 0.5 0.4 0.4]
<epidemic day> :  90 is 2020-05-27 (2020-05-20/2020-05-27] =   7 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-05-20     3053      9  00.295
2020-05-21     3065     12  00.392
2020-05-22     3077     12  00.390
2020-05-23     3093     16  00.517
2020-05-24     3105     12  00.386
2020-05-25     3121     16  00.513
2020-05-26     3133     12  00.383
2020-05-27     3146     13  00.413

##### Metrics - 3rd June (inclusive)
***

[<img style="float:right;" src="img/06042020-metrics-06032020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png)

- $[{2020}-{05}-{30} / {06}-{04})$ - the average of the five days leading up to Wednesday the 3rd June - average ``178`` people in hospital - now ``114`` - with fewer than ``10`` admissions per day - now ``5`` [47]

In [39]:
nFrom,nTo="2020-05-27","2020-06-03"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.3,0.2],
                                                                    p=[0.3,0.7],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-06-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.3 0.3 0.3 0.2 0.3 0.2 0.3]
<epidemic day> :  97 is 2020-06-03 (2020-05-27/2020-06-03] =   7 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-05-27     3146     13  00.413
2020-05-28     3155      9  00.285
2020-05-29     3165     10  00.316
2020-05-30     3174      9  00.284
2020-05-31     3181      7  00.220
2020-06-01     3190      9  00.282
2020-06-02     3197      7  00.219
2020-06-03     3206      9  00.281

- $[{2020}-{04}-{10} / {06}-{23}]$ [Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png) shows the seven day average looking back to the 15th April - **hospital** - continued to indicate declining trend [48][49][50][51]

In [40]:
nFrom,nTo="2020-06-03","2020-07-03"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.01,0.05],
                                                                    p=[0.3,0.7],size=30))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"H_DIFF","H_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-07-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.01 0.05 0.01 0.05 0.01 0.05 0.05 0.05 0.05 0.05 0.01 0.01 0.05 0.01
 0.05 0.05 0.01 0.01 0.05 0.05 0.05 0.05 0.05 0.01 0.05 0.05 0.05 0.01
 0.05 0.01]
<epidemic day> : 127 is 2020-07-03 (2020-06-03/2020-07-03] =  30 day(s)
=======================================================================

           hospital H_DIFF  H_PCGR
2020-06-03     3206      9  00.281
2020-06-04     3206      0  00.000
2020-06-05     3208      2  00.062
2020-06-06     3208      0  00.000
2020-06-07     3210      2  00.062
2020-06-08     3210      0  00.000
2020-06-09     3212      2  00.062
2020-06-10     3213      1  00.031
2020-06-11     3215      2  00.062
2020-06-12     3217      2  00.062
2020-06-13     3218      1  00.031
2020-06-14     3219      1  00.031
2020-06-15     3219      0  00.000
2020-06-16     3220      1  00.031
2020-06-17     3221      1  00.031
2020-06-18     3222      1  00.031
2020-06-19     3224      2  00.062
2020-06-20     3224      0  00.000
2020-06-21     3225      1  00.031
2020-06-22     3226      1  00.031
2020-06-23     3228      2  00.062
2020-06-24     3229      1  00.031
2020-06-25     3231      2  00.062
2020-06-26     3233      2  00.062
2020-06-27     3233      0  00.000
2020-06-28     3235      2  00.062
2020-06-29     3236      1  00.031
2020-06-30     3238      2  00.062
2020-07-01     3238      0  00.000
2020-07-02     3240      2  00.062
2020-07-03     3240      0  00.000

## END

<a id="icu"></a>
< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >

## Parameter - icu
***

< [Table of Contents](#task-2) | [hospital](#hospital) | [icu](#icu) | [deaths](#deaths) >

In [41]:
nColumn="icu"
nICU

1

In [42]:
nTo,nFrom="2020-02-28","2020-02-27"
fCovid19(nFrom,nTo,nColumn,[nICU])
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-02-28 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1]
<epidemic day> :   1 is 2020-02-28 (2020-02-27/2020-02-28] =   1 day(s)
=======================================================================

           icu I_DIFF I_PCGR
2020-02-28   1    ...    ...

- $[{2020}-{02}-{29} / {03}-{20}]$ [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows cumulative number of people in intensive care - less than five [23]

In [43]:
nFrom,nTo="2020-02-28","2020-03-20"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(5,size=21))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-20 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[4 6 5 4 2 5 1 3 5 7 6 6 1 6 4 5 4 6 8 6 5]
<epidemic day> :  22 is 2020-03-20 (2020-02-28/2020-03-20] =  21 day(s)
=======================================================================

           icu I_DIFF  I_PCGR
2020-02-28   1    ...     ...
2020-02-29   1      0  00.000
2020-03-01   1      0  00.000
2020-03-02   1      0  00.000
2020-03-03   1      0  00.000
2020-03-04   1      0  00.000
2020-03-05   1      0  00.000
2020-03-06   1      0  00.000
2020-03-07   1      0  00.000
2020-03-08   1      0  00.000
2020-03-09   2      1  50.000
2020-03-10   2      0  00.000
2020-03-11   2      0  00.000
2020-03-12   2      0  00.000
2020-03-13   2      0  00.000
2020-03-14   2      0  00.000
2020-03-15   2      0  00.000
2020-03-16   2      0  00.000
2020-03-17   2      0  00.000
2020-03-18   2      0  00.000
2020-03-19   2      0  00.000
2020-03-20   3      1  33.333

- $[{2020}-{03}-{21} / {03}-{27}]$ [Img. (4)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-cases-hospital-icu.png) shows the period just after St. Patrick's Day when there was a very sharp increase in the number of people in intensive care - in the five day period up to and including the 27th March (when the decision was made to implement very strong social distancing measures given the disease was clearly spreading very rapid) the country had from one-hundred-fifty to six-hundred new cases a day - to over four-hundred people in hospital - from fifty to eighty people in intensive care [28][29][54]

In [44]:
nFrom,nTo="2020-03-20","2020-03-27"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(55,size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-27 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[60 65 56 59 57 52 62]
<epidemic day> :  29 is 2020-03-27 (2020-03-20/2020-03-27] =   7 day(s)
=======================================================================

           icu I_DIFF  I_PCGR
2020-03-20   3      1  33.333
2020-03-21   5      2  40.000
2020-03-22   8      3  37.500
2020-03-23  12      4  33.333
2020-03-24  20      8  40.000
2020-03-25  31     11  35.484
2020-03-26  47     16  34.043
2020-03-27  76     29  38.158

[<img style="float:right;" src="img/icu-03182020-04162020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/icu-03182020-04162020.png)

- $[{2020}-{03}-{26} / {04}-{11}]$ after the 28th March the number of people in intensive care continued to rise - the 10 day period - had fifty to one-hundred-forty people in intensive care - $[{2020}-{04}-{09} / {04}-{11}]$ - peaking close to one-hundred-sixty within a week [28][29]

***(Image) Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.***

In [45]:
nFrom,nTo="2020-03-27","2020-04-11"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(10,size=15))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-11 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[15  6 11  8  8 10  8  8 16  9  6 10  4 13 18]
<epidemic day> :  44 is 2020-04-11 (2020-03-27/2020-04-11] =  15 day(s)
=======================================================================

            icu I_DIFF  I_PCGR
2020-03-27   76     29  38.158
2020-03-28   87     11  12.644
2020-03-29   93      6  06.452
2020-03-30  103     10  09.709
2020-03-31  111      8  07.207
2020-04-01  120      9  07.500
2020-04-02  132     12  09.091
2020-04-03  142     10  07.042
2020-04-04  154     12  07.792
2020-04-05  179     25  13.966
2020-04-06  195     16  08.205
2020-04-07  206     11  05.340
2020-04-08  227     21  09.251
2020-04-09  236      9  03.814
2020-04-10  267     31  11.610
2020-04-11  315     48  15.238

[<img style="float:right;" src="img/daily-icu-addmission-5-day-avg-03182020-04302020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/daily-icu-addmission-5-day-avg-03182020-04302020.png)

- $[{2020}-{04}-{17} / {04}-{30}]$ up to the end of April occupancy was a little bit over 100 - number of admissions peaking at approximately fourteen per day - down closer to four [28][29]

***(Image) Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.***

In [46]:
nFrom,nTo="2020-04-11","2020-04-30"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(2,size=19))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-30 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[2 1 4 3 3 3 2 0 2 3 0 1 2 3 2 2 2 1 0]
<epidemic day> :  63 is 2020-04-30 (2020-04-11/2020-04-30] =  19 day(s)
=======================================================================

            icu I_DIFF  I_PCGR
2020-04-11  315     48  15.238
2020-04-12  321      6  01.869
2020-04-13  325      4  01.231
2020-04-14  337     12  03.561
2020-04-15  348     11  03.161
2020-04-16  358     10  02.793
2020-04-17  369     11  02.981
2020-04-18  376      7  01.862
2020-04-19  376      0  00.000
2020-04-20  384      8  02.083
2020-04-21  395     11  02.785
2020-04-22  395      0  00.000
2020-04-23  399      4  01.003
2020-04-24  407      8  01.966
2020-04-25  419     12  02.864
2020-04-26  428      9  02.103
2020-04-27  436      8  01.835
2020-04-28  445      9  02.022
2020-04-29  449      4  00.891
2020-04-30  449      0  00.000

[<img style="float:right;" src="img/twitter-icu-occupancy-admissions-05052020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/twitter-icu-occupancy-admissions-05052020.png)

- $[{2020}-{05}-{01} / {05}-{07}]$ (blue) up to the 7th May the average number of people in intensive care units each day - average of the preceding week (five day look back) against the left hand axis falling from a peak of 140 or above - at the height of this disease - was a little bit over 100 people in intensive care the last week - 76 as of 7th May [37][55]


- (red) the average number of people admitted to intensive care over the preceding five days - previous week that was in the region of four to six people per day (every day) - now fewer than two each day which is a a very significant reduction in the number of people whose disease is sufficiently severe for them to require hospitalisation or intensive care admission [37][55]

***(Image) P. Nolan (IEMAG), "Twitter Post (No Title)," [twitter](https://web.archive.org/web/20201217084554/https://twitter.com/President_MU/status/1257729864993562624/photo/1), May 2020.***

In [47]:
nFrom,nTo="2020-04-30","2020-05-07"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1],
                                                               p=[0.3,0.7],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-07 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.1 0.1 0.2 0.1 0.2 0.1 0.1]
<epidemic day> :  70 is 2020-05-07 (2020-04-30/2020-05-07] =   7 day(s)
=======================================================================

            icu I_DIFF  I_PCGR
2020-04-30  449      0  00.000
2020-05-01  449      0  00.000
2020-05-02  450      1  00.222
2020-05-03  451      1  00.222
2020-05-04  451      0  00.000
2020-05-05  452      1  00.221
2020-05-06  453      1  00.221
2020-05-07  453      0  00.000

##### Metrics - 13th May (inclusive)
***

[<img style="float:right;" src="img/05142020-metrics-04162020-05062020-05132020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05142020-metrics-04162020-05062020-05132020.png)

- $[{2020}-{04}-{11} / {05}-{13}]$ icu admissions per day was very high in mid-april - between 8 and 10 people admitted each day - looking back on the two preceding Wednesdays and comparing with mid-April the average over the preceding five days indicates the ``icu`` parameter metric was declining [40][42]


- $[{2020}-{04}-{11} / {04}-{16})$ - ``8`` - cumulative ``144``


- $[{2020}-{05}-{02} / {05}-{06}]$ - ``3`` cumulative ``92``


- $[{2020}-{05}-{09} / {05}-{13}]$ - ``1`` - cumulative ``69``


- $[{2020}-{05}-{14} / {05}-{15})$ - cumulative in-patients - ``58``

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

##### Metrics - 20th May (inclusive)
***

[<img style="float:right;" src="img/05212020-metrics-05202020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05212020-metrics-05202020.png)

- $[{2020}-{05}-{16} / {05}-{21})$ - the average of the five days leading up to Wednesday the 20th May had on average 1 new addmission per day with cumulative 52 people in icu - indications are stable [46][53] 


- $[{2020}-{05}-{21} / {05}-{22})$ - cumulative in-patients - ``52``

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

[<img style="float:right;" src="img/hospital-new-cases-icu-05212020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/hospital-new-cases-icu-05212020.png)

- $[{2020}-{04}-{12} / {05}-{21}]$ - number of people in icu per day taken as a five day average and looking back each day was declining since the peak in the second week of April [46][53]

***(Image) P. Nolan (IEMAG), "Twitter Post (No Title) - 21st May," [twitter](https://web.archive.org/web/20201221121700/https://twitter.com/President_MU/status/1263547672369278983/photo/1), May 2020.***

##### Metrics - 27th May (inclusive)
***

[<img style="float:right;" src="img/05282020-metrics-05272020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05282020-metrics-05272020.png)

- $[{2020}-{05}-{18} / {05}-{28})$ - the numbers of people in intensive care remained at around 50 with 47 in-patients on the 28th May - indicates the ``icu`` parameter metric was slower to decline - people requiring longer periods of time in intensive care - the numbers of admissions to intensive care remain very low at one to two per day with the exception of the 27th May when there was five admissions - metric considered stable and low [44][45]

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

##### Metrics - 3rd June (inclusive)
***

[<img style="float:right;" src="img/06042020-metrics-06032020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png)

- $[{2020}-{05}-{30} / {06}-{04})$ - the average of the five days leading up to Wednesday the 3rd June had ``1`` admission per day and in-patients was slower to decline at ``37`` this week [47]

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [48]:
nFrom,nTo="2020-05-07","2020-06-03"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1],
                                                               p=[0.3,0.7],size=27))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-06-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.2 0.2 0.2 0.2 0.2 0.1 0.1 0.1 0.1 0.1 0.1
 0.2 0.1 0.1 0.2 0.2 0.1 0.2 0.1 0.1]
<epidemic day> :  97 is 2020-06-03 (2020-05-07/2020-06-03] =  27 day(s)
=======================================================================

            icu I_DIFF  I_PCGR
2020-05-07  453      0  00.000
2020-05-08  453      0  00.000
2020-05-09  454      1  00.220
2020-05-10  454      0  00.000
2020-05-11  455      1  00.220
2020-05-12  455      0  00.000
2020-05-13  456      1  00.219
2020-05-14  456      0  00.000
2020-05-15  457      1  00.219
2020-05-16  458      1  00.218
2020-05-17  459      1  00.218
2020-05-18  460      1  00.217
2020-05-19  461      1  00.217
2020-05-20  461      0  00.000
2020-05-21  462      1  00.216
2020-05-22  462      0  00.000
2020-05-23  463      1  00.216
2020-05-24  463      0  00.000
2020-05-25  464      1  00.216
2020-05-26  464      0  00.000
2020-05-27  465      1  00.215
2020-05-28  465      0  00.000
2020-05-29  466      1  00.215
2020-05-30  467      1  00.214
2020-05-31  468      1  00.214
2020-06-01  469      1  00.213
2020-06-02  469      0  00.000
2020-06-03  470      1  00.213

- $[{2020}-{04}-{10} / {06}-{23}]$ [Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png) shows the seven day average looking back to the 15th April - **icu** - continued stable trend [48][49][50][51]

In [49]:
nFrom,nTo="2020-06-03","2020-07-03"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1],
                                                               p=[0.3,0.7],size=30))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"I_DIFF","I_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-07-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.1 0.1 0.1 0.1 0.1 0.2 0.1 0.1 0.2 0.1 0.1 0.1 0.2 0.1 0.2 0.2 0.1 0.1
 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.2 0.1]
<epidemic day> : 127 is 2020-07-03 (2020-06-03/2020-07-03] =  30 day(s)
=======================================================================

            icu I_DIFF  I_PCGR
2020-06-03  470      1  00.213
2020-06-04  470      0  00.000
2020-06-05  471      1  00.212
2020-06-06  471      0  00.000
2020-06-07  472      1  00.212
2020-06-08  472      0  00.000
2020-06-09  473      1  00.211
2020-06-10  474      1  00.211
2020-06-11  474      0  00.000
2020-06-12  475      1  00.211
2020-06-13  476      1  00.210
2020-06-14  476      0  00.000
2020-06-15  477      1  00.210
2020-06-16  478      1  00.209
2020-06-17  478      0  00.000
2020-06-18  479      1  00.209
2020-06-19  480      1  00.208
2020-06-20  480      0  00.000
2020-06-21  481      1  00.208
2020-06-22  481      0  00.000
2020-06-23  482      1  00.207
2020-06-24  482      0  00.000
2020-06-25  483      1  00.207
2020-06-26  483      0  00.000
2020-06-27  484      1  00.207
2020-06-28  484      0  00.000
2020-06-29  485      1  00.206
2020-06-30  485      0  00.000
2020-07-01  486      1  00.206
2020-07-02  487      1  00.205
2020-07-03  487      0  00.000

## END

<a id="deaths"></a>
< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 3](#task-3) | [Task 4](#task-4) | [References](#references) >

## Parameter - deaths
***

< [Table of Contents](#task-2) | [hospital](#hospital) | [icu](#icu) | [deaths](#deaths) >

- the first recorded death of a patient diagnosed with Covid-19 in Ireland was reported on 11th March, 2020 [56]

In [50]:
nDeaths,nColumn=0,"deaths"

In [51]:
nTo,nFrom="2020-03-10","2020-02-27"
fCovid19(nFrom,nTo,nColumn,[nDeaths]*12)
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-10 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
<epidemic day> :  12 is 2020-03-10 (2020-02-27/2020-03-10] =  12 day(s)
=======================================================================

           deaths D_DIFF D_PCGR
2020-02-28      0    ...    ...
2020-02-29      0    ...    ...
2020-03-01      0    ...    ...
2020-03-02      0    ...    ...
2020-03-03      0    ...    ...
2020-03-04      0    ...    ...
2020-03-05      0    ...    ...
2020-03-06      0    ...    ...
2020-03-07      0    ...    ...
2020-03-08      0    ...    ...
2020-03-09      0    ...    ...
2020-03-10      0    ...    ...

In [52]:
nDeaths=1
nFrom,nTo="2020-03-10","2020-03-11"
fCovid19(nFrom,nTo,nColumn,[nDeaths])
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-11 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[1]
<epidemic day> :  13 is 2020-03-11 (2020-03-10/2020-03-11] =   1 day(s)
=======================================================================

           deaths D_DIFF   D_PCGR
2020-03-10      0    ...      ...
2020-03-11      1      1  100.000

- $[{2020}-{02}-{29} / {03}-{29}]$ [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows the cumulative number of people deaths - less than one-hundred [23]

In [53]:
nFrom,nTo="2020-03-11","2020-03-29"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(27,size=18))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-03-29 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[23 23 23 26 22 26 21 27 25 20 29 27 32 25 37 33 21 30]
<epidemic day> :  31 is 2020-03-29 (2020-03-11/2020-03-29] =  18 day(s)
=======================================================================

           deaths D_DIFF   D_PCGR
2020-03-11      1      1  100.000
2020-03-12      1      0   00.000
2020-03-13      2      1   50.000
2020-03-14      2      0   00.000
2020-03-15      2      0   00.000
2020-03-16      3      1   33.333
2020-03-17      4      1   25.000
2020-03-18      4      0   00.000
2020-03-19      6      2   33.333
2020-03-20      7      1   14.286
2020-03-21      8      1   12.500
2020-03-22     11      3   27.273
2020-03-23     14      3   21.429
2020-03-24     18      4   22.222
2020-03-25     22      4   18.182
2020-03-26     31      9   29.032
2020-03-27     41     10   24.390
2020-03-28     50      9   18.000
2020-03-29     64     14   21.875

- $[{2020}-{03}-{30} / {04}-{16}]$ [Img. (1)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/log-linear.png) shows unfortunately the number of people dying continued to increase - similar to each of the variables of interest - ``cases`` - ``hospital`` - ``icu`` - rate of growth was decreasing - it was evident there was a considerable slowing in the growth of the epidemic at this stage [22][23]

[<img style="float:right;" src="img/04232020-deaths.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/04232020-deaths.png) 

- $[{2020}-{04}-{08} / {04}-{16}]$ - ``deaths`` parameter - obviously changes latest in an epidemic - pale grey bins are the number of deaths per day on the date that they occurred - not on the date that they were reported - most recent data is faded out because there would have sadly some people who passed away in the week prior and not notified - number of deaths per day was relatively stable since the end of the first week in April [31][32]

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [54]:
nFrom,nTo="2020-03-29","2020-04-16"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(10,size=18))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-04-16 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[12 12 10  6  8 14  8  8 13 13 10 12  9  9  6 11 12 14]
<epidemic day> :  49 is 2020-04-16 (2020-03-29/2020-04-16] =  18 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-03-29     64     14  21.875
2020-03-30     72      8  11.111
2020-03-31     80      8  10.000
2020-04-01     88      8  09.091
2020-04-02     94      6  06.383
2020-04-03    101      7  06.931
2020-04-04    115     14  12.174
2020-04-05    124      9  07.258
2020-04-06    134     10  07.463
2020-04-07    152     18  11.842
2020-04-08    172     20  11.628
2020-04-09    189     17  08.995
2020-04-10    211     22  10.427
2020-04-11    231     20  08.658
2020-04-12    251     20  07.968
2020-04-13    266     15  05.639
2020-04-14    296     30  10.135
2020-04-15    331     35  10.574
2020-04-16    377     46  12.202

##### Metrics - 13th May (inclusive)
***

[<img style="float:right;" src="img/05142020-metrics-04162020-05062020-05132020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05142020-metrics-04162020-05062020-05132020.png)

- $[{2020}-{04}-{11} / {05}-{13}]$ - mid-April there was on average ``33`` deaths confirmed per days - looking back on the two preceding Wednesdays and comparing with mid-April the average over the preceding five days indicates the ``death`` parameter metric was declining [40]


- $[{2020}-{04}-{11} / {04}-{16})$ - ``33``


- $[{2020}-{05}-{02} / {05}-{06}]$ - ``21``


- $[{2020}-{05}-{09} / {05}-{13}]$ - ``13``

In [55]:
nFrom,nTo="2020-04-16","2020-05-06"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(5,size=20))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-06 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[ 7  6 10  5  4  5  3  7  5  7  7  5  4  6  3  8  5  7  3  7]
<epidemic day> :  69 is 2020-05-06 (2020-04-16/2020-05-06] =  20 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-04-16    377     46  12.202
2020-04-17    403     26  06.452
2020-04-18    428     25  05.841
2020-04-19    470     42  08.936
2020-04-20    494     24  04.858
2020-04-21    514     20  03.891
2020-04-22    539     25  04.638
2020-04-23    555     16  02.883
2020-04-24    594     39  06.566
2020-04-25    624     30  04.808
2020-04-26    668     44  06.587
2020-04-27    715     47  06.573
2020-04-28    750     35  04.667
2020-04-29    780     30  03.846
2020-04-30    827     47  05.683
2020-05-01    852     25  02.934
2020-05-02    920     68  07.391
2020-05-03    966     46  04.762
2020-05-04   1034     68  06.576
2020-05-05   1065     31  02.911
2020-05-06   1139     74  06.497

[<img style="float:right;" src="img/06042020-confirmed-cases-deaths-each-day-RTE-06042020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-confirmed-cases-deaths-each-day-RTE-06042020.png)


- $[{2020}-{04}-{22} / {05}-{17}]$ - number of deaths per day as a five day average and looking back each day had declined steadily week on week [43][46]

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [56]:
nFrom,nTo="2020-05-06","2020-05-13"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1,0.5],
                                                                  p=[0.7,0.3],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-13 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.5 1.  1.  0.5 0.5 1.  0.5]
<epidemic day> :  76 is 2020-05-13 (2020-05-06/2020-05-13] =   7 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-05-06   1139     74  06.497
2020-05-07   1145      6  00.524
2020-05-08   1156     11  00.952
2020-05-09   1168     12  01.027
2020-05-10   1174      6  00.511
2020-05-11   1179      5  00.424
2020-05-12   1191     12  01.008
2020-05-13   1197      6  00.501

##### Metrics - 20th May (inclusive)
***

[<img style="float:right;" src="img/05212020-metrics-05202020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05212020-metrics-05202020.png)

- $[{2020}-{05}-{16} / {05}-{21})$ - the average number of deaths confirmed each day of the five days leading up to Wednesday the 20th May and not including probable or suspect continues to decline to an average of ``9`` per day [46][53]

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [57]:
nFrom,nTo="2020-05-13","2020-05-20"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.8,0.3],
                                                                  p=[0.7,0.3],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-20 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.3 0.8 0.3 0.3 0.8 0.3 0.8]
<epidemic day> :  83 is 2020-05-20 (2020-05-13/2020-05-20] =   7 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-05-13   1197      6  00.501
2020-05-14   1201      4  00.333
2020-05-15   1210      9  00.744
2020-05-16   1214      4  00.329
2020-05-17   1217      3  00.247
2020-05-18   1227     10  00.815
2020-05-19   1231      4  00.325
2020-05-20   1241     10  00.806

##### Metrics - 27th May (inclusive)
***

[<img style="float:right;" src="img/05282020-metrics-05272020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05282020-metrics-05272020.png)

- $[{2020}-{05}-{23} / {05}-{28})$ - the average of the five days leading up to Wednesday the 27th May - average ``8`` new deaths per day indicating the number of new deaths was stable [44]

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

[<img style="float:right;" src="img/05282020-deaths.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/05282020-deaths.png)

- $[{2020}-{05}-{23} / {05}-{28})$ - unfortunately continued to report deaths nonetheless the number of deaths per day did remain with the majority of those deaths in long term residential care - indicates the ``deaths`` parameter metric was declining and considered stable [44]

***(Screenshot) P. Nolan (IEMAG), "We’re LIVE as health officials give an update on coronavirus in Ireland (28/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124952if_/https://www.facebook.com/VirginMediaNews/videos/2472265849750287), May 2020.***

In [58]:
nFrom,nTo="2020-05-20","2020-05-27"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.8,0.3],
                                                                  p=[0.7,0.3],size=7))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-05-27 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.3 0.8 0.8 0.8 0.8 0.8 0.8]
<epidemic day> :  90 is 2020-05-27 (2020-05-20/2020-05-27] =   7 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-05-20   1241     10  00.806
2020-05-21   1245      4  00.321
2020-05-22   1255     10  00.797
2020-05-23   1265     10  00.791
2020-05-24   1275     10  00.784
2020-05-25   1285     10  00.778
2020-05-26   1295     10  00.772
2020-05-27   1306     11  00.842

##### Metrics - 3rd June (inclusive)
***

[<img style="float:right;" src="img/06042020-metrics-06032020.png" target="_blank" width=200/>](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/06042020-metrics-06032020.png)

- $[{2020}-{05}-{30} / {06}-{04})$ - the average of the five days leading up to Wednesday the 3rd June - average 3 deaths per day [47]

***(Image) RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.***

In [59]:
nFrom,nTo="2020-05-27","2020-06-03"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.3,0.2],
                                                                  p=[0.5,0.5],size=8))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-06-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.3 0.2 0.3 0.3 0.3 0.2 0.2 0.3]
<epidemic day> :  97 is 2020-06-03 (2020-05-27/2020-06-03] =   7 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-05-27   1306     11  00.842
2020-05-28   1310      4  00.305
2020-05-29   1313      3  00.228
2020-05-30   1316      3  00.228
2020-05-31   1320      4  00.303
2020-06-01   1324      4  00.302
2020-06-02   1327      3  00.226
2020-06-03   1330      3  00.226

- $[{2020}-{04}-{10} / {06}-{23}]$ [Img. (11)](https://github.com/E6985/pda-numpy-random-simulation/blob/main/img/metrics-run-up-to-23062020.png) shows the seven day average looking back to the 15th April - **deaths** - continued stable trend [48][49][50][51]

In [60]:
nFrom,nTo="2020-06-03","2020-07-03"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1,0.0],
                                                                  p=[0.5,0.3,0.2],size=30))
fEpidemicDay(dfCovid19,nTo)
fStatus(dfCovid19,nFrom,nTo)[[nColumn,"D_DIFF","D_PCGR"]]

================== RUN UP TO 23:59 (GMT) 2020-07-03 ===================
   <array element(s) (percent growth - rounded) applied to each day>
[0.  0.2 0.  0.1 0.2 0.2 0.  0.2 0.2 0.1 0.2 0.2 0.1 0.1 0.1 0.1 0.  0.2
 0.2 0.1 0.1 0.1 0.2 0.2 0.1 0.2 0.2 0.2 0.  0.2]
<epidemic day> : 127 is 2020-07-03 (2020-06-03/2020-07-03] =  30 day(s)
=======================================================================

           deaths D_DIFF  D_PCGR
2020-06-03   1330      3  00.226
2020-06-04   1330      0  00.000
2020-06-05   1333      3  00.225
2020-06-06   1333      0  00.000
2020-06-07   1334      1  00.075
2020-06-08   1337      3  00.224
2020-06-09   1339      2  00.149
2020-06-10   1339      0  00.000
2020-06-11   1342      3  00.224
2020-06-12   1345      3  00.223
2020-06-13   1346      1  00.074
2020-06-14   1349      3  00.222
2020-06-15   1351      2  00.148
2020-06-16   1353      2  00.148
2020-06-17   1354      1  00.074
2020-06-18   1355      1  00.074
2020-06-19   1357      2  00.147
2020-06-20   1357      0  00.000
2020-06-21   1360      3  00.221
2020-06-22   1362      2  00.147
2020-06-23   1364      2  00.147
2020-06-24   1365      1  00.073
2020-06-25   1366      1  00.073
2020-06-26   1369      3  00.219
2020-06-27   1372      3  00.219
2020-06-28   1373      1  00.073
2020-06-29   1376      3  00.218
2020-06-30   1379      3  00.218
2020-07-01   1381      2  00.145
2020-07-02   1381      0  00.000
2020-07-03   1384      3  00.217

## END

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 2](#task-2) | [Task 4](#task-4) | [References](#references) >
<a id="task-3"></a>
***
## Task 3
### Synthesise/Simulate a Dataset.
***

In [61]:
# b_T_hird_P_arty-imports
import pandas as pd
import numpy as np

# define function - fCovid19
def fCovid19(nRowCldIntervalS,nRowCldIntervalE,nColVarInterest,nArrPercent):
    global nCases,nHospital,nICU,nDeaths    
    nPopulate=0
    if nColVarInterest=="cases":
        nPopulate=nCases
    elif nColVarInterest=="hospital":
        nPopulate=nHospital
    elif nColVarInterest=="icu":
        nPopulate=nICU
    elif nColVarInterest=="deaths":
        nPopulate=nDeaths
#    print("================== RUN UP TO 23:59 (GMT) {} ===================".format(nRowCldIntervalE))
    for nDate in range(len(dfCovid19.loc[:nRowCldIntervalS]),
                       len(dfCovid19.loc[:nRowCldIntervalE])):
        nPopulate+=nPopulate*(nArrPercent[nDate-len(dfCovid19.loc[:nFrom])]/100)
        dfCovid19[nColVarInterest].values[nDate]=round(nPopulate)
        # package pandas - subpackage core - subpackage tools - module datetimes
        nRowCldIntervalE=pd.to_datetime(nRowCldIntervalE) # convert to datetime
        # package pandas - subpackage _libs - subpackage tslibs - moduie timedeltas
        nRowCldIntervalE+=pd.Timedelta(1,unit="d") # duration initially x1 day
#    print("   <array element(s) (percent growth - rounded) applied to each day>")
#    print(nArrPercent)
    return round(nPopulate)

nTo,nFrom="2020-02-28","2020-02-27"

# define function - fEpidemicDay
def fEpidemicDay(nParDF,nParTo=nTo):
    global nFrom
    print("<epidemic day> : {:>3} is {} ({}/{}] = {:>3} day(s)".format(
        len(nParDF.loc[:nParTo]),nParTo,nFrom,nParTo,
        len(nParDF.loc[:nParTo])-len(nParDF.loc[:nFrom])))
    print("="*71)

# define function - fStatus
def fStatus(nParDF,nParFrom=nFrom,nParTo=nTo):
    if nParFrom=="2020-02-27":
        nParDF["C_DIFF"]="..."
        nParDF["C_PCGR"]="..."
        nParDF["H_DIFF"]="..."
        nParDF["H_PCGR"]="..."
        nParDF["I_DIFF"]="..."
        nParDF["I_PCGR"]="..."
        nParDF["D_DIFF"]="..."
        nParDF["D_PCGR"]="..."
    else:
        for nDate in range(len(nParDF.loc[:nParFrom]),len(nParDF.loc[:nParTo])):
            nParDF["C_DIFF"].values[nDate]=nParDF.iloc[nDate][0]-nParDF.iloc[nDate-1][0]
            nParDF["C_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][0]-nParDF.iloc[nDate-1][0])/nParDF.iloc[nDate][0])*100)
            nParDF["H_DIFF"].values[nDate]=nParDF.iloc[nDate][...]-nParDF.iloc[nDate-1][...]
            nParDF["H_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][...]-nParDF.iloc[nDate-1][...])/nParDF.iloc[nDate][...])*100)
            nParDF["I_DIFF"].values[nDate]=nParDF.iloc[nDate][...]-nParDF.iloc[nDate-1][...]
            nParDF["I_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][...]-nParDF.iloc[nDate-1][...])/nParDF.iloc[nDate][...])*100)
            nParDF["D_DIFF"].values[nDate]=nParDF.iloc[nDate][...]-nParDF.iloc[nDate-1][...]
            nParDF["D_PCGR"].values[nDate]="{:06.3f}".format(
                ((nParDF.iloc[nDate][...]-nParDF.iloc[nDate-1][...])/nParDF.iloc[nDate][...])*100)
    return nParDF[nParFrom:nParTo]

nZeroDay=nTo

n14DLowInc="2020-07-03"

# package pandas - subpackage core - subpackage indexes - module datetimes
nEpidemic=pd.date_range(start=nZeroDay,end=n14DLowInc,closed=None) # (2020−02−27/07−03]

# package pandas - subpackage core - module frame
dfCovid19=pd.DataFrame(index=nEpidemic,columns=["cases","C_DIFF","C_PCGR",
                                                "hospital","H_DIFF","H_PCGR",
                                                "icu","I_DIFF","I_PCGR",
                                                "deaths","D_DIFF","D_PCGR",])

# package pandas - subpackage _config - module config
pd.set_option("display.max_rows",len(dfCovid19))

# ================================
# - Generate Synthetic Dataset - =
# ------- Column - cases ------- =
# ================================

nCases,nColumn=1,"cases"

fCovid19(nFrom,nTo,nColumn,[nCases])

nFrom,nTo="2020-02-28","2020-03-02"
fCovid19(nFrom,nTo,nColumn,[nCases,nCases,nCases])

nFrom,nTo="2020-03-02","2020-03-05"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(125,size=3))

nFrom,nTo="2020-03-05","2020-03-14"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(30,size=9))

nFrom,nTo="2020-03-14","2020-03-23"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(33,size=9))

nFrom,nTo="2020-03-23","2020-03-29"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(15,size=6))

nFrom,nTo="2020-03-29","2020-04-07"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(10,size=9))

nFrom,nTo="2020-04-07","2020-04-16"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(5,size=9)+0.1)

nFrom,nTo="2020-04-16","2020-05-07"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[2,1.5,1],
                                                                 p=[0.25,0.5,0.25],size=21))

nFrom,nTo="2020-05-07","2020-05-13"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1.5,1],
                                                                 p=[0.2,0.8],size=6))

nFrom,nTo="2020-05-13","2020-05-20"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.75,0.5],
                                                                 p=[0.2,0.8],size=7))

nFrom,nTo="2020-05-20","2020-05-27"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.65,0.35],
                                                                 p=[0.2,0.8],size=7))

nFrom,nTo="2020-05-27","2020-06-03"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.7,0.3],
                                                                 p=[0.1,0.9],size=7))

nFrom,nTo="2020-06-03","2020-07-03"
nCases=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.1,0.05],
                                                                 p=[0.1,0.9],size=30))

# ================================
# - Generate Synthetic Dataset - =
# ------ Column - hospital ----- =
# ================================

nHospital,nICU,nColumn=1,1,"hospital"

nTo,nFrom="2020-02-28","2020-02-27"
fCovid19(nFrom,nTo,nColumn,[nHospital])

nFrom,nTo="2020-02-28","2020-03-11"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(35,size=12))

nFrom,nTo="2020-03-11","2020-03-28"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(18,size=17))

nFrom,nTo="2020-03-28","2020-04-22"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[6,5,4],
                                                                    p=[0.3,0.3,0.4],size=25))

nFrom,nTo="2020-04-22","2020-04-30"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[4,2,1],
                                                                    p=[0.3,0.3,0.4],size=8))

nFrom,nTo="2020-04-30","2020-05-07"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1,0.5],
                                                                    p=[0.4,0.6],size=7))

nFrom,nTo="2020-05-07","2020-05-13"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1,0.5],
                                                                    p=[0.4,0.6],size=6))

nFrom,nTo="2020-05-13","2020-05-20"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.9,0.3],
                                                                    p=[0.4,0.6],size=7))

nFrom,nTo="2020-05-20","2020-05-27"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.5,0.4],
                                                                    p=[0.3,0.7],size=7))

nFrom,nTo="2020-05-27","2020-06-03"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.3,0.2],
                                                                    p=[0.3,0.7],size=7))

nFrom,nTo="2020-06-03","2020-07-03"
nHospital=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.01,0.05],
                                                                    p=[0.3,0.7],size=30))

# ================================
# - Generate Synthetic Dataset - =
# -------- Column - icu -------- =
# ================================

nColumn="icu"

nTo,nFrom="2020-02-28","2020-02-27"
fCovid19(nFrom,nTo,nColumn,[nICU])

nFrom,nTo="2020-02-28","2020-03-20"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(5,size=21))

nFrom,nTo="2020-03-20","2020-03-27"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(55,size=7))

nFrom,nTo="2020-03-27","2020-04-11"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(10,size=15))

nFrom,nTo="2020-04-11","2020-04-30"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(2,size=19))

nFrom,nTo="2020-04-30","2020-05-07"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1],p=[0.3,0.7],size=7))

nFrom,nTo="2020-05-07","2020-06-03"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1],p=[0.3,0.7],size=27))

nFrom,nTo="2020-06-03","2020-07-03"
nICU=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1],p=[0.3,0.7],size=30))

# ================================
# - Generate Synthetic Dataset - =
# ------- Column - deaths ------ =
# ================================

nDeaths,nColumn=0,"deaths"

nTo,nFrom="2020-03-10","2020-02-27"
fCovid19(nFrom,nTo,nColumn,[nDeaths]*12)

nDeaths=1
nFrom,nTo="2020-03-10","2020-03-11"
fCovid19(nFrom,nTo,nColumn,[nDeaths])

nFrom,nTo="2020-03-11","2020-03-29"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(27,size=18))

nFrom,nTo="2020-03-29","2020-04-16"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(10,size=18))

nFrom,nTo="2020-04-16","2020-05-06"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().poisson(5,size=20))

nFrom,nTo="2020-05-06","2020-05-13"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[1,0.5],p=[0.7,0.3],size=7))

nFrom,nTo="2020-05-13","2020-05-20"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.8,0.3],p=[0.7,0.3],size=7))

nFrom,nTo="2020-05-20","2020-05-27"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.8,0.3],p=[0.7,0.3],size=7))

nFrom,nTo="2020-05-27","2020-06-03"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.3,0.2],p=[0.5,0.5],size=8))

nFrom,nTo="2020-06-03","2020-07-03"
nDeaths=fCovid19(nFrom,nTo,nColumn,np.random.default_rng().choice(a=[0.2,0.1,0.0],p=[0.5,0.3,0.2],size=30))

# permanently remove temporary columns
dfCovid19.drop("C_DIFF",axis=1,inplace=True)
dfCovid19.drop("C_PCGR",axis=1,inplace=True)
dfCovid19.drop("H_DIFF",axis=1,inplace=True)
dfCovid19.drop("H_PCGR",axis=1,inplace=True)
dfCovid19.drop("I_DIFF",axis=1,inplace=True)
dfCovid19.drop("I_PCGR",axis=1,inplace=True)
dfCovid19.drop("D_DIFF",axis=1,inplace=True)
dfCovid19.drop("D_PCGR",axis=1,inplace=True)

## END

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 2](#task-2) | [Task 3](#task-3) | [References](#references) >
<a id="task-4"></a>
***
## Task 4
### Implement Simulation.
***

In [62]:
dfCovid19

            cases hospital  icu deaths
2020-02-28      1        1    1      0
2020-02-29      1        1    1      0
2020-03-01      1        2    1      0
2020-03-02      1        2    1      0
2020-03-03      2        3    1      0
2020-03-04      5        4    1      0
2020-03-05     12        6    1      0
2020-03-06     16        8    1      0
2020-03-07     21       10    2      0
2020-03-08     28       13    2      0
2020-03-09     36       18    2      0
2020-03-10     46       25    2      0
2020-03-11     62       32    2      1
2020-03-12     82       38    2      1
2020-03-13    101       45    2      2
2020-03-14    134       50    2      2
2020-03-15    180       59    2      2
2020-03-16    233       67    2      3
2020-03-17    320       80    2      4
2020-03-18    400       92    2      4
2020-03-19    516      106    3      5
2020-03-20    686      123    3      8
2020-03-21    919      138    5      9
2020-03-22   1296      162    7     11
2020-03-23   1672      191   11     14
2020-03-24   1923      218   19     19
2020-03-25   2192      272   28     24
2020-03-26   2587      324   41     30
2020-03-27   2975      401   59     39
2020-03-28   3480      437   65     46
2020-03-29   4002      459   73     62
2020-03-30   4602      477   79     69
2020-03-31   5155      501   87     73
2020-04-01   5825      526   94     82
2020-04-02   6931      558  105     91
2020-04-03   7278      580  114    100
2020-04-04   8006      615  132    107
2020-04-05   9207      639  140    111
2020-04-06  10127      665  157    125
2020-04-07  11748      705  172    135
2020-04-08  12347      733  202    142
2020-04-09  12606      762  224    158
2020-04-10  13249      808  244    177
2020-04-11  13925      840  269    193
2020-04-12  14775      891  272    210
2020-04-13  15824      926  277    235
2020-04-14  16789      964  277    254
2020-04-15  17645     1021  283    272
2020-04-16  17839     1072  288    304
2020-04-17  18017     1115  288    325
2020-04-18  18378     1171  297    342
2020-04-19  18745     1218  303    362
2020-04-20  19120     1267  312    391
2020-04-21  19407     1343  315    422
2020-04-22  19795     1410  315    439
2020-04-23  20191     1438  325    452
2020-04-24  20494     1453  331    489
2020-04-25  20699     1482  341    503
2020-04-26  21113     1541  344    548
2020-04-27  21430     1556  355    576
2020-04-28  21751     1619  362    605
2020-04-29  21968     1635  365    623
2020-04-30  22298     1667  365    673
2020-05-01  22632     1675  366    700
2020-05-02  22972     1684  366    735
2020-05-03  23317     1692  366    749
2020-05-04  23550     1709  367    764
2020-05-05  23903     1718  368    818
2020-05-06  24261     1726  368    867
2020-05-07  24625     1735  369    871
2020-05-08  24871     1744  369    876
2020-05-09  25120     1752  370    884
2020-05-10  25371     1761  370    893
2020-05-11  25625     1770  371    902
2020-05-12  26009     1788  371    911
2020-05-13  26269     1797  372    916
2020-05-14  26400     1802  372    923
2020-05-15  26532     1819  373    931
2020-05-16  26665     1824  373    938
2020-05-17  26798     1830  374    941
2020-05-18  26932     1846  375    949
2020-05-19  27067     1852  375    956
2020-05-20  27270     1857  375    964
2020-05-21  27365     1864  376    967
2020-05-22  27461     1872  376    970
2020-05-23  27557     1881  377    978
2020-05-24  27654     1889  378    985
2020-05-25  27751     1896  378    993
2020-05-26  27848     1904  379   1001
2020-05-27  27945     1912  379   1004
2020-05-28  28029     1918  379   1006
2020-05-29  28113     1923  380   1008
2020-05-30  28197     1927  381   1011
2020-05-31  28282     1931  381   1013
2020-06-01  28480     1935  381   1015
2020-06-02  28565     1939  382   1018
2020-06-03  28651     1945  383   1020
2020-06-04  28665     1946  383   1022
2020-06-05  28680     1947  384   1023
2020-06-06  28708     1947  385   1023
2020-06-07  28723     1948  385   1025
2020-06-08  28751     1949  386   1027
2020-06-09  28766     1950  386   1029
2020-06-10  28780     1951  387   1030
2020-06-11  28795     1952  388   1031
2020-06-12  28809     1952  388   1032
2020-06-13  28838     1952  389   1034
2020-06-14  28852     1953  390   1036
2020-06-15  28867     1954  390   1039
2020-06-16  28881     1955  391   1041
2020-06-17  28895     1955  391   1041
2020-06-18  28910     1955  392   1043
2020-06-19  28924     1956  392   1045
2020-06-20  28939     1957  392   1045
2020-06-21  28953     1958  393   1046
2020-06-22  28968     1959  393   1048
2020-06-23  28997     1959  393   1049
2020-06-24  29011     1960  394   1050
2020-06-25  29026     1961  395   1052
2020-06-26  29040     1962  395   1054
2020-06-27  29055     1963  395   1054
2020-06-28  29069     1964  396   1054
2020-06-29  29084     1965  396   1056
2020-06-30  29098     1965  397   1057
2020-07-01  29113     1966  397   1059
2020-07-02  29128     1967  398   1061
2020-07-03  29142     1967  399   1062

## END

< [Problem statement](#top) | [README](https://github.com/E6985/pda-numpy-random-simulation/blob/main/README.md) | [Project Plan](#project-plan) | [Task 1](#task-1) | [Task 2](#task-2) | [Task 3](#task-3) | [Task 4](#task-4) >
<a id="references"></a>
***
## References
***
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[1] International Standards Organisation, "ISO 8601 Date and time format," [iso](https://web.archive.org/web/20201218180141/https://www.iso.org/iso-8601-date-and-time-format.html), n.d.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2] H. Malmedal, "Range of Dates (1999-01 — 2012-12)?," [tex.stackexchange](https://web.archive.org/web/20201214104244/https://tex.stackexchange.com/questions/54859/range-of-dates-1999-01-2012-12?noredirect=1&lq=1), May 2012.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[3] Wolfram "Closed Interval," [mathworld.wolfram](https://web.archive.org/web/20201214104047/https://mathworld.wolfram.com/ClosedInterval.html), n.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[4] Wolfram, "Half-Closed Interval," [mathworld.wolfram](https://web.archive.org/web/20201106190646/https://mathworld.wolfram.com/Half-ClosedInterval.html), Ootober 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[5] Department of Health, "Statement from the National Public Health Emergency Team - Saturday 29 February," [gov](http://web.archive.org/web/20201207174242/https://www.gov.ie/en/press-release/2f75fd-statement-from-the-national-public-health-emergency-team-sat-29-feb), February 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[6] Department of Health, "Statement from the National Public Health Emergency Team - Thursday 22 October," [gov](https://web.archive.org/web/20201211153653/https://www.gov.ie/en/press-release/6eb15-statement-from-the-national-public-health-emergency-team-thursday-22-october), October 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[7] Anaconda (date_range), "pandas.core.indexes.datetimes," Docstring, June 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[8] Anaconda (DataFrame), "pandas.core.frame," Docstring, June 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[9] Government of Ireland, "Ireland's National Action Plan in response to COVID-19 (Coronavirus)," [emergencyplanning](http://web.archive.org/web/20201207192548/https://www.emergencyplanning.ie/en), p. 1, March 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[10] P. Nolan (IEMAG), "Live update on new coronavirus cases confirmed in Ireland (30/03/2020)," [VirginMediaNews](https://web.archive.org/web/20201207122857if_/https://www.facebook.com/VirginMediaNews/videos/203845624391502), March 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[11] F. Kelly, J. Power, "Harris challenges HSE to speed up turnaround time for Covid-19 test results," [irishtimes](https://web.archive.org/web/20201211160620/https://www.irishtimes.com/news/health/coronavirus/harris-challenges-hse-to-speed-up-turnaround-time-for-covid-19-test-results-1.4228062), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[12] Department of Health, "Statement from the National Public Health Emergency Team - Friday 10 April," [gov](https://web.archive.org/web/20201211152829/https://www.gov.ie/en/press-release/895657-statement-from-the-national-public-health-emergency-team-friday-10-a), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[13] Department of Health, "Statement from the National Public Health Emergency Team - Saturday 11 April," [gov](https://web.archive.org/web/20201211152726/https://www.gov.ie/en/press-release/28cb70-statement-from-the-national-public-health-emergency-team-saturday-11), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[14] Department of Health, "Statement from the National Public Health Emergency Team - Sunday 12 April," [gov](https://web.archive.org/web/20200815205120/https://www.gov.ie/en/press-release/ecbc11-statement-from-the-national-public-health-emergency-team-sunday-12-a), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[15] Department of Health, "Statement from the National Public Health Emergency Team - Monday 13 April," [gov](https://web.archive.org/web/20201211152442/https://www.gov.ie/en/press-release/466968-statement-from-the-national-public-health-emergency-team-monday-13-a), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[16] Department of Health, "Statement from the National Public Health Emergency Team - Tuesday 14 April," [gov](https://web.archive.org/web/20201211152331/https://www.gov.ie/en/press-release/17f5cb-statement-from-the-national-public-health-emergency-team-tuesday-14-), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[17] Department of Health, "Statement from the National Public Health Emergency Team - Wednesday 15 April," [gov](https://web.archive.org/web/20201211152121/https://www.gov.ie/en/press-release/e2be7b-statement-from-the-national-public-health-emergency-team-wednesday-1), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[18] Department of Health, "Statement from the National Public Health Emergency Team - Thursday 16 April," [gov](https://web.archive.org/web/20201211152034/https://www.gov.ie/en/press-release/0906df-statement-from-the-national-public-health-emergency-team-thursday-16), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[19] Department of Health, "Statement from the National Public Health Emergency Team - Friday 17 April," [gov](https://web.archive.org/web/20201211151911/https://www.gov.ie/en/press-release/78ca7b-statement-from-the-national-public-health-emergency-team-friday-17-a), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[20] Department of Health, "Statement from the National Public Health Emergency Team - Saturday 18 April," [gov](https://web.archive.org/web/20201211151747/https://www.gov.ie/en/press-release/03791b-statement-from-the-national-public-health-emergency-team-saturday-18), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[21] Department of Health, "Statement from the National Public Health Emergency Team - Sunday 19 April," [gov](https://web.archive.org/web/20201211151409/https://www.gov.ie/en/press-release/2ebc1a-statement-from-the-national-public-health-emergency-team-sunday-19-a), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[22] P. Nolan (IEMAG), "LIVE: Health officials confirm latest number of coronavirus cases and deaths (16/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207123500if_/https://www.facebook.com/VirginMediaNews/videos/242266480512521), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[23] Department of Health, "COVID-19 modelling data - Thursday 16 April 2020," [gov](https://web.archive.org/web/20201119120437/https://www.gov.ie/en/publication/ea86cc-covid-19-modelling-data-thursday-16-april-2020), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[24] Department of Health, "Statement from the National Public Health Emergency Team - Sunday 1 March," [gov](https://web.archive.org/web/20201115152802/https://www.gov.ie/en/press-release/9771d5-statement-from-the-national-public-health-emergency-team), March 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[25] Department of Health, "Statement from the National Public Health Emergency Team - Monday 2 March," [gov](https://web.archive.org/web/20201229114816/https://www.gov.ie/en/press-release/6b8e25-statement-from-the-national-public-health-emergency-team-monday-2-ma), March 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[26] P. Leahy, P. Cullen, S. Lynch, F. Kelly, "Coronavirus: Schools, colleges and childcare facilities in Ireland to shut," [irishtimes](https://www.irishtimes.com/news/health/coronavirus-schools-colleges-and-childcare-facilities-in-ireland-to-shut-1.4200977), March 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[27] Anaconda (poisson), "numpy.random.Generator," Docstring, June 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[28] Department of Health, "COVID-19 modelling data - Thursday 30 April 2020," [gov](https://web.archive.org/web/20201101052836/https://www.gov.ie/en/publication/fed29a-covid-19-modelling-data-thursday-30-april-2020), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [29] P. Nolan (IEMAG), "LIVE: Daily coronavirus update from the Department of Health (30/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207140237if_/https://www.facebook.com/VirginMediaNews/videos/184315165952881), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[30] Citizens Information, "New measures to combat COVID-19 from midnight on 27 March 2020," [citizensinformation](http://web.archive.org/web/20201215124651/https://whatsnew.citizensinformation.ie/2020/03/27/new-measures-to-combat-covid-19-from-midnight-on-27-march-2020), March 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[31] P. Nolan (IEMAG), "LIVE: Daily briefing on coronavirus in Ireland (23/04/2020)," [VirginMediaNews](https://web.archive.org/web/20201207120754if_/https://www.facebook.com/VirginMediaNews/videos/877654396048507), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[32] Department of Health, "COVID-19 modelling data - Thursday 23 April 2020," [gov](https://web.archive.org/web/20201020115335/https://www.gov.ie/en/publication/a950be-covid-19-modelling-data-thursday-23-april-2020), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[33] A. Conneely, [rte](https://web.archive.org/web/20201214152703/https://www.rte.ie/news/2020/0423/1134474-nursing-homes-staffing), "Nursing homes fear staff shortages after recent testing blitz," April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[34] D. O'Donnell (RTE), "HSE says 'zero backlog' in Covid-19 testing," [rte](https://web.archive.org/web/20201018110138/https://www.rte.ie/news/2020/0419/1132402-nursing-home-mortality-census-virus), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[35] Department of Health, "Statement from the National Public Health Emergency Team - Wednesday 22 April," [gov](https://web.archive.org/web/20201214163201/https://www.gov.ie/en/press-release/d7aa52-statement-from-the-national-public-health-emergency-team-wednesday-2), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[36] Department of Health, "Statement from the National Public Health Emergency Team - Thursday 23 April," [gov](https://web.archive.org/web/20201214163155/https://www.gov.ie/en/press-release/f4ad12-statement-from-the-national-public-health-emergency-team-thursday-23), April 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[37] P. Nolan (IEMAG), "LIVE at the daily coronavirus briefing as health officials give an update (07/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124157if_/https://www.facebook.com/VirginMediaNews/videos/646196552888811), May 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[38] Department of Health, "Statement from the National Public Health Emergency Team - Thursday 7 May," [gov](https://web.archive.org/web/20201115150414/https://www.gov.ie/en/press-release/fe4551-statement-from-the-national-public-emergency-team-7-may), May 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[39] Anaconda (choice), "numpy.random.Generator," Docstring, June 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[40] P. Nolan (IEMAG), "LIVE: Latest coronavirus cases and deaths announced (14/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124525if_/https://www.facebook.com/VirginMediaNews/videos/663783837807950), May 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[41] RTE, "Investigation over bulk reporting of virus cases at Mater Hospital," [RTE](https://web.archive.org/web/20201221071817/https://www.rte.ie/news/coronavirus/2020/0515/1138612-covid19-coronavirus-tests), May 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[42]  Department of Health, "Statement from the National Public Health Emergency Team - Thursday 14 May," [gov](https://web.archive.org/web/20201221053711/https://www.gov.ie/en/press-release/d65820-statement-from-the-national-public-health-emergency-team-thursday-14), May 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[43] RTE, "Covid-19: Five further deaths, 38 additional cases," [rte](https://web.archive.org/web/20201201174455/https://www.rte.ie/news/coronavirus/2020/0604/1145491-ireland-virus-figures), June 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[44] P. Nolan (IEMAG), "We’re LIVE as health officials give an update on coronavirus in Ireland (28/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207124952if_/https://www.facebook.com/VirginMediaNews/videos/2472265849750287), May 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[45] Department of the Taoiseach, "Government publishes roadmap to ease COVID-19 restrictions & reopen Ireland’s society & economy," [gov](https://web.archive.org/web/20201222150326/https://www.gov.ie/en/press-release/e5e599-government-publishes-roadmap-to-ease-covid-19-restrictions-and-reope/#phase-1-18-may), May 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[46] P. Nolan (IEMAG), "LIVE: Update on coronavirus in Ireland (21/05/2020)," [VirginMediaNews](https://web.archive.org/web/20201207135558/https://www.facebook.com/VirginMediaNews/videos/286447475729598), May 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[47] P. Nolan (IEMAG), "LIVE: Daily coronavirus briefing – latest cases, deaths & trends (04/06/2020)," [VirginMediaNews](https://web.archive.org/web/20201207125225if_/https://www.facebook.com/VirginMediaNews/videos/366570967651659), June 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[48] P. Nolan (IEMAG), "Department of Health briefing on Covid-19 (06/11/2020)," [rte](https://www.youtube.com/watch?v=ykT6gPC4XAU), June 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[49] P. Nolan (IEMAG), "LIVE: COVID-19 briefing as health officials confirm latest cases, deaths & trends (18/06/2020)," [VirginMediaNews](https://web.archive.org/web/20201207130443if_/https://www.facebook.com/VirginMediaNews/videos/3366215196746021), June 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[50] P. Nolan (IEMAG), "LIVE: Coronavirus press briefing as latest cases, deaths & trends are confirmed (02/07/2020)," [VirginMediaNews](https://web.archive.org/web/20201207131030if_/https://www.facebook.com/VirginMediaNews/videos/327752801951242), July 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[51] P. Nolan (IEMAG), "Watch LIVE as the latest coronavirus cases, deaths and trends are announced (23/07/2020)," [VirginMediaNews](https://web.archive.org/web/20201207131431if_/https://www.facebook.com/VirginMediaNews/videos/905971223258186), July 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[52] E. Faller, "The Presentation & Diagnosis of the First Known Community-Transmitted Case of SARS-CoV-2 in the R. of Ireland," [imj](https://web.archive.org/web/20201222144135/http://www.imj.ie/wp-content/uploads/2020/07/The-Presentation-Diagnosis-of-The-First-Known-Community-Transmitted-Case-of-SARS-CoV-2-in-the-Republic-of-Ireland.pdf), March 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[53] P. Nolan (IEMAG), "Twitter Post (No Title) - 21st May," [twitter](https://web.archive.org/web/20201221121700/https://twitter.com/President_MU/status/1263547672369278983/photo/1), May 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[54] Department of Health, "New measures to combat COVID-19 from midnight on 27 March 2020," [gov](https://web.archive.org/web/20201215124651/https://whatsnew.citizensinformation.ie/2020/03/27/new-measures-to-combat-covid-19-from-midnight-on-27-march-2020), March 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[55] P. Nolan (IEMAG), "Twitter Post (No Title)," [twitter](https://web.archive.org/web/20201217084554/https://twitter.com/President_MU/status/1257729864993562624/photo/1), May 2020.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[56] Department of Health, "Statement from the National Public Health Emergency Team - Wednesday 11 March,"[gov](https://web.archive.org/web/20201115152507/https://www.gov.ie/en/press-release/451b35-statement-from-the-national-public-health-emergency-team-wednesday-1), March 2020.
***

## END

# END JUPYTER NOTEBOOK